@charset "utf-8";
.time_top{
	border-top: 0.2rem solid #f2f2f2;

}
.time_top h2{
	font-size: 0.34rem;
	color: #333;
	font-weight: bold;
	text-align: center;
	margin-top: 0.4rem;
		margin-bottom: 0.52rem;
}
.time_top ul{
	margin-left: 0.3rem;
	width: 6.9rem;
	margin:0px auto;
	border-top: 1px #e6e6e6 solid;
	border-bottom: 1px #e6e6e6 solid;
	padding-bottom: 0.4rem;
}
.time_top ul li{
	font-size:0.24rem; 
	color:#666;
	margin-top: 0.24rem;
}
.time_top ul li span{
	font-size: 0.34rem;
	color: #333;
	margin:0rem 0.34rem;
	display: inline-block;
	margin-top: 0.2rem;
}
.suopiao ul{
	width: 4.4rem;
	margin:0px auto;
	margin-top: 0.46rem;
}
.suopiao li{
	width: 1.95rem;
	display: inline-block;
	line-height: 0.78rem;

	border-radius: 0.05rem;
	overflow: hidden;
}

.suopiao ul li a{
	height: 0.81rem;
	font-size: 0.24rem;
	color:#fff;
	background:url(../images/shouzhi.png) no-repeat 1.4rem center #de3131;
	display: block;
	background-size: 0.25rem 0.30rem;
	line-height: 0.78rem;
	text-indent: 0.32rem;
}
.suopiao ul li:last-child a{
	height: 0.78rem;
	font-size: 0.24rem;
	border:#de3131 1px solid;
	background: #fff;
	color: #de3131;
	display: block;
	text-indent: 0.43rem;
	border-radius: 0.05rem;
}
.suopiao_li{
	margin-left: 0.39rem;
}
.sp{
	width: 4.4rem;
	margin:0px auto;
	height: 0.34rem;
	display: block;
	font-size: 0.24rem;
	color: #666;
	background:url(../images/jianso.png)no-repeat  ;
	background-size: 0.31rem 0.31rem;
	line-height: 0.34rem;
	text-indent: 0.4rem;
	margin-top: 0.27rem;

}
.suopiao{
	padding-bottom: 0.4rem;
}

.column_top{
	height: 0.79rem;
	background-color: #f6f6f8;
}
.column_top ul{
	display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.column_top ul li{
	width: 25%;
	text-align: center;
	float: left;
	line-height: 0.79rem;
	font-size: 0.24rem;
	color: #666;
}
.column_top ul li:first-child a{
	color: #de3131;
    border-bottom: 0.03rem solid #de3131;
    padding-bottom: 0.23rem;
}
.column_top ul li a{
	font-size: 0.24rem;
	color: #666;
}
.column_top ul li a:hover{
	color: #de3131;
	border-bottom:0.03rem solid #de3131;
	padding-bottom: 0.23rem;
}
.jieshao{
	padding-bottom:0.3rem;
	border-bottom: 0.2rem solid #f2f2f2;
}
.jieshao h2,.guimo h2,.zhanpin h2,.renqun h2,.jingcai h2,.jiaotong h2{
	background: url(../images/xian_img1.png) no-repeat center !important;
	background-size: 2.63rem 0.01rem !important;
	text-align: center;
	font-size: 0.28rem;
	font-weight: bold;
	height: 1rem;
	line-height: 1rem;
	width: 6.9rem;
	margin:0 auto;
}
.jieshao p{
	width: 6.9rem;
	margin: 0 auto;
	font-size:0.24rem; 
	color:#666;
	display: block;
	text-align: justify;
	line-height: 0.37rem;
	border-top: 1px #ccc dashed ;
	padding-top: 0.35rem;
}
.jieshao_cont{
	width: 6.9rem;
	margin: 0 auto;
}
.jieshao_cont h3,.zhanpin_cont h3{
	font-size: 0.26rem;
	color: #333;
	display: block;
	margin-top: 0.38rem;
	margin-bottom: 0.38rem;
	height: 0.4rem;
	line-height: 0.4rem;
}
.jieshao_cont h3 span,.zhanpin_cont h3 span{
	height: 0.24rem;
	width: 0.03rem;
	background-color: #de3131;
	display: inline-block;
	
	margin-right: 0.19rem;
}
.guimo{
	padding-bottom:0.3rem;
	border-bottom: 0.2rem solid #f2f2f2;
}
.guimo ul{
	width: 6.9rem;
	margin: 0 auto;
	display: flex;
    justify-content: space-between;
    padding: 0.12rem 0;
    border-top: 1px #ccc dashed ;
    padding-top: 0.36rem;
}
.guimo ul li{
	width: 2.23rem;
	height: 1.56rem;
	background-color: #f6f6f6;
	border-radius:0.1rem;
	text-align: center;
}
.guimo ul li h1{
	padding-top: 0.37rem;
	color: #de3131;
	font-size: 0.46rem;
}
/**/
.guimo ul li h3{
	font-size: 0.22rem;
	color: #666;
	margin-top: 0.2rem;
}
.zhanpin{
	
	padding-bottom: 0.3rem;
	border-bottom: 0.2rem solid #f2f2f2;
}
.zhanpin_cont{
	width: 6.9rem;
	margin:0 auto;
	border-top: 1px #ccc dashed ;
}
.jiaotong_cont{
	width:100%;
}
.jiaotong_cont h3{
	width: 6.9rem;
	margin:0 auto;
	font-size: 0.26rem;
    color: #333;
    display: block;
    margin-top: 0.38rem;
    margin-bottom: 0.38rem;
}
#allmap{width:90%;height:300px;}
.jiaotong_cont h3 span{
    height: 0.24rem;
    width: 0.03rem;
    background-color: #de3131;
    display: inline-block;
    margin-right: 0.19rem;
}
.jiaotong_cont p {
    width: 6.9rem;
    margin: 0 auto;
    font-size: 0.24rem;
    color: #666;
    display: block;
    text-align: justify;
    line-height: 0.37rem;
}
.jiaotong h2{
	width: 6.9rem;
	margin:0 auto;
	border-bottom: 1px #ccc dashed ;
}
.zhanpin_bt{
	font-size: 0.24rem !important;
	color: #666 !important;
	background:url(../images/biaoti_img1.png) no-repeat;
	background-size: 1.16rem 0.4rem;
	text-indent: 0.22rem;
	margin-bottom:0.17rem !important;

}
.zhanpin_cont p{
	width: 6.9rem;
	margin: 0 auto;
	font-size:0.24rem; 
	color:#666;
	display: block;
	text-align: justify;
	line-height: 0.37rem;

}
.zhanpin h2{
	
}
.bt2{
	background:url(../images/biaoti_img2.png) no-repeat;
	background-size: 1.45rem 0.4rem;
}
.bt3{
	background:url(../images/biaoti_img3.png) no-repeat;
	background-size: 1.67rem 0.4rem;	
}
.bt4{
	background:url(../images/biaoti_img4.png) no-repeat;
	background-size: 1.89rem 0.4rem;
}
.renqun{
	padding-bottom: 0.3rem;
	border-bottom: 0.2rem solid #f2f2f2;
}
.jingcai h2{
	width: 6.9rem;
	margin:0 auto;
	border-bottom: 1px #ccc dashed ;
	margin-bottom:0.35rem;
}
.renqun .zhanpin_cont  h3{
	margin-bottom: 0.1rem;
}
.jing{
	margin-top: 0px !important;
	margin:0 auto;
	width: 6.9rem;

}
.jingcai,.jiaotong{
	padding-bottom: 0.1rem;
	border-bottom: 0.2rem solid #f2f2f2;
}
.jingcai_jop{
        width: 6.9rem;
        height: 4.6rem;
        
    }
.jishu{
		width: 1.21rem;
		height: 0.52rem;
		color: #fff;
}
.jishu span{
	color: #fff;
}

.jiaotong_cont ul{
	width: 6.9rem;
	margin: 0 auto;
	display: flex;
    justify-content: space-between;
    padding: 0.39rem 0;
}
.jiaotong_cont ul li{
	width: 1.95rem;
    display: inline-block;
    line-height: 0.78rem;
    border-radius: 0.05rem;
    overflow: hidden;
}
.jiaotong_cont ul li a{
	height: 0.78rem;
    font-size: 0.24rem;
    border: #de3131 1px solid;
    background: #fff;
    color: #de3131;
    display: block;
    text-indent: 0.43rem;
    border-radius: 0.05rem;
    line-height: 0.78rem;
}
.jiaotong_cont ul li:first-child a{
	height: 0.81rem;
    font-size: 0.24rem;
    color: #fff;
    background: url(../images/shouzhi.png) no-repeat 1.4rem center #de3131;
    display: block;
    background-size: 0.25rem 0.30rem;
    line-height: 0.78rem;
    text-indent: 0.32rem;
}
.tuijian h2{
	background:url(../images/tjian_img1.png) no-repeat center left ;
	background-size: 0.08rem 0.26rem;
}
.recommend{
	padding-top: 0.4rem;

    padding-bottom: 0.15rem;
}
/**/
.share{
	height: 1.41rem;
	background-color: #de3131;
	position: fixed;
	bottom: 0px;
	left: 0px;
	display: none;
	width: 100%;
	z-index: 999;
}
.share_cont{
	width: 6.9rem;
	margin:0 auto;
	height: 1.41rem;

}
.share_cont p{
	width: 0.93rem;
    margin: 0px auto;
    height: 0.46rem;
    display:inline-block;
    font-size: 0.24rem;
    color: #fff;
    background: url(../images/fenxiang.png)no-repeat;
    background-size: 0.31rem 0.31rem;
    line-height: 0.34rem;
    text-indent: 0.4rem;
    margin-top: 0.57rem;
    margin-left:0.3rem;
    float: left;
}
.share_cont ul{
	width: 4.71rem;
	margin-left: 2rem;
	display: flex;
    justify-content: space-between;
    padding-top: 0.37rem;
}
.share_cont ul li{
	width: 1.95rem;
    display: inline-block;
    line-height: 0.78rem;
    border-radius: 0.05rem;
    overflow: hidden;
}
.share_cont ul li:first-child a{
	height: 0.81rem;
    font-size: 0.24rem;
    color: #de3131;
    background: url(../images/shouzhi2.png) no-repeat 1.4rem center #fff;
    display: block;
    background-size: 0.25rem 0.30rem;
    line-height: 0.78rem;
    text-indent: 0.32rem;
    border-radius: 0.1rem;
}
.share_cont ul li:last-child a{
	height: 0.81rem;
    font-size: 0.24rem;
    color: #fff;
    display: block;
    line-height: 0.78rem;
    text-indent: 0.5rem;
    border:1px solid #fff;
    border-radius: 0.1rem;
}
.jingcai_cont{
	border-top: 1px #ccc dashed;
	width: 6.9rem;
	margin:0 auto;
	padding-top: 0.35rem;
}
.jieshao_cont p{
	border-top: none !important;
	padding-top: 0rem;
}
.share_box {
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 998;
    left: 0;
}
.share_box .share_content {
    background: #fff;
    width: 5.1rem;
    height: 2.76rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    border-radius: 0.1rem;
}
.share_content .share_close {
    position: absolute;
    right: 0.2rem;
    top: 0.15rem;
    width: 0.25rem;
    height: 0.26rem;
    background: url(../images/close_img1.png) no-repeat center;
    background-size: 0.25rem 0.26rem;
}
.share_content .tit {
    font-size: 0.26rem;
    color: #666;
    padding-top: 0.55rem;
    padding-bottom: 0.4rem;
}
.share_box .bdshare-button-style0-24 .bds_tsina {
    background: url(../images/xinlnag_img1.png) no-repeat center;
    background-size: 0.89rem 0.89rem;
     margin-left:0.2rem;
}
.share_box .bdshare-button-style0-24 .bds_weixin {
    background: url(../images/wechat_img1.png) no-repeat center;
    background-size: 0.89rem 0.89rem;
    margin-left:0.1rem;
}
.share_box .bdshare-button-style0-24 a, .share_box .bdshare-button-style0-24 .bds_more {
    width: 0.89rem;
    height: 0.89rem;
    padding: 0;
    display: inline-block;
   
}
.bdshare-button-style0-24 a {
    float: none!important;
}
.bdsharebuttonbox{
	width: 2.5rem;
	margin:0 auto;
}
.share_content p{
	text-align: center;
}
.ditu{

	width: 6.9rem;
	height: 5.5rem;
	margin:0 auto;
	border:#ccc solid 1px;
	margin-top: 0.36rem;
}
.ditu img{
	max-width: none !important;
}
.whysp{
	display: none;
	width: 6.9rem;
	height: 1.67rem;
	margin:0 auto;
	background:url(../images/whysp.png);
/*	box-shadow-left: 0px 0px 13px rgba(255,102,104,0.16);*/
	background-size:6.9rem,1.67rem; 
}
.whysp p{
	font-size: 0.24rem;
	color: #666;
	line-height: 0.37rem;
	width: 6.5rem;
	margin:0 auto;
	padding-top: 0.5rem;
}
.big{
	width: 100% !important;
}