@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	font-family: '微软雅黑'!important;
	line-height: 1em;
	color: #333;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	list-style: none;
	text-decoration: none;
	-webkit-text-size-adjust: none;
	word-break: break-word;
	word-wrap:break-word;
}
a {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}
dt {
	font-size: 0px;
}
img {
	max-width: 100%;
	border: none;
}
input, select, option, textarea {
	outline: none;
	resize: none;
	-webkit-appearance: none;
	border: none;
}
label {
	cursor: pointer;
}
.left{
	float: left!important;
}
.right{
	float: right!important;
}
.clear::after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}
