@charset "utf-8";
/*首页begin*/
.index_head{
	padding-top: 0.35rem;
	position: fixed;
	height: 1.3rem;
	top: 0;
	left: 0;
	right: 0;
	box-sizing: border-box;
	z-index: 2;
	background: #fff;
}
.index_head .logo{
	display: block;
	width: 1.67rem;
	height: 0.57rem;
	margin-right: 0.6rem;
	margin-left: 0.3rem;
}
.head_search input[type="text"]{
	width: 2.85rem;
	height: 0.64rem;
	background: url(../images/search_index.png) no-repeat 0.2rem center #f6f6f8;
	background-size: 0.27rem 0.26rem;
	border-radius: 3px;
	border-top-right-radius: 0.04rem;
	border-bottom-right-radius: 0.04rem;
	color: #666;
	font-size: 0.2rem;
	box-sizing: border-box;
	padding-left: 0.6rem;
}
.head_search input[type="submit"]{
	background: #de3131;
	border-radius: 3px;
	border-top-left-radius: 0.04rem;
	border-bottom-left-radius: 0.04rem;
	width: 0.73rem;
	height: 0.64rem;
	color: #fff;
	font-size: 0.24rem;
}
.index_navCen{
	position: relative;
}
.index_nav{
	width: 0.45rem;
	height: 0.45rem;
	background: url(../images/nav_index.png) no-repeat center;
	background-size: 0.45rem;
	margin-top: 0.09rem;
	margin-right: 0.3rem;
}
.index_nav_box{
	position: absolute;
	display: none;
	margin: 0;
    position: absolute;
    right: 0;
    width: 2.9rem;
    background: #d3d3d3;
    padding: 0.3rem 0;
    z-index: 999;
    top: 0.95rem;
}
.index_nav_box ul li a{
	margin-left: 0;
    display: block;
    font-size: 0.28rem;
    color: #a0a0a0;
    line-height: 0.8rem;
    height: 0.8rem;
    text-align: center;
    transition: .3s;
}
.float-background{
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0,.5);
    display: none;
    opacity: 0;
    visibility: hidden;
}
.index_fBlock{
	border-bottom: 0.2rem solid #f2f2f2;
}
.index_fBlock ul{
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}
.index_fBlock ul li{
	width: 25%;
	text-align: center;
}
.index_fBlock ul p{
	width: 0.9rem;
	height: 0.9rem;
	margin: 0 auto;
	margin-top: 0.45rem;
	margin-bottom: 0.2rem;
}
.index_fBlock ul span{
	font-size: 0.24rem;
	display: block;
	margin-bottom: 0.45rem;
}
.index_recommend{
	padding-top: 0.4rem;
	border-bottom: 0.2rem solid #f2f2f2;
	padding-bottom: 0.15rem;
}
.index_title{
	margin: 0 0.3rem 0.3rem;
}
.index_title h2{
	font-size: 0.3rem;
	font-weight: bold;
	float: left;
	padding-left: 0.23rem;
	background: url(../images/index_listBlock1.png) no-repeat center left;
	background-size: 0.08rem 0.26rem;
}
.index_title .more{
	display: block;
	float: right;
	font-size: 0.22rem;
	line-height: 0.3rem;
	padding-right: 0.28rem;
	background: url(../images/index_more.png) no-repeat center right;
	background-size: 0.1rem 0.18rem;
}
.index_recomBox ul::after,
.index_news ul::after{
	content: '';
	display: block;
	clear: both;
}
.index_recomBox ul{
	padding-top: 0.1rem;
}
.index_recomBox ul li{
	width: 3.3rem;
	height: 3.86rem;
	box-shadow: 0 0 0.07rem rgba(0,0,0,0.12);
	box-sizing: border-box;
	padding: 0.2rem;
	border-radius: 0.04rem;
	margin-bottom: 0.3rem;
	float: left;
	margin-left: 0.3rem;
}
.index_recomBox ul li .img{
	border-radius: 0.04rem;
	overflow: hidden;
	height: 1.99rem;
	display: block;
	font-size: 0;
}
.index_recomBox ul li .tit{
	font-size: 0.25rem;
	line-height: 0.44rem;
	height: auto;
	margin-top: 0.1rem;
	margin-bottom: 0.25rem;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}
.index_recomBox ul li .clear span,
.index_recomBox ul li .clear em{
	font-size: 0.2rem;
	display: block;
	color: #666;
	padding-left: 0.3rem;
}
.index_recomBox ul li .clear span{
	background: url(../images/index_address.png) no-repeat center left;
	background-size: 0.17rem 0.2rem;
	float: left;
}
.index_recomBox ul li .clear em{
	float: right;
	background: url(../images/index_time.png) no-repeat center left;
	background-size: 0.19rem 0.19rem;
}
.index_hot .index_title p{
	background: url(../images/index_listBlock2.png) no-repeat center left;
	background-size: 0.08rem 0.26rem;
}
.index_title ul{
	margin-right: 0.34rem;
}
.index_title  ul li{
	float: left;
	margin-left: 0.23rem;
}
.index_title ul li a{
	color: #999;
	font-size: 0.24rem;
	display: block;
	line-height: 0.3rem;
}
.index_strategy_nav.index_title ul .snon a,
.index_city_nav.index_title ul .snon a,
.index_news_nav.index_title ul .snon a{
	color: #de3131;
}
.index_putting{
	margin: 0 0.3rem;
	margin-bottom: 0.35rem;
	padding-top: 0.1rem;
}
.index_putting ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.index_putting li{
	width: 3.3rem;
	box-shadow: 0 0 0.07rem rgba(0,0,0,0.12);
}
.index_putting li p{
	width: 2.92rem;
	height: 2.6rem;
}
.index_putting li a{
	position: relative;
	width: 2.92rem;
	display: block;
	border-radius: 0.04rem;
	overflow: hidden;
	height: 2.6rem;
	margin: 0.22rem auto;
	font-size: 0;
}
.index_putting li span{
	position: absolute;
	width: 100%;
	height: 0.53rem;
	bottom: 0;
	z-index: 1;
	color: #fff;
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.53rem;
	background: rgba(0,0,0,0.54);
    padding: 0 0.2rem;
    overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}
.index_news ul li a{
	height: auto;
}
.index_news ul{
	box-shadow: 0 0 0.07rem rgba(0,0,0,0.12);
	margin: 0 0.3rem;
	margin-top: 0.1rem;
}
.index_news ul .index_news_t{
	width: 6.42rem;
	height: 2.95rem;
	margin: 0 auto;
	padding-top: 0.25rem;
	overflow: hidden;
	border-radius: 0.04rem;
	margin-bottom: 0.1rem;
	position: relative;
}
.index_news ul .index_news_t a{
	line-height: 1em;
	padding: 0;
}
.index_news ul .index_news_t .tit{
	background: rgba(0,0,0,0.54);
	line-height: 0.65rem;
	text-indent: 0.3rem; 
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	height: 0.65rem;
	width: 100%;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 0.3rem;
    box-sizing: border-box;
}
.index_news ul .index_news_t .tit::after{
	display: none;
}
.index_news ul{
	margin-bottom: 0.3rem;
	padding-bottom: 0.2rem;
}
.index_news ul .index_news_t a::before{
	display: none;
}
.index_news ul li{
	margin: 0 0.3rem;
}
.index_news ul li a{
	line-height: 0.66rem;
	padding-left: 0.25rem;
	display: block;
	box-sizing: border-box;
}
.index_news ul li a{
	font-size: 0.24rem;
	color: #666;
	position: relative;
	background: url(../images/news_list.png) no-repeat center right;
	background-size: 0.12rem 0.2rem;
	border-bottom: 1px solid #eee;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 1.3rem;
    box-sizing: border-box;
}
.index_news ul li:last-child a{
	border: none;
}
.index_news ul li a::after{
	content: '';
	display: block;
	width: 0.08rem;
	height: 0.08rem;
	background: #ccc;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	border-radius: 50%;
}
.index_news ul li a:hover{
	color: #de3131;
	background: url(../images/news_hover.png) no-repeat center right;
	background-size: 0.12rem 0.2rem;
}
.index_news ul li a:hover::after{
	background: #de3131;
}
.index_register ul{
	display: flex;
	justify-content: space-between;
	margin: 0 0.3rem;
	padding: 0.5rem 0; 
}
.index_register ul li{
	background: #fdf2e8;
	border-radius: 0.05rem;
	overflow: hidden;
	padding: 0.1rem;
	width: 3.3rem;
	box-sizing: border-box;
}
.index_register ul li a{
	display: block;
	height: 1.26rem;
	text-indent: 1.35rem;
	font-size: 0.24rem;
	background: url(../images/index_ftimg1.png) no-repeat 0.52rem center #de3131; 
	background-size: 0.45rem 0.53rem; 
	color: #fff;
	line-height: 1.26rem;
	border-radius: 0.05rem;
	overflow: hidden;
}
.index_register ul li:last-child{
	background: #fff0f0;
}
.index_register ul li:last-child a{
	background: url(../images/index_ftimg2.png) no-repeat 0.52rem center #fd676b; 
	background-size: 0.46rem 0.53rem; 
}
.footer{
	background: #3c3c3c;
	border-top: 0.03rem solid #de3131;
	text-align: center; 
	padding: 0.35rem 0;
}
.footer *{
	color: #fff;
}
.footer ul{
	display: inline-block;
	font-size: 0;
	margin-bottom: 0.3rem;
}
.footer ul li{
	display: inline-block;
	margin: 0.1rem;
	margin-top: 0;
}
.footer ul li a{
	font-size: 0.24rem;
	color: #fff;
}
.footer p{
	margin-bottom: 0.25rem;
	font-size: 0.24rem;
}
.footer em a{
	font-size: 0.24rem;
}
/*首页end*/
/*展会列表页 begin*/
.list_mess{
	margin-top: 1.3rem;
	border-top: 0.2rem solid #f2f2f2;
}
.list_screen{
	padding-top: 0.2rem;
}
.list_screen .list_sereenNav{
	display: flex;
	justify-content: space-between;
	padding: 0 0.3rem;
	border-bottom: 1px solid #eee;
}
.list_screen .list_sereenNav li{
	padding: 0.2rem 0;
	font-size: 0.28rem;
	font-weight: bold;
	padding-right: 0.35rem;
	background: url(../images/list_select.png) no-repeat center right;
	background-size: 0.18rem 0.1rem;
	position: relative;
}
.list_screen .list_sereenNav .snon{
	background: url(../images/list_selectHover.png) no-repeat center right;
	background-size: 0.18rem 0.1rem;
	color: #de3131;
}
.list_screen .list_sereenNav li::before{
	content: '';
	width: 1px;
	height: 0.22rem;
	position: absolute;
	left: 1.85rem;
	background: #e6e6e6;
}
.list_screen .list_sereenNav li:last-child::before{
	display: none;
}
.list_sereenMess .indu{
	background: #fff;
	padding-left: 0.3rem;
	position: absolute;
	box-shadow: 0 0.05rem 0.05rem rgba(0,0,0,0.04);
}
.list_sereenMess .indu .none{
	background: #f6f6f8;
	display: block;
	height: 0.62rem;
	line-height: 0.62rem;
	text-align: center;
	font-size: 0.24rem;
	margin-top: 0.27rem;
	border-radius: 0.04rem;
	margin-bottom: 0.3rem;
	margin-right: 0.3rem;
}
.list_sereenMess .indu p{
	font-size: 0.24rem;
	margin-bottom: 0.25rem;
}
.list_sereenMess .indu ul{
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
}
.list_sereenMess .indu ul li{
	font-size: 0.24rem;
	color: #666;
	width: 1.5rem;
	height: 0.67rem;
	line-height: 0.67rem;
	text-align: center;
	background: #f6f6f8;
	border-radius: 0.04rem;
	margin-bottom: 0.3rem;
	margin-right: 0.3rem
}
.list_sereenMess .indu ul li.snon{
	background: url(../images/list_active.png) no-repeat bottom right #fadec7;
	background-size: 0.29rem 0.33rem;
	color: #de3131;
}
.list_sereenMess .indu{
	padding-bottom: 0.5rem;
}
.list_sereenMess .list_sereenUp{
	display: block;
	width: 0.17rem;
	height: 0.18rem;
	font-size: 0;
	padding: 0 0.3rem;
	margin: 0 auto;
}
.list_sereen_box{
	display: none;
}
.list_page ul{
	font-size: 0;
	text-align: center;
}
.list_page ul li{
	display: inline-block;
	margin: 0 0.1rem;
}
.list_page ul li a{
	display: block;
	height: 0.52rem;
	text-align: center;
	line-height: 0.52rem;
	border: 1px solid #e6e6e6;
	font-size: 0.24rem;
	color: #666;
	padding: 0 0.15rem;
	border-radius: 0.1rem;
}
.list_mess.index_recommend{
	margin-top: 0;
	border: none;
}
.list_page{
	padding-bottom: 0.55rem;
}
/*展会列表页 end*/
/*Banner begin*/
.index_banner.swiper-wrapper{
	height: 4.21rem;
	max-width: 7.5rem;
}
.swiper-pagination{
	bottom: 0.17rem;
}
.swiper-pagination-bullet{
	width: 0.18rem;
	height: 0.18rem;
	display: inline-block;
	border-radius: 100px;
}
.swiper-wrapper a{
	font-size: 0;
	display: block;
	height: 4.21rem;
	background: no-repeat center;
	background-size: 7.5rem 4.21rem;
}
.swiper-container.index_banner{
	margin-top: 1.3rem;
}
.swiper-container-horizontal>.swiper-pagination-bullets{
	display: flex;
	justify-content: center;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
	margin: 0 0.05rem;
	width: 0.14rem;
	height: 0.14rem;
	box-sizing: border-box;
	border: 0.02rem solid #fff;
	background: none;
	opacity: 1;
	display: block;
	float: left;
	margin-top: 0.04rem;
	transition: all 0s;
	border-radius: 1000px;
	font-size: 0;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active{
	background: #db7f1d;
	width: 0.22rem;
	height: 0.22rem;
	opacity: 0.7;
	border: none!important;
	margin-top: 0;
	transition: all 0s;
	font-size: 0;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	overflow: auto;
	height: 0.24rem;
	transition: all 0s;
}
/*Banner end*/