@charset "utf-8";
/*首页begin*/
.index_head{
	padding-top: 0.35rem;
	position: fixed;
	height: 1.3rem;
	top: 0;
	left: 0;
	right: 0;
	box-sizing: border-box;
	z-index: 222;
	background: #fff;
}
.index_head .logo{
	display: block;
	width: 1.67rem;
	margin:0.1rem 0.6rem 0.1rem 0.3rem;
}
.head_search input[type="text"]{
	width: 2.25rem;
	height: 0.64rem;
	background: url(../images/search_index.png) no-repeat 0.2rem center #f6f6f8;
	background-size: 0.27rem 0.26rem;
	border-radius: 3px;
	padding: 0;
	border-top-right-radius: 0.04rem;
	border-bottom-right-radius: 0.04rem;
	color: #666;
	font-size: 0.24rem;
	padding-left: 0.6rem;
	line-height: 2;
    line-height: 0.64rem\8;
    display: block;
    outline: 0;
    -webkit-appearance: none;
}
.head_search input[type="submit"]{
	background: #de3131;
	border-radius: 3px;
	border-top-left-radius: 0.04rem;
	border-bottom-left-radius: 0.04rem;
	width: 0.73rem;
	height: 0.64rem;
	color: #fff;
	font-size: 0.24rem;
}
.index_navCen{
	position: relative;
}
.index_nav{
	width: 0.45rem;
	height: 0.45rem;
	background: url(../images/nav_index.png) no-repeat center;
	background-size: 0.45rem;
	margin-top: 0.09rem;
	margin-right: 0.3rem;
}
.index_nav_box{
	position: absolute;
	display: none;
	margin: 0;
    position: absolute;
    right: 0;
    width: 2.2rem;
    background: #f6f6f6;
    padding: 0.3rem 0;
    z-index: 999;
    top: 0.95rem;
}
.list_creen_result{
	/*display: none;*/
	margin-left: 0.3rem;
	margin-top: 0.3rem;
}
.list_creen_result *,
.list_creen_result{
	font-size: 0.28rem;
	color: #de3131;
}
.index_nav_box ul li a{
	margin-left: 0;
    display: block;
    font-size: 0.28rem;
    color: #666;
    line-height: 0.8rem;
    height: 0.8rem;
    text-align: center;
    transition: .3s;
}
.float-background{
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    background: rgba(0,0,0,.5);
    display: none;
    opacity: 0;
    visibility: hidden;
}
.index_fBlock{
	border-bottom: 0.2rem solid #f2f2f2;
}
.index_fBlock ul{
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}
.index_fBlock ul li{
	width: 25%;
	text-align: center;
}
.index_fBlock ul p{
	width: 0.9rem;
	height: 0.9rem;
	margin: 0 auto;
	margin-top: 0.45rem;
	margin-bottom: 0.2rem;
}
.index_fBlock ul span{
	font-size: 0.24rem;
	display: block;
	margin-bottom: 0.45rem;
}
.index_recommend{
	padding-top: 0.4rem;
	border-bottom: 0.2rem solid #f2f2f2;
	padding-bottom: 0.15rem;
}
.index_title{
	margin: 0 0.3rem 0.3rem;
}
.index_title h2{
	font-size: 0.3rem;
	font-weight: bold;
	float: left;
	padding-left: 0.23rem;
	background: url(../images/index_listBlock1.png) no-repeat center left;
	background-size: 0.08rem 0.26rem;
}
.index_title .more{
	display: block;
	float: right;
	font-size: 0.22rem;
	line-height: 0.3rem;
	padding-right: 0.28rem;
	background: url(../images/index_more.png) no-repeat center right;
	background-size: 0.1rem 0.18rem;
}
.index_recomBox ul::after,
.index_news ul::after{
	content: '';
	display: block;
	clear: both;
}
.index_recomBox ul{
	padding-top: 0.1rem;
}
.index_recomBox ul li{
	width: 3.3rem;
	height: 3.86rem;
	box-shadow: 0 0 0.07rem rgba(0,0,0,0.12);
	box-sizing: border-box;
	padding: 0.2rem;
	border-radius: 0.04rem;
	margin-bottom: 0.3rem;
	float: left;
	margin-left: 0.3rem;
}
.index_recomBox ul li .img{
	border-radius: 0.04rem;
	overflow: hidden;
	height: 1.99rem;
	display: block;
	font-size: 0;
}
.index_recomBox ul li .tit{
	font-size: 0.25rem;
	line-height: 0.44rem;
	height: auto;
	margin-top: 0.1rem;
	margin-bottom: 0.25rem;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}
.index_recomBox ul li .clear span,
.index_recomBox ul li .clear em{
	font-size: 0.2rem;
	display: block;
	color: #666;
	padding-left: 0.3rem;
}
.index_recomBox ul li .clear span{
	background: url(../images/index_address.png) no-repeat center left;
	background-size: 0.17rem 0.2rem;
	float: left;
}
.index_recomBox ul li .clear em{
	float: right;
	background: url(../images/index_time.png) no-repeat center left;
	background-size: 0.19rem 0.19rem;
}
.index_hot .index_title p{
	background: url(../images/index_listBlock2.png) no-repeat center left;
	background-size: 0.08rem 0.26rem;
}
.index_title ul{
	margin-right: 0.34rem;
}
.index_title  ul li{
	float: left;
	margin-left: 0.23rem;
}
.index_title ul li a{
	color: #999;
	font-size: 0.24rem;
	display: block;
	line-height: 0.3rem;
}
.index_strategy_nav.index_title ul .snon a,
.index_city_nav.index_title ul .snon a,
.index_news_nav.index_title ul .snon a{
	color: #de3131;
}
.index_putting{
	margin: 0 0.3rem;
	margin-bottom: 0.35rem;
	padding-top: 0.1rem;
}
.index_putting ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.index_putting li{
	width: 3.3rem;
	box-shadow: 0 0 0.07rem rgba(0,0,0,0.12);
}
.index_putting li p{
	width: 2.92rem;
	height: 2.6rem;
}
.index_putting li a{
	position: relative;
	width: 2.92rem;
	display: block;
	border-radius: 0.04rem;
	overflow: hidden;
	height: 2.6rem;
	margin: 0.22rem auto;
	font-size: 0;
}
.index_putting li span{
	position: absolute;
	width: 100%;
	height: 0.53rem;
	bottom: 0;
	z-index: 1;
	color: #fff;
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.53rem;
	background: rgba(0,0,0,0.54);
    padding: 0 0.2rem;
    overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}
.index_news ul li a{
	height: auto;
}
.index_news ul{
	box-shadow: 0 0 0.07rem rgba(0,0,0,0.12);
	margin: 0 0.3rem;
	margin-top: 0.1rem;
}
.index_news ul .index_news_t{
	width: 6.42rem;
	height: 2.95rem;
	margin: 0 auto;
	padding-top: 0.25rem;
	overflow: hidden;
	border-radius: 0.04rem;
	margin-bottom: 0.1rem;
	position: relative;
}
.index_news ul .index_news_t a{
	line-height: 1em;
	padding: 0;
}
.index_news ul .index_news_t .tit{
	background: rgba(0,0,0,0.54);
	line-height: 0.65rem;
	text-indent: 0.3rem; 
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	height: 0.65rem;
	width: 100%;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 0.3rem;
    box-sizing: border-box;
}
.index_news ul .index_news_t .tit::after{
	display: none;
}
.index_news ul{
	margin-bottom: 0.3rem;
	padding-bottom: 0.2rem;
}
.index_news ul .index_news_t a::before{
	display: none;
}
.index_news ul li{
	margin: 0 0.3rem;
}
.index_news ul li a{
	line-height: 0.66rem;
	padding-left: 0.25rem;
	display: block;
	box-sizing: border-box;
}
.index_news ul li a{
	font-size: 0.24rem;
	color: #666;
	position: relative;
	background: url(../images/news_list.png) no-repeat center right;
	background-size: 0.12rem 0.2rem;
	border-bottom: 1px solid #eee;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 1.3rem;
    box-sizing: border-box;
}
.index_news ul li:last-child a{
	border: none;
}
.index_news ul li a::after{
	content: '';
	display: block;
	width: 0.08rem;
	height: 0.08rem;
	background: #ccc;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	border-radius: 50%;
}
.index_news ul li a:hover{
	color: #de3131;
	background: url(../images/news_hover.png) no-repeat center right;
	background-size: 0.12rem 0.2rem;
}
.index_news ul li a:hover::after{
	background: #de3131;
}
.index_register ul{
	display: flex;
	justify-content: space-between;
	margin: 0 0.3rem;
	padding: 0.5rem 0; 
}
.index_register ul li{
	background: #fdf2e8;
	border-radius: 0.05rem;
	overflow: hidden;
	padding: 0.1rem;
	width: 3.3rem;
	box-sizing: border-box;
}
.index_register ul li a{
	display: block;
	height: 1.26rem;
	text-indent: 1.35rem;
	font-size: 0.24rem;
	background: url(../images/index_ftimg1.png) no-repeat 0.52rem center #de3131; 
	background-size: 0.45rem 0.53rem; 
	color: #fff;
	line-height: 1.26rem;
	border-radius: 0.05rem;
	overflow: hidden;
}
.index_register ul li:last-child{
	background: #fff0f0;
}
.index_register ul li:last-child a{
	background: url(../images/index_ftimg2.png) no-repeat 0.52rem center #fd676b; 
	background-size: 0.46rem 0.53rem; 
}
.footer{
	background: #3c3c3c;
	border-top: 0.03rem solid #de3131;
	text-align: center; 
	padding: 0.35rem 0;
}
.footer *{
	color: #fff;
}
.footer ul{
	display: inline-block;
	font-size: 0;
	margin-bottom: 0.3rem;
}
.footer ul li{
	display: inline-block;
	margin: 0.1rem;
	margin-top: 0;
}
.footer ul li a{
	font-size: 0.24rem;
	color: #fff;
}
.footer p{
	margin-bottom: 0.25rem;
	font-size: 0.24rem;
}
.footer em a{
	font-size: 0.24rem;
}
/*首页end*/
/*展会列表页 begin*/
.list_mess{
	margin-top: 1.3rem;
	border-top: 0.2rem solid #f2f2f2;
}
.list_screen{
	padding-top: 0.2rem;
}
.list_screen .list_sereenNav{
	display: flex;
	justify-content: space-between;
	padding: 0 0.3rem;
	border-bottom: 1px solid #eee;
}
.list_screen .list_sereenNav li{
	padding: 0.2rem 0;
	font-size: 0.28rem;
	font-weight: bold;
	padding-right: 0.35rem;
	background: url(../images/list_select.png) no-repeat center right;
	background-size: 0.18rem 0.1rem;
	position: relative;
}
.list_screen .list_sereenNav .snon{
	background: url(../images/list_selectHover.png) no-repeat center right;
	background-size: 0.18rem 0.1rem;
	color: #de3131;
}
.list_screen .list_sereenNav li::before{
	content: '';
	width: 1px;
	height: 0.22rem;
	position: absolute;
	left: 1.85rem;
	background: #e6e6e6;
}
.list_screen .list_sereenNav li:last-child::before{
	display: none;
}
.list_sereenMess .indu{
	background: #fff;
	padding-left: 0.3rem;
	position: absolute;
	box-shadow: 0 0.05rem 0.05rem rgba(0,0,0,0.04);
}
.list_sereenMess .indu .none{
	background: #f6f6f8;
	display: block;
	height: 0.62rem;
	line-height: 0.62rem;
	text-align: center;
	font-size: 0.24rem;
	margin-top: 0.27rem;
	border-radius: 0.04rem;
	margin-bottom: 0.3rem;
	margin-right: 0.3rem;
}
.list_sereenMess .indu p{
	font-size: 0.24rem;
	margin-bottom: 0.25rem;
}
.list_sereenMess .indu ul{
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
}
.list_sereenMess .indu ul li{
	font-size: 0.24rem;
	color: #666;
	width: 1.5rem;
	height: 0.67rem;
	line-height: 0.67rem;
	text-align: center;
	background: #f6f6f8;
	border-radius: 0.04rem;
	margin-bottom: 0.3rem;
	margin-right: 0.3rem
}
.list_sereenMess .indu ul li.snon,
.list_sereenMess .none.snon{
	background: url(../images/list_active.png) no-repeat bottom right #fadec7;
	background-size: 0.29rem 0.33rem;
	color: #de3131;
}
.list_sereenMess .indu{
	padding-bottom: 0.5rem;
}
.list_sereenMess .list_sereenUp{
	display: block;
	width: 0.17rem;
	height: 0.18rem;
	font-size: 0;
	padding: 0 0.3rem;
	margin: 0 auto;
}
.list_sereen_box{
	display: none;
}
.list_page ul{
	font-size: 0;
	text-align: center;
}
.list_page ul li{
	display: inline-block;
	margin: 0 0.1rem;
}
.list_page ul li a{
	display: block;
	text-align: center;
	border: 1px solid #e6e6e6;
	font-size: 0.24rem;
	color: #666;
	padding: 0.15rem 0.2rem;
	border-radius: 0.1rem;
}
.list_page ul .active a{
	background: #ed7c20;
	color: #fff;
	border-color: #ed7c20; 
}
.list_mess.index_recommend{
	margin-top: 0;
	border: none;
	padding-top: 0.2rem;
}
.list_page{
	padding-bottom: 0.55rem;
}
/*展会列表页 end*/
/*Banner begin*/
.index_banner.swiper-wrapper{
	height: 4.21rem;
	max-width: 7.5rem;
}
.swiper-pagination{
	bottom: 0.17rem;
}
.swiper-pagination-bullet{
	width: 0.18rem;
	height: 0.18rem;
	display: inline-block;
	border-radius: 100px;
}
.swiper-wrapper a{
	font-size: 0;
	display: block;
	height: 4.21rem;
	background: no-repeat center;
	background-size: 7.5rem 4.21rem;
}
.swiper-container.index_banner{
	margin-top: 1.3rem;
}
.swiper-container-horizontal>.swiper-pagination-bullets{
	display: flex;
	justify-content: center;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
	margin: 0 0.05rem;
	width: 6px;
	height: 6px;
	box-sizing: border-box;
	border: 0.02rem solid #fff;
	background: none;
	opacity: 1;
	display: block;
	float: left;
	margin-top: 0.04rem;
	transition: all 0s;
	border-radius: 1000px;
	font-size: 0;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active{
	background: #DE3131;
	width: 10px;
	height: 10px;
	opacity: 0.7;
	border: none!important;
	margin-top: 0;
	transition: all 0s;
	font-size: 0;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	overflow: auto;
	height: 0.24rem;
	transition: all 0s;
}
/*Banner end*/





































.clear{clear:both;}

.g-form
{
	width:100%;
	position:relative;
	margin-top:1.3rem;
	z-index: 1;
}
.g-form .imgs
{
	width:100%;
	position:relative;
	z-index:2;
}
.g-form .imgs img 
{
	width:100%;
	vertical-align:top;
}
.g-form .imgs .ftit
{
	font-weight:bold;
	width:100%;
	position:absolute;
	left:0px;
	top:50%;
	margin-top:-0.275rem;
	z-index:2;
	font-size: 0.36rem;
	color: #DE3131;
	letter-spacing: 0.73px;
	text-align: center;
	line-height: 0.55rem;
}
.g-form .imgs .ftit1
{
	width:96%;
	text-align:center;
	position:absolute;
	left:0px;
	top:50%;
	margin-top:-51px;
	z-index:2;
	padding:0px 2%;
}
.g-form .imgs .ftit1 .titl 
{
	font-size: 0.45rem;
	color: #DE3131;
	font-weight:bold;
	line-height:0.55rem;
	letter-spacing: 1.33px;
}
.g-form .imgs .ftit1 p 
{
	font-size: 0.3rem;
	color: #3E3A39;
	letter-spacing: 0.67px;
	line-height:0.46rem;
	margin:0.1rem 0px;
}
.g-form  .biao 
{
	padding:0.35rem 0.275rem 0.55rem;
}
.g-form  .biao  .btit
{
	font-size: 0.3rem;
	color: #3E3A39;
	letter-spacing: 0.72px;
	line-height:0.46rem;
	margin-bottom:0.45rem;
}
.g-form  .biao  .btit span 
{
	font-size: 0.3rem;
	color: #DE3131;
	letter-spacing: 0.8px;
	line-height: 0.46rem;
}
.u-input
{
	width:100%;
	padding-bottom:0.18rem;
	position:relative;
}
.u-input .itit
{
	width:100%;
	height:0.35rem;
	line-height:0.35rem;
	margin-bottom:0.08rem;
	font-size:  0.24rem;
	color: #3E3A39;
	letter-spacing: 0.47px;
}
.u-input .itit span 
{
	color:#DE3131;
	margin:0px 3px;
	position:relative;
	top:4px;
	width:8px;
	display:inline-block;
}
.u-input .itxt .txts
{
	position:absolute;
	right:0px;
	top:0px;
	font-size: 12px;
	color: #DE3131;
	line-height:20px;
	letter-spacing: 0.4px;
	text-align: right;
	margin:0px;
	top:0px;
	width:auto;
}
.u-input .itxt
{
	width:100%;
}
.u-input .itxt input 
{
	width:93.7%;
	padding:0px 3%;
	height:0.6rem;
	line-height:0.6rem;
	border: 1px solid #BFBFBF;
	font-size:  0.24rem;;
	color: #3E3A39;
	letter-spacing: 0.47px;
	vertical-align:top;
	clear:initial;
	float: initial;
}
.u-input .itxt input.on 
{
	border: 1px solid #DE3131;
}
.u-input .itxt input.input1
{
	width:47%;
	float:left;
}
.u-input .itxt textarea 
{
	width:93.7%;
	padding:10px 3%;
	height:150px;
	line-height:25px;
	border: 1px solid #BFBFBF;
	font-size:  0.24rem;;
	color: #3E3A39;
	letter-spacing: 0.47px;
	vertical-align:top;
	clear:initial;
}
.u-input .itxt textarea.on
{
	border: 1px solid #DE3131;
}
.u-yanzheng
{
	height:0.6398rem;
	line-height:0.6398rem;
	width:44%;
	float:right;
	vertical-align:top;
	font-size: 0.24rem;
	color: #FFFFFF;
	letter-spacing: 0.47px;
	text-align: center;
	background:#DE3131;
	cursor:pointer;
	color: #FFFFFF;
}
.u-yanzheng.f-disable {
    cursor: not-allowed;
}
.u-tijiao
{
    width: 50%;
    height: 0.7rem;
	margin:0.55rem auto 0px;
}
.u-tijiao input
{
	width:100%;
    height: 0.7rem;
	line-height:0.7rem;
	text-align:center;
	background:#DE3131;
	font-size: 0.3rem;
	cursor:pointer;
	color: #FFFFFF;
	letter-spacing: 0.53px;
	text-align: center;
}

.u-chenggong
{
	width:100%;
	text-align:center;
	margin-bottom:0.4rem;
	margin-top:0.1rem;
}
.u-chenggong p 
{
	font-size: 0.4rem;
	color: #3E3A39;
	letter-spacing: 1px;
}
.u-chenggong  .cg 
{
	margin-bottom:15px;
}
.u-chenggong img 
{
	width:55px;
}
.u-txts 
{
	width:100%;
	margin-bottom:0.7rem;
}
.u-txts p 
{
	font-size:  0.24rem;;
	color: #3E3A39;
	letter-spacing: 0.47px;
	text-align: justify;
	line-height: 0.55rem;
}
.u-txts .ti 
{
	color:#DE3131;
}
.u-erweima
{
	width:100%;
	text-align:center;
}
.u-erweima img 
{
	width:120px;
	border-radius:5px;
	vertical-align:top;
	background:#d8d8d8;
	padding:5px;
}
.u-erweima p 
{
	text-align:center;
	font-size:  0.24rem;;
	color: #3E3A39;
	letter-spacing: 0.47px;
	line-height: 1rem;
}

.m-guanzhu
{
	width:100%;
	padding:1rem 0px;
}
.m-guanzhu .gtit
{
	padding:0px 0.275rem;
	height:0.4rem;
	line-height:0.4rem;
	margin-bottom:0.2rem;
	font-family: MicrosoftYaHei;
	font-size: 0.3rem;
	color: #3E3A39;
	letter-spacing: 0.72px;
}
.m-guanzhu .index_recomBox ul li
{
	padding:0px;
	padding-bottom:0.3rem;
	height:auto;
}
.m-guanzhu .index_recomBox ul li .tit
{
	padding:0px 10px;
}
.m-guanzhu .clear
{
	padding:0px 10px;
}
.u-piao
{
	width:100%;
}
.u-piao .pt 
{
	line-height:0.46rem;
	font-size: 0.32rem;
	color: #3E3A39;
	letter-spacing: 0.8px;
	margin-bottom:0.28rem;
	margin-left:5px;
}
.u-piao .pt  span 
{
	margin:0px 6px;
	font-size:0.36rem;
}
.u-piao .piao
{
	width:100%;
}
.u-menpiao
{
	margin-bottom:0.55rem;
	background:url(../images/p1.png)left top no-repeat;
	background-size:100% 100%;
	padding:5% 25px 7% 5px;
	position:relative;
}
.u-menpiao .mptit
{
	background:url(../images/p2.png)left 3px no-repeat;
	background-size:auto 100%;
	overflow:hidden;
	padding-left:22px;
	margin-bottom:7%;
}
.u-menpiao .mptit p 
{
	font-size: 12px;
	color: #3E3A39;
	letter-spacing: 0.64px;
	line-height:19px;
}
.u-menpiao .mptit p.tits
{
	line-height:31px;
	font-size: 18px;
	color: #DE3131;
	letter-spacing: 1.12px;
}
.u-menpiao .mpma 
{
	width:50px;
	height:50px;
	background:#fff;
	border-radius:5px;
	position:absolute;
	right:25px;
	top:50%;
	margin-top:-25px;
	z-index:99;
}
.u-menpiao .mpma  img 
{
	width:100%;
	height:100%;
}
.u-menpiao  .mpid
{
	font-size:12px;
	color: #3E3A39;
	letter-spacing: 0.56px;
	line-height:24px;
	padding-left:22px;
}
.u-menpiao  .mpid span 
{
	font-size:14px;
	color: #DE3131;
	letter-spacing: 0.56px;
	line-height: 19px;
}





.u-buzhou
{
	width:100%;
	margin-bottom:40px;
	padding-top:10px;
}
.u-buzhou .bu 
{
	float:left;
	text-align:center;
}
.u-buzhou .bu  p 
{
	font-size:  0.24rem;;
	color: #8F8F8F;
	letter-spacing: 0.56px;
	text-align: center;
	line-height:0.3rem;
}
.u-buzhou .bu  .shu
{
	width:20px;
	height:20px;
	border: 1px solid #979797;
	border-radius:50%;
	line-height:0.3rem;
	font-size: 12px;
	color: #8F8F8F;
	letter-spacing: 0.4px;
	margin:0px auto 5px;
}
.u-buzhou .zhou 
{
	float:left;
	width:29%;
	height:1px;
	background:#979797;
	margin-top:10px;
	margin-left:-5px;
	margin-right:-5px;
}
.u-buzhou .bu.ons p
{
	color: #DE3131;
}
.u-buzhou .bu.ons .shu
{
	border: 1px solid #DE3131;
	color: #DE3131;
}
.u-buzhou .zhou.ons 
{
	background:#DE3131;
}
.u-renshu
{
	width:100%;
	height:31px;
	line-height:31px;
	margin-bottom:0.55rem;
	font-size: 0.26rem;
	color: #3E3A39;
	letter-spacing: 0.53px;
	font-weight:bold;
}
.u-renshu span 
{
	display:inline-block;
	width:31px;
	height:29px;
	vertical-align:top;
	border: 1px solid #8F8F8F;
	text-align:center;
	line-height:0.46rem;
	cursor:pointer;
}
.u-renshu span.rembtm
{
	margin-left:13px;
	font-size:12px;
}
.u-renshu span.addbtm
{
	margin-right:13px;
	font-size:20px;
}
.u-renshu input 
{
	width:31px;
	height:29px;
	background: #FFE0E0;
	border: 1px solid #DE3131;
	font-size: 20px;
	color: #DE3131;
	letter-spacing: 0.67px;
	text-align: center;
	padding:0px;
	float: none;
	vertical-align:top;
	font-weight:bold;
	margin:0px 5px;
}

.u-suopiao
{
	width:100%;
	margin-bottom:35px;
}
.u-suopiao .sptit
{
	background: #919191;
	width:100%;
	height:37px;
	line-height:37px;
	font-size: 0.26rem;
	color: #FFFFFF;
	letter-spacing: 0.53px;
	text-indent:13px;
	margin-bottom:20px;
}

.u-xiayibu
{
	width:160px;
	height:36px;
	line-height:36px;
	text-align:center;
	background:#DE3131;
	font-size: 0.26rem;
	cursor:pointer;
	color: #FFFFFF;
	letter-spacing: 0.53px;
	text-align: center;
	margin: 35px auto 0px;
}
.u-tijiao.u-tijiao1
{
	width:335px;
}
.u-tijiao.u-tijiao1 p
{
	width:158px;
	height:36px;
	line-height:36px;
	text-align:center;
	border:1px solid #DE3131;
	font-size: 0.26rem;
	cursor:pointer;
	color: #DE3131;
	letter-spacing: 0.53px;
	text-align: center;
	float:left;
	margin-right:15px;
}
.u-tijiao.u-tijiao1 p:hover 
{
	background:#DE3131;
	color:#fff;
}
.u-tijiao.u-tijiao1 input
{
	border:1px solid #DE3131;
	width:158px;
	clear: initial;
}
.u-tijiao.u-tijiao1 input:hover 
{
	background:#fff;
	color:#de3131;
}

.m-suopiao .suo2
{
	display:none;
}
.m-suopiao .suo2 .u-input
{
	margin-bottom:0.55rem;
}
.m-suopiao .suo2 .u-input .itit
{
	font-size:0.26rem;
}
.u-input .itxt1 label {
    width: 100%;
    display: block;
    font-size:  0.24rem;;
    color: #3E3A39;
    letter-spacing: 0.4px;
    line-height: 0.55rem;
}
.u-input .itxt1 input {
    height:  0.24rem;;
    background: #fff;
    border: 1px solid #dcdcdc;
    vertical-align: middle;
    margin-right: 7px;
    width:  0.24rem;;
    position: relative;
    top: -1px;
    padding: 0px;
    -webkit-appearance: checkbox;
}


































.g-about
{
	width:100%;
	margin-top: 1.3rem;
	border-top:1px solid #CCCCCC;
}
.u-mianbao
{
	width:100%;
}
.u-mianbao a 
{
	height:60px;
	color: #3E3A39;
	line-height:60px;
	font-size: 14px;
	color: #3E3A39;
	letter-spacing: 0.47px;
}
.u-mianbao a:hover
{
	color:#DE3131;
}
.u-mianbao a.on
{
	color:#DE3131;
}
.u-banner
{
	width:100%;
	position:relative;
}
.u-banner img 
{
	width:100%;
	vertical-align:top;
}
.u-banner .txts
{
	position:absolute;
	height:30px;
	line-height:30px;
	left:15px;
	top:50%;
	margin-top:-15px;
	z-index:1;
	border-left:5px solid #DE3131;
}
.u-banner .txts span 
{
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 1.33px;
	font-weight:bold;
	margin-left:15px;
	position:relative;
	top:2px;
}
.g-center
{
	width:100%;
	padding:10px 0px;
}
.m-czuo
{
	margin:0px 15px 20px 15px;
	border-bottom: 1px solid #CCCCCC;
	position:relative;
}
.u-czuo
{
	width:30%;
	float:left;
	position:relative;
}
.u-czuo.u-czuo1
{
	width:40%;
}
.u-czuo.u-czuo2
{
	position:initial;
}
.u-czuo .xian
{
	width:100%;
	text-align:center;
}
.u-czuo .xian span 
{
	margin:14px 0px 14px 5px;
	height:14px;
	display:inline-block;
	vertical-align:top;
}
.u-czuo .xian span  img 
{
	height:14px;
}
.u-czuo .xian p 
{
	height:42px;
	line-height:42px;
	font-size: 16px;
	color: #3E3A39;
	letter-spacing: 0.47px;
	cursor:pointer;
}
.u-czuo .xian p.xians 
{
	width:37px;
	height:3px;
	margin:0px auto;
	background:#fff;
	position:relative;
	z-index:2;
}
.u-czuo.ons .xian p 
{
	color:#DE3131;
}
.u-czuo:hover .xian p 
{
	color:#DE3131;
}
.u-czuo.ons .xian p.xians  
{
	background:#DE3131;
}
.u-czuo:hover .xian p.xians 
{
	background:#DE3131;
}
.u-czuo .yin 
{
	overflow:hidden;
	position:absolute;
	left:50%;
	margin-left:-58px;
	top:45px;
	z-index:-1;
	padding-top:5px;
	opacity:0;
}
.u-czuo .yin1
{
	width:100%;
	text-align:center;
	height:8px;
}
.u-czuo .yin1.yin2s
{
	text-align:right;
}
.u-czuo .yin1.yin2s img 
{
	margin-right:15%;
}
.u-czuo .yin1 img 
{
	height:8px;
	vertical-align:top;
	margin-top:1px;
}
.u-czuo .yin2 
{
	overflow:hidden;
	width:115px;
	border:1px solid #CCCCCC;
	background:#fff;
	text-align:center;
	padding:10px 0px;
}
.u-czuo .yin p  a
{
	font-size: 14px;
	color: #3E3A39;
	line-height:35px;
	letter-spacing: 0.47px;
}
.u-czuo .yin p  a.on 
{
	color:#DE3131;
}
.u-czuo .yin.yins
{
	width:100%;
	left:0px;
	margin-left:0px;
}
.u-czuo .yin.yins .yin2
{
	width:89%;
	text-align:left;
	padding:10px 5%;
	min-height:400px;
}
.u-czuo .yin.yins .yin2 .remen
{
	width:100%;
	font-weight:bold;
	margin:10px 0px 30px;
	color:#333;
	font-size:14px;
}
.u-czuo .yin.yins .yin2 .remen span 
{
	margin-right:10px;
	margin-left:5px;
	font-weight:bold;
	color:#333;
	font-size:14px;
}
.u-czuo .yin.yins .yin2 .fenx
{
	margin:10px 0px;
}
.u-czuo .yin.yins .yin2 .fenx .xz 
{
	float:left;
	line-height:41px;
}
.u-czuo .yin.yins .yin2 .fenx .xy 
{
	padding-left:35px;
}

.u-czuo .yin.yins .yin2 p 
{
	float:left;
    height:35px;
	line-height:35px;
	padding:0px 10px;
	margin:3px;
}
.u-czuo .yin.yins .yin2 p.on 
{
	background:#de3131;
}
.u-czuo .yin.yins .yin2 p.on  a 
{
	color:#fff;
}
.u-czuo .yin.yins .yin2 p:hover 
{
	background:#de3131;
}
.u-czuo .yin.yins .yin2 p:hover   a 
{
	color:#fff;
}
.m-cyou
{
	padding:0px 15px;
}
.m-cyou .tit 
{
	font-size: 22px;
	font-weight:bold;
	color: #3E3A39;
	letter-spacing: 0.8px;
	margin-bottom:12px;
	line-height:30px;
}
.m-cyou .txt p
{
	font-size: 14px;
	color: #3E3A39;
	letter-spacing: 0.47px;
	text-align: justify;
	line-height: 30px;
	margin-bottom:30px;
}
.m-cyou .txt1
{
	margin-bottom:40px;
}
.m-cyou .txt1 p
{
	margin-bottom:0px;
}
.u-yans
{
	margin:0px 15px 35px 15px;
}
.u-yans .yan 
{
	width:50%;
	float:left;
	position:relative;
}
.u-yans .yan   .yantit 
{
	position:absolute;
    width: 88%;
    height: 68%;
    left: 0px;
    top: 0px;
	margin: 3% 6% 9% 6%;
	line-height:65%;
}
.u-yans .yan   .yantit  p 
{
	position:absolute;
	left:0px;
	width:100%;
	top:50%;
	margin-top:-8px;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.53px;
    text-align: center;
}

/*------------------百度地图样式--------------------------*/
.u-ditu1{width:100%;height:480px;margin-bottom:40px;}
.u-ditu1 img{max-width:inherit;}
.u-ditu1 #map{width:100%;	height:100%;}
.BMapLabel{left:15px !important;top:-15px !important;padding:5px !important;font-size:16px !important;font-family: 'HelBdCn' !important;}
.center{width:252px !important;}
.bottom{height:25px !important;}
.BMap_bubble_title{font-size:16px !important;margin-bottom:10px !important;}
.BMap_bubble_content{font-size:13px !important;line-height:22px !important;}
/*--------------------------------------------*/











.m-zxzuo
{
	margin:0px 15px;
}
.u-zztit  a 
{
	width:25%;
	float:left;
}
.u-zztit a p
{
	width:100%;
	height:50px;
	line-height:50px;
	font-size: 14px;
	color: #3E3A39;
	letter-spacing: 0.6px;
	text-align:center;
}
.u-zztit a p.xians 
{
	width:37px;
	height:3px;
	margin:0px auto;
	background:#fff;
	position:relative;
	z-index:2;
	background:#fff;
}
.u-zztit a:hover p
{
	color:#DE3131;
}
.u-zztit a:hover p.xians 
{
	background:#DE3131;
}
.u-zztit a.ons p
{
	color:#DE3131;
}
.u-zztit a.ons p.xians 
{
	background:#DE3131;
}
.m-zxzuotxt
{
	width:100%;
	margin-bottom:30px;
}
.u-zixun
{
	width:100%;
	padding:20px 0px;
	border-bottom:1px solid #E2E2E2;
}
.u-zixun .zimg
{
	float:left;
	width:35%;
	overflow:hidden;
}
.u-zixun .zimg img 
{
	width:100%;
}
.u-zixun .ztxt
{
	float:right;
	width:61%;
	overflow:hidden;
}
.u-zixun .ztxt .zztit
{
	width:100%;
	height:52px;
	line-height:26px;
	overflow:hidden;
	margin-bottom:3px;
}
.u-zixun .ztxt .zztit a 
{
	font-size: 20px;
	color: #3E3A39;
	letter-spacing: 0.8px;
}
.u-zixun .ztxt .zztit a:hover 
{
	color:#DE3131;
}
.u-zixun .ztxt .zztxt
{
	width:100%;
	font-size: 12px;
	color: #8F8F8F;
	letter-spacing: 0.47px;
	text-align: justify;
	line-height: 21px;
	height:42px;
	margin-bottom:10px;
	overflow:hidden;
}
.u-zixun .ztxt .time 
{
	width:100%;
}
.u-zixun .ztxt .time  span 
{
	font-size: 12px;
	color: #9B9B9B;
	letter-spacing: 0.47px;
	line-height:16px;
}
.u-zixun .ztxt .time  .span1
{
	float:right;
}
.u-more
{
	width:120px;
	margin-bottom:20px;
	border:1px solid #E2E2E2;
	text-align:center;
	transition: all 0.5s ease 0s;
}
.u-more p 
{
	font-size: 14px;
	color: #9B9B9B;
	letter-spacing: 0.53px;
	text-align: center;
	line-height:28px;
}
.u-more:hover
{
	border:1px solid #DE3131;
	background:#DE3131;
}
.u-more:hover p
{
	color:#fff;
}
.m-zxyou
{
	width:287px;
	float:right;
}
.u-zztit
{
	width:100%;
	border-bottom:1px solid #E2E2E2;
}
.m-zxyou  .zytit
{
	width:100%;
	margin-bottom:30px;
	border-bottom:1px solid #E2E2E2;
	font-size: 18px;
	color: #3E3A39;
	letter-spacing: 0.6px;
	height:55px;
	line-height:55px;
}
.m-zxyou  .zytit span 
{
	float:right;
	height:55px;
	line-height:55px;
}
.m-zxyou  .zytit span  a 
{
	font-size: 14px;
	color: #3E3A39;
	letter-spacing: 0.47px;
}
.m-zxyou  .zytit span  a:hover 
{
	color:#DE3131;
}
.recommend-content-details .recommend-content-address img
{
	width:10px;
	margin-right:4px;
}
.recommend-content-details .recommend-content-time img
{
	width:10px;
	margin-right:4px;
}
.m-zxyou .recommend-content-details
{
	margin-bottom:20px;
	height:auto;
}
.m-zxyou .recommend-content-details .pavilion-img
{
	height:210px;
}
.m-zxyou .recommend-content-details .pavilion-img img 
{
	width:100%;
	height:100%;
}
.m-zxyou .recommend-content-details  .recommend-content-title
{
	position:relative;
	padding: 20px 0px;
    margin: 0px auto;
	height:auto;
}
.m-zxyou .recommend-content-details .recommend-content-title-head
{
	margin-bottom:20px;
}

.u-pages
{
	width:100%;
	margin-bottom:20px;
	text-align:center;
}
.u-pages a 
{
	display:inline-block;
	border:1px solid #E2E2E2;
	font-size: 12px;
	color: #3E3A39;
	letter-spacing: 0.5px;
	text-align: center;
	width:30px;
	padding:6px 0px;
	margin-left:-1px;
}
.u-pages a.on 
{
	color:#BFBFBF;
}
.u-pages a.a1 
{
	width:40px;
}
.u-pages a.a2 
{
	padding:3px 0px;
	font-size:18px;
	top:2px;
	position:relative;
	font-weight:bold;
   font-family: "\5b8b\4f53","\u534e\u6587\u7ec6\u9ed1";
}
.u-pages a:hover 
{
	border:1px solid #DE3131;
	background:#DE3131;
	color:#fff;
}
.u-pages a.ons
{
	border:1px solid #DE3131;
	background:#DE3131;
	color:#fff;
}
.u-zxtitle
{
	width:100%;
	margin-bottom:15px;
}
.u-zxtitle .titl1
{
	width:100%;
	border-bottom:1px solid #E2E2E2;
	padding:10px 0px;
	line-height:30px;
	font-size: 20px;
	color: #3E3A39;
	letter-spacing: 0.8px;
	margin-bottom:9px;
}
.u-zxtitle .time2
{
	width:100%;
	line-height:20px;
	font-size: 12px;
	color: #8F8F8F;
	letter-spacing: 0.47px;
}
.u-zxtxts
{
	width:100%;
}
.u-zxtxts p 
{
	font-size: 14px;
	color: #3E3A39;
	letter-spacing: 0.47px;
	text-align: justify;
	line-height: 28px;
	margin-bottom:28px;
}
.u-zxtxts img 
{
	max-width:100%;
}
.u-huanye
{
	width:100%;
	text-align: left;
	margin-bottom:20px;
}
.u-huanye p 
{
	padding:15px 0px;
	position:relative;
	padding-left:55px;
}
.u-huanye span 
{
	color: #DE3131;
	margin-right:11px;
	font-size: 14px;
	color: #DE3131;
	letter-spacing: 0.47px;
	position:absolute;
	left:0px;
	line-height:30px;
	top:16px;
}
.u-huanye .shang{border-bottom:1px solid #E2E2E2;}
.u-huanye a
{
	line-height:30px;
	font-size: 14px;
	color: #3E3A39;
	letter-spacing: 0.47px;
}
.u-huanye a:hover{color:#DE3131;}

.u-fenxiang
{
	width:100%;
	margin-bottom:50px;
}
.u-fenxiang .fxtit
{
	width:100%;
	height:35px;
	line-height:35px;
	border-bottom:1px solid #E2E2E2;
	font-size: 14px;
	color: #3E3A39;
	letter-spacing: 0.47px;
	margin-bottom:20px;
}
.u-fenxiang .fxtxt
{
	width:100%;
	height:57px;
}
.u-fenxiang .fxtxt a 
{
	width:57px;
	height:57px;
	overflow:hidden;
	border-radius:50%;
	background:#8F8F8F;
	margin:0px 20px 0px 0px;
	line-height:57px;
	text-align:center;
	float:left;
	padding-left:0px;
	font-size:0px;
}
.u-fenxiang .fxtxt a.bds_weixin
{
	background:#8F8F8F url(../images/wx.png) left top no-repeat;
	background-size:100%;
}
.u-fenxiang .fxtxt a.bds_weixin:hover
{
	background:#8F8F8F url(../images/wx.png) left bottom no-repeat;
	background-size:100%;
}
.u-fenxiang .fxtxt a.bds_qzone
{
	background:#8F8F8F url(../images/qq.png) left top no-repeat;
	background-size:100%;
}
.u-fenxiang .fxtxt a.bds_qzone:hover
{
	background:#8F8F8F url(../images/qq.png) left bottom no-repeat;
	background-size:100%;
}
.u-fenxiang .fxtxt a.bds_tsina
{
	background:#8F8F8F url(../images/wb.png) left top no-repeat;
	background-size:100%;
}
.u-fenxiang .fxtxt a.bds_tsina:hover
{
	background:#8F8F8F url(../images/wb.png) left bottom no-repeat;
	background-size:100%;
}
.u-fenxiang .fxtxt a.bds_douban
{
	background:#8F8F8F url(../images/db.png) left top no-repeat;
	background-size:100%;
}
.u-fenxiang .fxtxt a.bds_douban:hover
{
	background:#8F8F8F url(../images/db.png) left bottom no-repeat;
	background-size:100%;
}





.u-zgtit 
{
	width:100%;
	border-bottom:1px solid #E2E2E2;
	padding:10px 0px;
}
.u-zgtit  a 
{
	height:29px;
	line-height:29px;
	font-size: 14px;
	color: #3E3A39;
	letter-spacing: 0.47px;
	padding:0px 8px;
	margin:3px 10px 3px 0px;
	float:left;
}
.u-zgtit  a.ons
{
	background: #DE3131;
	color:#fff;
}
.u-zgtit  a:hover
{
	background: #DE3131;
	color:#fff;
}



.m-dizhi
{
	width:100%;
	border-bottom:1px solid #E2E2E2;
	padding-bottom:10px;
	height:70px;
	overflow:hidden;
	transition: all 0.5s ease 0s;
}
.m-dizhi.ons
{
	height:auto;
}
.m-dizhi .di1
{
	font-size: 14px;
	color: #3E3A39;
	letter-spacing: 0.47px;
	width:30px;
	margin-right:30px;
	float:left;
	vertical-align:top;
	padding:13px 0px;
	cursor:pointer;
}
.m-dizhi .di1:hover 
{
	color: #DE3131;
}
.m-dizhi .di2
{
	width:900px;
	float:left;
}
.m-dizhi .di2 span 
{
	height:29px;
	line-height:29px;
	font-size: 14px;
	color: #3E3A39;
	letter-spacing: 0.47px;
	padding:0px 8px;
	margin:3px 10px 3px 0px;
	float:left;
	cursor:pointer;
}
.m-dizhi .di2 span  font 
{
	margin-left:5px;
	font-size: 14px;
	color: #DE3131;
	letter-spacing: 0.47px;
	line-height: 19px;
}
.m-dizhi .di2 span.ons
{
	background: #DE3131;
	color:#fff;
}
.m-dizhi .di2 span.ons font 
{
	color:#fff;
}
.m-dizhi .di2 span:hover
{
	background: #DE3131;
	color:#fff;
}
.m-dizhi .di2 span:hover font 
{
	color:#fff;
}
.m-dizhi .di3
{
	font-size: 14px;
	padding:13px 0px;
	color: #3E3A39;
	letter-spacing: 0.47px;
	width:30px;
	float:right;
	vertical-align:top;
	cursor:pointer;
}
.m-dizhi .di3:hover 
{
	color: #DE3131;
}
.m-zgimg
{
	width:100%;
}

.m-zgimg .zgtit
{
	padding:15px 25px;
}
.m-zgimg .zgtit .zgtit1 p
{
	font-size: 14px;
	color: #3E3A39;
	letter-spacing: 0.47px;
	line-height:24px;
}
.m-zgimg .zgtit .zgtit1 .tis
{
	font-size: 22px;
	color: #3E3A39;
	letter-spacing: 0.73px;
	line-height: 27px;
	margin-bottom:13px;
	font-weight:bold;
}
.m-zgtit
{
	margin:0px 15px;
}

.m-productdetails
{
	width:100%;
}
.m-productdetails .titles
{
    border-bottom:1px solid #E2E2E2;
    position: relative;
	margin-bottom:20px;
	margin-top:10px;
}
.m-productdetails .titles .onetitle
{
    text-align: center;
    line-height: 44px;
	font-size: 14px;
	color: #3E3A39;
	letter-spacing: 0.6px;
	float:left;
    cursor: pointer;
	width:33.33%;
}
.m-productdetails .titles .onetitle .xians 
{
	width:37px;
	height:3px;
	margin:0px auto;
	position:relative;
	z-index:2;
	background:#fff;
}
.m-productdetails .titles .onetitle:hover .xians
{
	background:#DE3131;
}
.m-productdetails .titles .onetitle:hover
{
    color: #DE3131;
}
.m-productdetails .titles .targeted
{
    color: #DE3131;
}
.m-productdetails .titles .targeted .xians 
{
	background:#DE3131;
}

.m-productdetails .contents
{
    width: 100%;
	padding-bottom:30px;
}
.m-productdetails .contents .onecontent
{
    display: none;
    background-color: #fff;
}
.m-productdetails .contents .targeted
{
    display: block;
}
.m-productdetails .contents p 
{
	font-size: 14px;
	color: #3E3A39;
	letter-spacing: 0.47px;
	text-align: justify;
	line-height: 30px;
	margin-bottom:30px;
}
.m-productdetails .contents p.tite
{
	font-size: 24px;
	color: #3E3A39;
	letter-spacing: 1px;
	text-align:center;
	margin-bottom:15px;
	font-weight:bold;
}
.m-productdetails .contents p.imgs
{
	max-width:100%;
	text-align:center;
	margin-bottom:15px;
} 
.m-productdetails .contents  img 
{
	max-width:100%;
}
.m-productdetails .contents p.imgtit
{
	font-size: 14px;
	color: #3E3A39;
	letter-spacing: 0.6px;
	text-align:center;
	margin-bottom:15px;
	line-height:24px;
} 
.m-productdetails .contents p.imgtit img 
{
	vertical-align:top;
	height:14px;
	margin:5px;
}
.u-jiaotong
{
	margin:0px 20px 20px;
}
.u-jiaotong .zuo
{
	width:32px;
	height:32px;
	float:left;
	margin-top:7px;
}
.u-jiaotong .zuo img 
{
	width:100%;
}
.u-jiaotong .you
{
	padding-left: 50px;
}
.u-jiaotong .you p 
{
	font-size: 14px;
	color: #00001B;
	letter-spacing: 0.28px;
	line-height: 26px;
	margin-bottom:0px;
}
.u-jiaotong .you p.yp1 
{
	font-weight:bold;
}
/*------------------百度地图样式--------------------------*/
.m-productdetails .contents .u-ditu{width:100%;height:280px;margin-top:35px;}
.m-productdetails .contents .u-ditu img{max-width:inherit;}
.m-productdetails .contents .u-ditu #map{width:100%;	height:100%;}

.m-productdetails .contents .zhanhui 
{
	margin-top:25px;
}
.m-productdetails .recommend-content-details
{
	margin-bottom:20px;
	height:auto;
	width:48%;
	margin-right:4%;
	float:left;
}
.m-productdetails .recommend-content-details:nth-child(2n)
{
	margin-right:0px;
}
.m-productdetails .recommend-content-details .pavilion-img
{
	width:100%;
}
.m-productdetails .recommend-content-details .pavilion-img img 
{
	width:100%;
	vertical-align:top;
}
.m-productdetails .recommend-content-details  .recommend-content-title
{
	position:relative;
	padding: 10px;
	border: 1px solid #E4E4E4;
}
.m-productdetails .recommend-content-details  .recommend-content-title p 
{
	margin-bottom:0px;
	line-height:20px;
	font-size: 12px;
	color: #9B9B9B;
	letter-spacing: 0.4px;
}
.m-productdetails .recommend-content-details p.recommend-content-title-head
{
	margin-bottom:10px;
	line-height:20px;
	font-size: 12px;
	color: #3E3A39;
	letter-spacing: 0.4px;
	text-align: justify;
	height:40px;
	overflow:hidden;
}
.m-productdetails .recommend-content-details  .recommend-content-address
{
	float:left;
}
.m-productdetails .recommend-content-details  .recommend-content-time
{
	float:right;
}





.m-zhg .u-zixun
{
	position:relative;
}
.m-zhg .u-zixun .ztxt .zztit
{
	height:auto;
}
.m-zhg .u-zixun .ztxt .zztxt
{
	height:auto;
	margin-bottom:25px;
}
.m-zhg .u-zixun .ztxt .time img 
{
	height:10px;
	margin-right:5px;
}
.m-zhg .u-zixun .ztxt .time {
    width: auto;
    position: absolute;
    bottom: 20px;
    left: 39%;
}
.m-czuo.m-czuo1
{
	margin:20px 15px 0px 15px;
}
.m-czuo.m-czuo1 .u-czuo.u-czuo1
{
	width:35%;
}
.g-about .swiper-container.index_banner
{
	margin-top:0px;
}









