/* ZGI_CSS_0_0_1 */
/*@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic.eot');
    src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturyGothic.woff') format('woff'),
    url('../fonts/CenturyGothic.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}*/
/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
input{-webkit-appearance:none;outline:none;/*去除input默认样式*/}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font-family:PingFang-SC-Regular, Arial, Helvetica, Microsoft Yahei,sans-serif;font-size: 12px;outline:0;}
body{background:#f1f1f1;max-width:640px;margin:0px auto;}
img{vertical-align:top;}
a{-webkit-tap-highlight-color:rgba(0,0,0,0);}
a:link{text-decoration:none;outline: 0;}
a:visited{text-decoration:none;outline: 0; }
a:hover{text-decoration:none;outline: 0;}
a:active{text-decoration:none;outline: 0;}
*{box-sizing: border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}

/*功能性代码 f- */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-pr{position:relative;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}
.f-ff0{font-family:arial,\5b8b\4f53;}
.f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}
.f-fs1{font-size:12px;}
.f-fs2{font-size:14px;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-mt0{margin-top:0px !important;}
.f-mr0{margin-right:0px !important;}
.f-mb0{margin-bottom:0px !important;}
.f-ml0{margin-left:0px !important;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-ti{overflow:hidden;text-indent:-30000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.f-gunlun::-webkit-scrollbar {display: none;/*隐藏滚轮*/}
.clear{clear:both;}
.w1100{width:1100px;margin:0px auto;}





.g-top
{
	width:100%;
	position:relative;
}
.g-top img
{
	width:100%;
}
.g-content
{
	padding:0px 15px 3px;
}
.u-title
{
	width:100%;
	height:60px;
	margin:6px 0px 8px;
	background:url(../images/icon1.svg) center top no-repeat;
	background-size: auto 100%;
	text-align:center;
	overflow:hidden;
	padding:20px 0px 15px;
}
.u-title .title 
{
	display:table;
	width:100%;
	height:25px;
	font-size: 18px;
	color: #3E3A39;
	letter-spacing: 0.53px;
}
.u-title img 
{
	max-width:100%;
}
.u-title div 
{
	display:table-cell;
}
.u-title .tz
{
	background:url(../images/icon2.svg) right center no-repeat;
	background-size: auto 7px;
}
.u-title .ty
{
	background:url(../images/icon3.svg) left center no-repeat;
	background-size: auto 7px;
}
.u-title .tit1 
{
	width:34%;
}
.u-title .tit2 
{
	width:2%;
}
.u-title .tit3 
{
	width:8%;
}
.g-footer
{
	padding:10px;
	text-align:center;
}
.g-footer .fotter1
{
	height:40px;
	margin-bottom:15px;
}
.g-footer .fotter1 img 
{
	height:100%;
}
.g-footer .fotter2 
{
	font-size: 16px;
	color: #3E3A39;
	letter-spacing: 0.4px;
	text-align: center;
	line-height:22px;
}
.g-footer .fotter3 
{
	font-family: DIN-Medium;
	font-size: 20px;
	color: #DE3131;
	letter-spacing: 0.53px;
	text-align: center;
	line-height:25px;
	margin-bottom:12px;
}
.g-footer .fotter3  a 
{
	color: #DE3131;
}
.g-footer .fotter4 
{
	font-size: 14px;
	color: #8F8F8F;
	letter-spacing: 0.33px;
	text-align: center;
	line-height:25px;
}


.g-footer.g-footer1
{
	margin-bottom:57px;
}

.g-dibu
{
	width:100%;
	height:67px;
	position:fixed;
	left:0px;
	bottom:0px;
	z-index:99;
	background:#FFD4C2;
	border-top:1px solid #f1f1f1;
	padding:0px 7%;
}
.u-dibu 
{
	width:33.333%;
	float:left;
	text-align:center;
	padding:10px 0px;
}
.u-dibu .dimg
{
	height:22px;
	margin-bottom:3px;
}
.u-dibu .dimg img 
{
	height:100%;
}
.u-dibu .dtxt
{
	line-height:22px;
	font-size: 14px;
	color: #3E3A39;
	letter-spacing: 0.33px;
	text-align: center;
}
.u-dibu.on .dtxt
{
	color: #DE3131;
}
















.u-list
{
	width:49%;
	float:left;
	margin-right:2%;
	margin-bottom:6px;
}
.u-list .limg
{
	width:100%;
	position:relative;
}
.u-list .limg .imgs
{
	width:100%;
}
.u-list .limg .imgs img 
{
	width:100%;
}
.u-list .limg .tits
{
	width:100%;
	height:30px;
	background:url(../images/icon4.png);
	line-height:30px;
	padding:0px 8px;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0.4px;
	position:absolute;
	left:0px;
	bottom:0px;
}
.u-list .ltxt
{
	padding:8px;
	background:#fff;
	
}
.u-list .ltxt .txts
{
	padding:2px 0px;
	line-height:20px;
	font-size: 14px;
	color: #5E5E5E;
	letter-spacing: 0.33px;
}
.u-list .ltxt .txts img 
{
	height:14px;
	margin-top:3px;
	margin-right:6px;
}




.u-toptxts
{
	width:100%;
	background:url(../images/icon11.png) center center no-repeat;
	background-size: 100% 100%;
	position:absolute;
	left:0px;
	top:50%;
	text-align:center;
	padding:10px 0px;
	margin-top:-69px;
	color: #00001B;
}
.u-toptxts.u-toptxts1
{
	margin-top:-43px;
	background:url(../images/icon12.png) center center no-repeat;
	background-size: 92% 100%;
	color:#fff;
}
.u-toptxts.u-toptxts1 .ttx1
{
	color:#fff;
}
.u-toptxts .ttx1
{
	font-size: 20px;
	color: #DE3131;
	letter-spacing: 0.53px;
	text-align: center;
	line-height: 25px;
	margin-bottom:8px;
}
.u-toptxts .ttx2
{
	font-size: 16px;
	letter-spacing: 0.4px;
	text-align: center;
	line-height: 20px;
	margin-bottom:3px;
}
.u-toptxts .ttx3
{
	font-size: 14px;
	margin-top:8px;
	color: #3E3A39;
	letter-spacing: 0.33px;
	text-align: center;
}
.u-toptxts .ttx3 .time
{
	display:inline-block;
	color:#DE3131;
	line-height:30px;
	padding:0px 10px;
	border:2px solid #DE3131;
	margin-left:5px;
}




.m-xiang
{
	width:100%;
}
.m-title
{
	width:100%;
	font-size: 16px;
	color: #5E5E5E;
	letter-spacing: 0.47px;
	text-align: center;
	line-height:25px;
	height:25px;
	margin:15px 0px 13px;
}
.m-title a
{	
	color: #5E5E5E;
}
.m-title .title 
{
	width:25%;
	float:left;
}
.m-title .title.ons 
{
	color:#DE3131;
}
.m-txts
{
	width:100%;
}
.m-txts .txts 
{
	margin-bottom:20px;
	font-size: 16px;
	color: #3E3A39;
	letter-spacing: 0.4px;
	text-align: justify;
	line-height: 30px;
}
.m-txts .txts .jieshao
{
	width:100%;
	background:#fff;
	padding:15px 15px 25px 15px;
}
.m-txts .txts .jieshao .jstxt
{
	width:100%;
	height:210px;
	overflow:hidden;
	position:relative;
}
.m-txts .txts .jieshao .jstxt .meng 
{
	background:url(../images/icon17.png) center bottom repeat-x;
	position:absolute;
	left:0px;
	bottom:0px;
	z-index:9;
	width:100%;
	height:120px;
}
.m-txts .txts .jieshao .more
{
	width:100%;
	font-size: 16px;
	color: #3E3A39;
	letter-spacing: 0.4px;
	text-align: justify;
	text-align:center;
	line-height:18px;
	margin-top:10px;
}
.m-txts .txts .jieshao .more img 
{
	height:12px;
	margin:2px 0px 2px 7px;
}
.m-txts .txts .jieshao.ons .jstxt
{
	height:auto;
}
.m-txts .txts .jieshao.ons .meng
{
	display:none;
}
.m-txts .txts .jieshao.ons .more
{
	display:none;
}
.m-txts .txts .guimo
{
	width:100%;
	background:#fff;
	padding:25px 15px 35px 15px;
	margin-top:15px;
}
.m-txts .txts .guimo .gm 
{
	margin-top:22px;
}
.m-txts .txts .fanwei 
{
    width: 100%;
    background: #fff;
	padding:15px 0px 1px;
}
.m-txts .txts .fanwei .fw
{
	width:100%;
}
.m-txts .txts .wangjie 
{
    width: 100%;
    background: #fff;
	padding:15px 0px 0px;
}
.m-txts .txts .wangjie .wj
{
	width:100%;
	margin-bottom:20px;
	margin-top:15px;
}
.m-txts .txts .wangjie .wj img 
{
	width:100%;
}
.m-txts .txts .wangjie  .jstxt 
{
	padding:0px 15px 5px;
}
.u-fanwei
{
	width:100%;
	margin-bottom:20px;
}
.u-fanwei .ftit
{
	width:100%;
	background:url(../images/icon9.png) left -1px no-repeat;
	background-size: 100% 100%;
	padding-left:25px;
	line-height:35px;
	font-size: 16px;
	color: #fff;
	font-weight:bold;
	letter-spacing: 0.4px;
	text-align: justify;
}
.u-fanwei .ftxt
{
	padding:8px 15px;
}
.u-xtit
{
	width:100%;
	font-size: 20px;
	color: #3E3A39;
	letter-spacing: 0.53px;
	text-align: center;
	line-height:25px;
	margin-bottom:10px;
}
.u-xtit .xian
{
	width:25px;
	height:3px;
	background:#DE3131;
	margin:4px auto 0px; 
}
.u-xtit1
{
	width:100%;
	padding-bottom:8px;
	margin-bottom:10px;
	border-bottom:2px solid #8f8f8f;
	line-height: 12px;
}
.u-xtit1 .ttit
{
	float:left;
	padding-left:8px;
	border-left:2px solid #DE3131;
	font-weight:bold;
	font-size: 16px;
	color: #00001B;
	letter-spacing: 0.4px;
	text-align: justify;
	line-height: 18px;
}
.u-xtit1  .more1
{
	float:right;
}
.u-xtit1  .more1 img 
{
	height:18px;
}
.u-guimo
{
	width:32%;
	float:left;
	background:#ebebeb;
	margin:0px 2% 0px 0px;
	text-align:center;
	font-size: 16px;
	color: #3E3A39;
	letter-spacing: 0.4px;
	text-align: justify;
	line-height: 30px;
	padding:21px 0px 12px;
	text-align: center;
}
.u-guimo .num
{
	font-family: DIN-Medium;
	font-size: 22px;
	color: #DE3131;
	letter-spacing: 0.87px;
	line-height: 28px;
	margin-bottom:9px;
}
.u-guimo:nth-child(3)
{
	margin:0px;
}
.u-anniu
{
	width:100%;
	padding:15px 15px 25px;
}
.u-anniu .as 
{
	padding-left:85px;
}
.u-anniu a 
{
	float:left;
	width:48%;
	margin-right:4%;
}
.u-anniu a:nth-child(2)
{
	margin-right:0px;
} 
.u-anniu .anniu 
{
	width:100%;
	height:40px;
	background:#DE3131;
	line-height:40px;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0.47px;
	text-align: center;
}


.u-fenxiang
{
	float:left;
	line-height:40px;
	height:40px;
	font-size:18px;
	color:#333;
	cursor:pointer;
}
.u-fenxiang img 
{
	height:18px;
	vertical-align:middle;
	margin:13px 8px 15px;
}




.u-fenxiang
{
	float:left;
	line-height:40px;
	height:40px;
	font-size:18px;
	color:#333;
	cursor:pointer;
}
.u-fenxiang img 
{
	height:18px;
	vertical-align:middle;
	margin:13px 8px 15px;
}
.share-dialog{
    position: fixed;
    left: 0%;
    bottom: 0%;
    width: 100%;
    background: #fff;
    z-index: 999991;
	padding:20px 15px;
}
.share-dialog .share-close{
    width: 100%;
	background: #E6E6E6;
    height: 35px;
	line-height:35px;
	text-align:center;
    cursor: pointer;
	font-size: 14px;
	color: #727272;
	letter-spacing: 0.24px;
}
.share-dialog .share-dialog-cont{
    font-size: 14px;
}
.share-copy
{
	width:20%;
	height:47px;
	position:absolute;
	right:15px;
	top:30px;
}
.share-dialog .share-copy-l{
    float: left;
    width: 77px;
    margin-top: 8px;
	display:none;
}
.share-dialog .share-copy-c{
    float: left;
    width: 307px;
	display:none;
}
.share-dialog .share-copy-c input{
    display: block;
    width: 100%;
    height: 36px;
    padding: 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 1.2;
    color: #555;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ccc;
}
.share-dialog .share-copy-c input:focus{
    border-color: #333;
    outline: 0;
}
.share-dialog .share-copy-r{
    width: 32px;
	height:32px;
	margin:7px auto 0px;
    text-align: right;
    color: #f37b1d;
    cursor: pointer;
}
.share-dialog .share-copy-r img 
{
	height:28px;
	margin-top:4px;
}
.share-platform{
    clear: both;
    margin-top: 10px;
	margin-bottom:20px;
}
.share-platform .share-platform-l{
    float: left;
    width: 77px;
	line-height:44px;
}
.share-platform .share-platform-r{

    width: 80%;
	float:left;
}
.share-platform .share-platform-r p 
{
	width:25%;
	float:left;
	text-align:center;
}
.share-platform .share-platform-r p a
{
	margin: 6px auto;
	display: inline-block;
	float:initial;
}
.share-platform .bds_weixin{
    background-image: url('../images/css-bg.png');
    background-position: -13px -7px !important;    
}
.share-platform .bds_tsina{
    background-image: url('../images/css-bg.png');
    background-position: -57px -7px !important;
}
.share-platform .bds_sqq{
    background-image: url('../images/css-bg.png');
    background-position: -101px -7px !important;
}
.share-platform .bds_qzone{
    background-image: url('../images/css-bg.png');
    background-position: -146px -7px !important;
}

.g-fen
{
	display:none;
	    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background:url(../images/h.png);
    z-index: 99999;
}
.bd_weixin_popup
{
	z-index:999999 !important;
	width:260px  !important;
	height:330px  !important;
}
.bd_weixin_popup .bd_weixin_popup_foot{padding-left:15px;}









/*------------------百度地图样式--------------------------*/
.u-ditu{width:100%;height:275px;}
.u-ditu img{max-width:inherit !important;}
.u-ditu #map{width:100%;	height:100%;}
.BMapLabel{left:15px !important;top:-15px !important;padding:5px !important;font-size:16px !important;font-family: 'HelBdCn' !important;}
.center{width:252px !important;}
.bottom{height:25px !important;}
.BMap_bubble_title{font-size:16px !important;margin-bottom:10px !important;}
.BMap_bubble_content{font-size:13px !important;line-height:22px !important;}
/*--------------------------------------------*/
/* 响应式media */
/*手机*/
@media screen and (max-width: 767px) {

}
/*平板*/
@media screen and (min-width: 768px) and (max-width: 991px) {

}
/*电脑*/
@media screen and (min-width: 992px) and (max-width: 1199px){

}
/*bigscreen*/
@media screen and (min-width: 1200px){

}
/*演示代码
.y-yan1 img{width:100%;height:100%;-webkit-transition: all 1s ease;transition: all 1.8s ease;}
.y-yan1:hover img{transform: scale(1.1,1.1);-webkit-transform: scale(1.1,1.1);}
.y-yan2{height:66px;transition: all 0.5s ease 0s;}
.y-yan2:hover{height:50px;}
.y-yan2.on{height:50px;}
.y-yan3 p:nth-child(2){margin: 0px 0px 13px 0px;}//属于其父元素的第二个p，2n的话表示2的倍数的p 
.y-yan4{background: url(../images/cela4.jpg) center top no-repeat;-webkit-background-size: cover;-o-background-size: cover;background-size: cover;}//背景图片铺满
*/




