@charset "utf-8";

@font-face {
    font-family: 'banner';
    src: url(../font/font.TTF);
}

* {
    margin: 0;
    padding: 0;
    font-family: '微软雅黑';
    line-height: 1em;
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    list-style: none;
    text-decoration: none;
}

dt {
    font-size: 0px;
}

img {
    border: none;
}

input,
select,
option,
textarea {
    outline: none;
    resize: none;
}

label {
    cursor: pointer;
}

.fl {
    float: left;
}

.fr {
    float: right;
}


.clear {
    clear: both;
}

.recommend-content-details .recommend-content-address img {
    width: 10px;
    margin-right: 4px;
}

.recommend-content-details .recommend-content-time img {
    width: 10px;
    margin-right: 4px;
}

.countdown {
    float: right;
    font-size: 12px;
    height: 20px;
    margin-top: 18px;
    margin-right: 5px;
}

.countdown .exname {
    color: #DE3131;
    font-size: 12px;
}

.countdown .extime {
    display: inline-block;
    border-radius: 20%;
    padding: 4px;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    background-color: #DE3131;
}

/* 头部公共样式begin */
.index_2200 {
    width: 100%;
    background: #F5F5F5;
    float: left;
    text-align: center;
    font-size: 12px;
    color: #3E3A39;
    letter-spacing: 0.8px;
}

.top {
    margin: 0px auto;
    width: 1200px;
}

.top span {
    float: left;
    height: 37px;
    line-height: 37px;
    font-size: 12px;
    color: #3E3A39;
}

.top ul {
    float: right;
}

.top ul li {
    float: left;
    height: 37px;
    line-height: 37px;
    color: #3E3A39;
    letter-spacing: 0.8px;
    font-size: 12px;
    padding-left: 15px;
}

.top ul a li:hover {
    transition: color .3s;
    color: #DE3131
}

.box ul li:first {
    padding-left: 20px;
}

.box ul li:hover {
    color: #DE3131;
    transition: color 0.3s;
}

.box ul {
    margin-top: 9px;
}

.box ul li {
    float: left;
    font-size: 12px;
    color: #3E3A39;
    letter-spacing: 0.8px;
    margin-left: 12px;
    line-height: 16px;
}

.title-logo {
    float: left;
}

.title .title-logo img {
    float: left;
}

.box {
    width: 620px;
    margin-left: 63px;
    margin-top: 22px;
    float: left;
}

input {
    width: 476px;
    border: #DE3131 1px solid;
    height: 38px;
    float: left;
    font-size: 12px;
    color: #8F8F8F;
    letter-spacing: 0.8px;
    background-size: 25px;
    background-position: 5px center;
    padding: 0 0 0 12px;
    clear: both;
}

.search {
    display: inline-block;
    width: 130px;
    cursor: pointer;
    height: 40px;
    background: #DE3131;
    text-align: center;
    line-height: 40px;
    letter-spacing: 5px;
    margin-top: 26px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: -0.05px;
}

.search:focus {
    outline: none;
}

.search a {
    color: #ffffff;
}

#search {
    color: #333;
}

.title {
    width: 100%;
}

.index {
    width: 1200px;
    margin: 0 auto;
    /*float: left;0		*/
    clear: both;
    /* padding-bottom: 30px; */
}

.box-title span {
    display: block;
    width: 61px;
    height: 26px;
    color: #333;
    font-size: 13px;
    float: left;
    background: #FFE0E0;
    margin-right: 7px;
    text-align: center;
    line-height: 26px;
}

.box-title span:hover {
    background-color: #DE3131;
    color: #fff;
}

.title-tel {
    height: 42px;
    float: right;
    margin-top: 47px;
    background: url(../images/tel.jpg)left top no-repeat;
    background-size: 42px 42px;
    padding-left: 52px;
    font-size: 14px;
    color: #8F8F8F;
    letter-spacing: 0.8px;
    line-height: 20px;
}

.title-tel p {
    font-size: 14px;
    color: #8F8F8F;
    letter-spacing: 0.8px;
    margin-top: 4px;
}

.title-tel .tel {
    line-height: 24px;
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
    color: #DE3131;
    letter-spacing: -0.06px;
    margin-top: 0px;
}

/*全部行业*/
.Nav-allsec {
    width: 230px;
    /* height: 450px; */
    float: left;
    margin-right: 17px;
}

.Nav-imgnav-first {
    color: #DE3131;
}

.Nav-allsec-title {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    height: 17px;
    clear: both;
}

.Nav-allsec-title .item {
    padding-right: 5px;
}

.allsec {
    background: #DE3131 !important;
    cursor: pointer;
}

.allsec-text {
    float: left;
    color: #fff;
}

.item span:hover {
    border-bottom: #DE3131 2px solid;
}

.item {
    float: right;
}

.Nav-allsec-title,
.Nav-hotsec-ul {
    background: #7a7a7a;
}

.Nav-hotsec-ul li {
    color: #fff;
    font-size: 14px;
    float: left;
    width: 25%;
    text-align: center;
    height: 25px;
    cursor: pointer;
}

.Nav-hotsec-ul li:hover {
    color: #DE3131;
    transition: color 0.3s;
}

.Nav-hotsec-ul {
    height: 86px;
    border-bottom: #888888 1px solid;
    padding: 0px 8px;
}

.item span {
    display: block;
    height: 20px;
    float: left;
    margin-left: 20px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.item_on {
    border-bottom: #DE3131 2px solid;

}

.Nav-imgNav {
    /* float: right; */
}

.Nav-imgnav-ul li {
    float: left;
    height: 47px;
    line-height: 45px;
    text-align: center;
    padding-left: 40px;
    padding-right: 30px;
}

.ImagNav_on {
    color: #DE3131;
}

.Nav-imgnav-ul li:hover {
    transition: color .3s;
    color: #DE3131
}

.Nav-imgnav-ul .daoji {
    float: right;
    font-size: 12px;
    color: #3E3A39;
    letter-spacing: 0.8px;
    height: 47px;
    line-height: 45px;
}

.Nav-imgnav-ul .daoji .span1 {
    color: #DE3131;
    margin: 0px 5px;
    font-size: 12px;
    letter-spacing: 0.8px;
}

.Nav-imgnav-ul .daoji #_d {
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.1px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background: #DE3131;
    color: #fff;
    font-family: cursive;
    font-weight: bold;
    padding: 0px 5px;
}

.u-mianbao {
    width: 100%;
}

.u-mianbao a {
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    color: #666;
    letter-spacing: 0.47px;
}

.u-mianbao a:hover {
    color: #DE3131;
}

/* 头部公共样式end */

/* footer公共样式end */
.w1200 {
    width: 1200px;
    margin: 0px auto;
}

.g-footer {
    width: 100%;
    background: #3e3a39;
    padding: 30px 0px 40px;
}

.g-footer .youlian {
    display: none;
    width: 100%;
    margin-bottom: 40px;
}

.g-footer .youlian p {
    float: left;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.93px;
    line-height: 20px;
    margin-right: 20px;
}

.g-footer .youlian a p:hover {
    color: #DE3131;
}

.g-footer1 {
    width: 100%;
    background: #363231;
}

.g-footer1 .w1200 {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #BFBFBF;
    letter-spacing: 0.47px;
}

.g-footer .didao {
    width: 100%;
}

.g-footer .didao p {
    float: left;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.93px;
    line-height: 20px;
    margin-right: 40px;
}

.g-footer .qita {
    width: 100%;
    /* margin-bottom: 55px;
    height: 140px; */
}

.g-footer .qita .dlogo {
    float: left;
    height: 95px;
    margin-top: 25px;
}

.g-footer .qita .dlogo img {
    height: 100%;
}

.g-footer .qita .dtel {
    height: 50px;
    float: left;
    margin-left: 160px;
    margin-top: 45px;
    background: url(../images/ditel.jpg)left top no-repeat;
    background-size: 50px 50px;
    padding-left: 60px;
    font-size: 14px;
    color: #8F8F8F;
    letter-spacing: 0.8px;
    line-height: 22px;
}

.g-footer .qita .dtel p {
    font-size: 16.8px;
    color: #FFFFFF;
    letter-spacing: 0.96px;
    margin-top: 4px;
}

.g-footer .qita .dtel .tel {
    line-height: 30px;
    font-family: cursive;
    font-weight: bold;
    font-size: 24px;
    color: #DE3131;
    letter-spacing: -0.06px;
    margin-top: 0px;
}

.g-footer .qita .ruzhu {
    margin-right: 160px;
    float: right;
    margin-top: 25px;
}

.u-ruzhu {
    width: 160px;
    height: 36px;
    margin-bottom: 18px;
}

.u-ruzhu p {
    background: #DE3131;
    border: 1px solid #DE3131;
    width: 160px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.47px;
    text-align: center;
}

.u-ruzhu p:hover {
    background: none;
    color: #DE3131;
}

.g-footer .qita .derweima {
    width: 140px;
    height: 140px;
    background: #fff;
    float: right;
}

.g-footer .qita .derweima img {
    width: 140px;
    height: 140px;
}

/* footer公共样式end */