.clear {
    clear: both;
}

.index_2200 {
    width: 100%;
    background: #F5F5F5;
    float: left;
    text-align: center;
    font-size: 12px;
    color: #3E3A39;
    letter-spacing: 0.8px;
}

.news-nav {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    display: inline-block;
}

.news-screen-top p,
.news-screen-top1 p {
    float: right;
}

.news-screen-top p a,
.news-screen-top1 p a {
    font-size: 14px;
    padding-top: 6px;
    padding-right: 10px;
    color: #DE3131;
    float: right;
}

.news-screen-top img,
.news-screen-top1 img {
    float: right;
    padding-top: 10px;


}

.news-screen-top {

    display: inline-block;
    width: 1160px;
    border-bottom: 1px solid #eeeeee;

}

.news-screen-top1 {

    display: inline-block;

    width: 1160px;


}

.news-screen-top span,
.news-screen-top1 span {
    float: left;
    padding-top: 25px;
    font-size: 16px;
    color: #333;
    font-weight: 580;
}

.news-screen-hover ul {

    float: left;
    margin-bottom: 20px;
}

.news-screen-hover-ul {
    margin-left: 3px;
    float: left;
}

.news-screen-hover-ul1 {
    margin-left: -15px;
    float: left;

}

.news-screen-hover-ul1 li img {
    float: right;
    margin-top: -6px;

}

.news-screen-hover-ul1 li {

    margin-right: 10px;
    margin-top: -3px;
    text-align: center;
    padding-left: 20px;
    height: 25px;
    padding-top: 7px;
    border: 1px solid #eeeeee;
}

.news-screen-hover-ul1 li a {
    color: #DE3131;
    font-size: 14px;


}

.news-screen-hover {
    margin-top: 20px;
    width: 1050px;
    margin-left: 30px;
    float: left;
}

.news-screen-hover-p {
    display: inline-block;
    float: left;
    margin-top: 5px;
    padding-left: 20px;

}

.news-screen-hover-p a {



    font-size: 14px;
    color: #DE3131;
}

.news-screen-top ul li {
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    color: #666;
}

.news-screen-top ul li a {
    padding: 5px 5px 7px 5px;
    font-size: 14px;
    font-size: 14px;
    color: #666;
}

.news-screen-top ul li,
.news-screen-top1 ul li {
    float: left;
    margin-bottom: 1px;
}

.news-screen-top ul li a:hover {
    color: #DE3131;
    transition: color .2s;
    background-color: #fbe5d3;
}

.news-nav ul li {
    float: left;
    color: #666;
}

.news-nav ul li a {
    font-size: 14px;
    color: #666;
}

.news-nav ul li a:hover {
    color: #DE3131 !important;
    transition: color .3s;
}

.news-screen {

    text-align: center;
    border: 1px solid #eeeeee;
}

.top {
    margin: 0px auto;
    width: 1200px;
}

.top span {
    float: left;
    height: 37px;
    line-height: 37px;
    font-size: 12px;
    color: #3E3A39;
}

.top ul {
    float: right;
}

.top ul li {
    float: left;
    height: 37px;
    line-height: 37px;
    color: #3E3A39;
    letter-spacing: 0.8px;
    font-size: 12px;
    padding-left: 15px;
}

.top ul a li:hover {
    transition: color .3s;
    color: #DE3131
}

.box ul li:first {
    padding-left: 20px;
}

.box ul li:hover {
    color: #DE3131;
    transition: color 0.3s;
}

.box ul {
    margin-top: 9px;
}

.box ul li {
    float: left;
    font-size: 12px;
    color: #3E3A39;
    letter-spacing: 0.8px;
    margin-left: 12px;
    line-height: 16px;
}

.title-logo {
    float: left;
}

.title .title-logo img {
    float: left;

}

.box {
    width: 620px;
    margin-left: 63px;
    margin-top: 22px;
    float: left;
}

input {
    width: 476px;
    border: #DE3131 1px solid;
    height: 38px;
    float: left;
    font-size: 12px;
    color: #8F8F8F;
    letter-spacing: 0.8px;
    background-size: 25px;
    background-position: 5px center;
    padding: 0 0 0 12px;
    clear: both;
}

.search {
    display: inline-block;
    width: 130px;
    cursor: pointer;
    height: 40px;
    background: #DE3131;
    text-align: center;
    line-height: 40px;
    letter-spacing: 5px;
    margin-top: 26px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: -0.05px;
}

.search a {
    color: #ffffff;
}

#search {
    color: #333;
}

.title {
    width: 100%;
}

.index {
    width: 1200px;
    margin: 0 auto;
    /*float: left;0		*/
    clear: both;
}

.box-title span {
    display: block;
    width: 61px;
    height: 26px;
    color: #333;
    font-size: 13px;
    float: left;
    background: #FFE0E0;
    margin-right: 7px;
    text-align: center;
    line-height: 26px;
}

.box-title span:hover {
    background-color: #DE3131;
    color: #fff;
}

.Nav-imgnav-ul .daoji {
    float: right;
    font-size: 12px;
    color: #3E3A39;
    letter-spacing: 0.8px;
    height: 47px;
    line-height: 45px;
}

.Nav-imgnav-ul .daoji .span1 {
    color: #DE3131;
    margin: 0px 5px;
    font-size: 12px;
    letter-spacing: 0.8px;
}

.Nav-imgnav-ul .daoji #_d {
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.1px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background: #DE3131;
    color: #fff;
    font-family: cursive;
    font-weight: bold;
    padding: 0px 5px;
}

.title-tel {
    height: 42px;
    float: right;
    margin-top: 47px;
    background: url('../images/tel.jpg')left top no-repeat;
    background-size: 42px 42px;
    padding-left: 52px;
    font-size: 14px;
    color: #8F8F8F;
    letter-spacing: 0.8px;
    line-height: 20px;
}

.title-tel p {
    font-size: 14px;
    color: #8F8F8F;
    letter-spacing: 0.8px;
    margin-top: 4px;
}

.title-tel .tel {
    line-height: 24px;
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
    color: #DE3131;
    letter-spacing: -0.06px;
    margin-top: 0px;
}

/*全部行业*/
.Nav-allsec {

    display: inline-block;
    float: left;
    margin-right: 17px;
}

.Nav-allsec-title {
    width: 200px;
    display: inline-block;
    padding: 15px;
    height: 17px;
    clear: both;
}

.allsec {
    background: #DE3131 !important;
    cursor: pointer;
}

.allsec-text {
    float: left;
    padding-left: 5px;
    color: #fff;
}

.item {
    float: right;
    padding-right: 5px;
}

.Nav-allsec-title,
.Nav-hotsec-ul {
    background: #7a7a7a;
}

.Nav-hotsec-ul li {
    color: #fff;
    font-size: 14px;
    float: left;
    width: 57px;
    text-align: center;
    height: 25px;

}

.Nav-hotsec-ul li:hover {
    color: #DE3131;
    transition: color 0.3s;
}

.Nav-hotsec-ul {
    height: 86px;
    border-bottom: #888888 1px solid;
}

.item span {
    display: block;
    height: 20px;

    float: left;
    margin-right: 10px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.item_on {
    border-bottom: #DE3131 2px solid;

}

.Nav-imgNav {
    width: 950px;
    float: right;


}

.Nav-imgnav-ul li {
    float: left;
    height: 47px;
    line-height: 45px;
    text-align: center;
    padding-left: 40px;
    padding-right: 30px;
}

.Nav-imgnav-ul li:hover {
    transition: color .3s;
    color: #DE3131
}

.ImagNav_on {
    color: #DE3131;
}



.activity-ul li {
    float: left;

}

.activity-ul-li {
    margin-right: 16px;
}

.activity {
    margin-top: 465px;
}

.activity-bottom img {
    position: absolute;
    top: 5;
    z-index: -10;

}

.activity-bottom a {
    display: block;
    width: 100px;
    height: 32px;
    background: #e67f2b;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    margin-right: 10px;
    border: none;
    margin-top: 30px;
    float: left;
}

.activity-enter {
    float: right;
    margin-right: 20px;
}

.activity-bottom {
    /*position: relative;*/
    clear: both;
    padding-top: 30px;
}

.recommend {
    clear: both;
    padding-top: 25px;


}

.recommend-city {

    font-size: 16px;
    color: #333;
    color: #e67f2b;
    font-weight: 500;
    padding-bottom: 20px;
    display: inline-block;

}

.recommend-city1 {

    font-size: 16px;
    padding-left: 10px;
    color: #333;
    color: #e67f2b;
    font-weight: 500;
    padding-bottom: 20px;
    display: inline-block;

}

.recommend-top img,
.recommend-top p {
    float: left;
    margin-left: 15px;
}

.recommend-top-nav li,
.recommend-top-nav a span {
    float: left;
    margin-top: 5px;
    width: 52px;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    margin-right: 5px;
}

.recommend-top-nav-more {
    position: absolute;
    top: 13px;
    right: 12px;
}

.recommend-top-nav li:hover {
    transition: background 0.3s;
    background: #e67f2b;
    color: #fff;
}

.recommend-top p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 3px;
}

.recommend-top {
    height: 36px;
    border-bottom: #fd676b 1px solid;
    width: 100%;
}

.recommend-top-nav {
    float: right;
    width: 290px;
    position: relative;
}

.recommend-content {
    clear: both;
    z-index: 9999;
    width: 100%;
    float: left;
    margin-right: 7px;
}


.recommend-content-time {
    float: right;
    font-size: 13px;
    color: #666;
    margin-top: 5px;
}

.recommend-content-address {
    float: left;
    font-size: 13px;
    color: #666;
    margin-top: 5px;
}

.recommend-content-title {
    width: 250px;

    height: 50px;
    position: absolute;
    z-index: 0;
    /*border:1px #e5e5e5 solid;*/
    padding: 20px 17px 0px 17px;
}

/*---------------行业推荐阴影--------------*/
.recommend-content-details:hover {

    box-shadow: -1px 1px 10px -2px rgba(0, 0, 0, 0.1), 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
}

.recommend-content-details img:hover {
    transform: scale(1.2);

    /*------------------------------*/

}

.recommend-content-details {
    /*width: 468px;*/
    width: 287px;
    height: 370px;
    float: left;
    overflow: hidden;
    border: 1px #e5e5e5 solid;
    margin-bottom: 13px;
}

.recommend-content-details img {
    /*border:1px #e5e5e5 solid;*/
    /*	height: 175px;
	width: 227px;*/
}

.recommend-content-details-img {
    cursor: pointer;
    transition: all 0.6s;
    width: 470px !important;
}

.recommend-content-title-head {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    margin-top: -5px;
    height: 42px;
    margin-bottom: 8px;
    /**不换行**/
    color: #333;
}

.content-details-left {
    margin-right: 13px;

}

/*.content-details-left-2{
	margin-right:13px;
}*/
.xwzx-style {
    height: 210px;
    text-align: center;
}

.recommend-content-title-width {
    width: 436px;
    height: 56px;
}

.recommend-content-title-width-2 {
    width: 250px;
    padding: 22px 17px 0px 17px;
}

.recommend-hot {
    float: left;
    width: 228px;
}

.recommend-hot-details ul li {
    font-size: 13px;
    float: left;
    margin-right: 22px;
    color: #666666;
    margin-top: 11px;
    text-align: center;
}

.recommend-hot-details ul li:hover {
    transition: color .3s;
    color: #DE3131
}

.recommend-hot-details ul {
    margin-top: 14px;
    width: 100%;
    padding: 0 2px;
}

.recommend-content-a {
    overflow: hidden;
    width: 470px;
    height: 175px;
}

/*---------------放大-----------------*/
.recommend-content-details img {
    cursor: pointer;

    width: 100%;
    transition: all 0.6s;
}

.recommend-content-details:hover img {
    transform: scale(1.2);
}


.recommend-content-details .recommend-content-address img {
    width: 10px;
    margin-right: 4px;
}

.recommend-content-details .recommend-content-time img {
    width: 10px;
    margin-right: 4px;
}

/*-----------------------------*/
.recommend-content-title a p:hover {
    transition: color .3s;
    color: #DE3131;
}

.recommend-content-details:hover .recommend-content-title-head {
    transition: color .3s;
    color: #DE3131;

}

.recommend-hot-details {
    height: 490px;
    border: 1px #e5e5e5 solid;
    margin-bottom: 13px;
}

.recommend-hot-title {

    height: 20px;
    margin-top: -15px;
    position: absolute;
    z-index: 0;
    /*border:1px #e5e5e5 solid;*/
    padding: 20px 17px 0px 18px;
    width: 192px;

}

.recommend-hot-title-more {
    position: absolute;
    top: 22px;
    right: 25px;
}

.recommend-hot-address,
.recommend-hot-time {
    margin-top: 0px;
}

.recommend-hot-time {
    font-size: 13px !important;
    margin-right: 20px;
}

/*城市推荐*/
.city {
    padding-top: 25px !important
}

.city-top {
    border-bottom: #DE3131 1px solid !important;
}

/*城市推荐*/

/*热门展馆*/
.pavilion {
    width: 227px;
    height: 210px;
    text-align: center;
}

.recommend-pavilion {
    width: 100%;
    margin-right: 0px !important;
}

.pavilion-content-title {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 1));
    height: 20px;
    margin-top: -15px;
    position: absolute;
    z-index: 0;
    /*border:1px #e5e5e5 solid;*/
    padding: 20px 17px 0px 17px;
}

.pavilion-content-title-head {
    font-size: 14px;
    color: #333;
}

.pavilion-content-title-width-2 {
    width: 193px;
    margin-top: -15px;
    padding: 22px 17px 0px 17px;
}

.pavilion-content-title a p:hover {
    transition: color .3s;
    color: #DE3131;
}

.pavilion-top-nav-li {
    float: right !important;
    width: 60px !important;
}

/*热门展馆*/

.Nav-imgNav-img {
    width: 950px;
    height: 403px;
    float: left;
}

.recommend-general {
    width: 382px;
    height: 370px;
    margin-right: 18px;
    display: inline-block;
    text-align: center;

    border: 1px #e5e5e5 solid;
}

.recommend-general1 {
    width: 382px;
    height: 370px;

    display: inline-block;
    text-align: center;

    border: 1px #e5e5e5 solid;
}

.recommend-general-top,
.recommend-general1-top {
    width: 345px;
    height: 30px;
    padding-top: 25px;
    display: inline-block;

}

.recommend-general-top span,
.recommend-general1-top span {
    float: left;
    /*font-weight: 600;*/
    font-size: 16px;
}

.recommend-general-top a span,
.recommend-general1-top a span {
    float: right;
    font-weight: 500;
    font-size: 14px;
    color: #666666;
}

.recommend-general-top a span img,
.recommend-general1-top a span img {
    padding-left: 5px;
}

.recommend-general .img,
.recommend-general1 .img {
    width: 345px;
    background: url('../images/01_79.jpg')no-repeat center left;
    display: inline-block;

    height: 145px;
}

.recommend-general .img span,
.recommend-general1 .img span {
    color: #ffffff;
    font-size: 15px;
    display: inline-block;
    letter-spacing: 0.5px;
    margin-top: 120px;
}

.recommend-general ul,
.recommend-general1 ul {
    display: inline-block;
    width: 345px;

}

.recommend-general ul li,
.recommend-general1 ul li {
    padding-top: 20px;
}

.recommend-general ul li a,
.recommend-general1 ul li a {
    font-size: 14px;
    width: 250px;
    padding-left: 2px;
    text-align: left;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /**不换行**/
    float: left;
}

.recommend-general ul li span,
.recommend-general1 ul li span {
    padding-left: 50px;
    font-size: 14px;
}

.recommend-general ul li a:hover,
.recommend-general1 ul li a:hover {
    color: #DE3131;
    transition: color .3s;
}

.index-bottom {
    width: 100%;
    margin-top: 25px;
    margin-left: 15px;

    display: inline-block;

}

.index-bottom-block {
    width: 370px;


    text-align: center;
    margin-right: 16px;
    height: 120px;
    background-color: #f7f7f8;
    display: inline-block;

}

.index-bottom-block ul li {
    font-size: 14px;
    padding-bottom: 10px;
    color: #666666;
}

.index-bottom-block ul {
    width: 130px;
    margin-top: 35px;

    float: left;
}

.index-bottom-block img {
    float: left;
    padding-top: 35px;
    padding-right: 40px;
    padding-left: 70px;
}

.index-bottom-block .span {
    font-size: 16px;
    color: #666666;
    margin-top: 20px;
    padding-left: 20px;
    float: left;
}

.index-bottom-block .index-bottom-1 {
    font-weight: 600;
    color: #666666;
    font-size: 24px;
}

.index-footer {
    margin-top: 50px;
    height: 65px;
    background-color: #3c3c3c;
    border-bottom: 1px solid #565656;
    width: 100%;

    float: left;
    text-align: center;

}

.recommend-top h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 3px;
}

.recommend-top h1 {
    float: left;
    margin-left: 15px;
}

.index-footer-last-bottom {
    display: inline-block;
    width: 1200px;
    padding-top: 40px;


    color: #cccccc;
}

.index-footer-bottom {
    display: inline-block;
    width: 1200px;
    padding-top: 25px;
    color: #cccccc;

}

.list {
    width: 20px;
    height: 30px;
    text-align: right;
}

.index-footer-last-bottom ul {
    margin-bottom: 20px;
    height: 14px !important;
}

.index-footer-bottom ul,
.index-footer-last-bottom ul {
    float: left;
    display: inline-block;
}

.index-footer-bottom ul li,
.index-footer-last-bottom ul li {
    float: left;
    color: #cccccc;
    font-size: 14px;
    padding-right: 20px;
}

.index-footer-bottom ul li:hover {
    transition: color .3s;
    color: #fff;
}

.index-footer-last-bottom ul a li:hover {
    transition: color .3s;
    color: #fff;
}

.index-footer-last {
    margin-top: 40px;

    height: 180px;


    background-color: #3c3c3c;
    width: 100%;

    float: left;
    text-align: center;

}

.index-footer-last-img {
    float: right;
    margin-top: -75px;
    width: 105px;
    height: 105px;
}

.index-footer-last span {
    float: left;
    font-size: 13px;
    display: inline-block;

    color: #cccccc;
    padding-right: 30px;
    margin-top: 10px;


}

.index-footer-last-title-tel {
    width: 190px;
    height: 40px;
    margin-top: 35px;
}

.index-footer-last-title-tel img {
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -3px;
    float: left;
}

.index-footer-last-title-tel p {
    font-size: 24px;

    width: 230px;
    color: #cccccc;
    margin-top: 15px;
}

.index-footer-button {
    width: 95px;
    height: 35px;
    text-align: center;

    margin-bottom: 20px;

    border: 1px solid #DE3131;
}

.index-footer-button1 {
    width: 160px;
    margin-top: -75px;
    text-align: center;
    float: right;


}

.index-footer-button-span a {

    color: #DE3131;
    padding-top: 11px;
    display: inline-block;
    font-size: 13px;

}

/*----------------------二级菜单-------------------------*/
#menu {
    width: 1200px;

    height: 404px;
    position: absolute;
    top: 217px;
    z-index: -1;
    /*display: none; */
}

#menu li {
    color: #666;
}

.menu-nav {
    position: absolute;
    /*right: 3px;*/
    /*z-index: -99;*/
    width: 230px;
    height: 480px;
    float: left;
    padding-top: 5px;
    background: rgba(248, 247, 247, 0.95);
    display: none;
}

.menu-nav-ul {
    height: 30px;
    width: 230px;
}

.menu-nav-backgroundcolor {
    background: #f2dfd0;
}

.menu-nav-ul li {
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    width: 57px;
    text-align: center;
}

.menu-nav-ul li:hover {
    color: #DE3131 !important;
    transition: color 0.3s;
}

.menu-context-ul li {
    width: 87px;
    height: 30px;
    background: #f2dfd0;
    font-size: 14px;
    float: left;
    margin-right: 24px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 33px;
}

.menu-context-ul li:hover {
    background: #DE3131;
    color: #fff !important;
    transition: background 0.3s;
}

.menu-context {

    display: none;
    background: rgba(248, 247, 247, 0.95);
    float: left;
    padding: 30px 10px 30px 45px;
    height: 423px;
    width: 912px;
    position: absolute;
    right: 3px;
    z-index: -9999;
}

.menu-context-ul {
    width: 900px;
}

/*--------------------------------------------*/
.pavilion-img {
    width: 287px;
    height: 267px;
    overflow: hidden;
}

.bigimg {
    width: 470px !important;
}

/*--------分页----------*/
.pagination-footer {
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
}

.pagination-footer .active {
    border-left: 1px solid #ddd;
    display: inline-block;
    padding: 10px 14px;
}

.pagination-footer .active1 {

    display: inline-block;
    padding: 10px 14px;
}

.pagination-footer .second {
    border-left: 1px solid #ddd;
    margin-left: 10px;
    padding: 10px 14px;
    margin-right: 10px;
    display: inline-block;
}

.pagination-footer .first {
    border-left: 1px solid #ddd;
    margin-left: 10px;
    padding: 10px 14px;
    margin-right: 10px;
    display: inline-block;

}

.pagination-footer .last {
    margin-right: 10px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    display: inline-block;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    font-size: 14px;
    color: #888888;
    float: left;

    text-decoration: none;
    transition: background-color .3s;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/*ul.pagination li a {
    color: black;
    float: left;
    font-size: 14px;
    color: #888888;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}*/

.pagination .active {
    background-color: #DE3131;
    color: #ffffff;
}

ul.pagination li a:hover {
    background-color: #DE3131;
    color: #ffffff;
}

.pagination_li_on {
    background-color: #DE3131;
    color: #ffffff !important;
}

.active {
    background-color: #DE3131;
    color: #ffffff;
}

/*-------------新闻详情页----------*/
.news-details {
    width: 100%;
    margin-top: 40px;
    display: inline-block;
    border-left: 3px solid #DE3131;
    height: 40px;
}

.news-details-xiao {
    width: 1196px;
    height: 37px;
    display: inline-block;
    margin-left: 3px;
    background: url('../images/6666.png')no-repeat center left;

    border-bottom: 2px solid #DE3131;

}

.news-details-xiao ul {
    padding-top: 10px;
    padding-left: 15px;

}

.news-details-xiao ul li {
    float: left;
    padding-right: 80px;
    color: #666;
    font-size: 18px;
}

.news-details-xiao ul li a {
    color: #666;
    font-size: 18px;
}

.news-details-xiao .first-child {
    color: #fff;
}

.news-details-list {
    width: 100%;


    display: inline-block;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;

    float: left;

    border-right: 1px solid #e6e6e6;
}

.news-details-tu {
    height: 45px;
    width: 110px;
    margin-top: 45px;
    background: url('../images/huang1.png')no-repeat center left;
    margin-left: -7px;
}

.news-details-tu span {
    margin-top: 13px;
    font-size: 18px;
    display: inline-block;
    padding-left: 20px;
    color: #FFF;
}

.ditie p {
    width: 98%;
    margin-left: 15px;
    font-size: 14px;
    margin-top: 15px;
    color: #666666;
    line-height: 25px;
}

.ditie .p2 {
    width: 98%;
    margin-left: 15px;
    margin-top: 10px;

    font-size: 14px;
    margin-bottom: 25px;
    color: #666666;
    line-height: 25px;

}

.ditie h2 {
    padding-left: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #666666;

}

.news-details-list p {
    width: 98%;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 14px;
    color: #666666;
    line-height: 35px;
}

.news-details-list .p1 {
    width: 98%;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 14px;
    color: #666666;
    line-height: 35px;
}

.news-details-list h1 {
    padding-left: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #666666;
    margin-top: 30px;


}

.news-details-tu-ul {
    display: inline-block;
    margin-top: 20px;
    padding-left: 15px;
}

.news-details-tu-ul li {
    float: left;
    height: 200px;
    width: 280px;
    padding-right: 15px;
}

.news-details-tu-ul li img {
    width: 100%;
}

.ditie {
    width: 500px;
    float: right;
    padding-left: 63px;
}

.news-details-shop {
    width: 100%;
    display: inline-block;

    padding-top: 30px;
    padding-bottom: 30px;


    text-align: center;

}

.news-screen-city-more {
    width: 950px;
    margin-top: -10px;
    line-height: 25px;
    display: none;
}

.news-screen-city-more li {
    line-height: 35px;

}

.news-screen-top-js {
    color: #DE3131 !important;
    transition: color .2s;
    background-color: #fbe5d3;
}

.news-screen-top-js-son {
    color: #DE3131 !important;
    transition: color .2s;
    background-color: #fbe5d3;
}

.news-details-shop ul {
    display: inline-block;


}

#js-news-screen-hover-ul1 {
    height: 35px;
}

.news-details-shop ul li {
    margin-right: 20px;
    padding: 15px 30px 15px 30px;
    border: 1px solid #DE3131;
    color: #DE3131;
    font-size: 14px;
    float: left;
}

.news-details-shop ul a li:hover {
    background-color: #DE3131;
    color: #ffffff;
    transition: background 0.3s;


}

.news-details-xiao ul li a:hover {
    color: #DE3131;
    transition: background 0.3s;

}

#js-2021,
#js-2020,
#js-gongye,
#js-dianzi,
#js-jiancai2,
#js-jiancai,
#js-2019 {
    display: none;
}

.index-footer-last-height {
    margin-bottom: 106px;
}

.box-nav_on {
    background-color: #DE3131 !important;
    color: #fff !important;
}

#zhanguan {
    display: none;
}

#js-city {
    width: 950px;
    height: 30px;
    overflow: hidden;
}

#js-city li {
    height: 30px;
}























.w1200 {
    width: 1200px;
    margin: 0px auto;
}

.g-footer {
    width: 100%;
    background: #3e3a39;
    padding: 30px 0px 45px;
}

.g-footer .youlian {
    width: 100%;
    margin-bottom: 40px;
}

.g-footer .youlian p {
    float: left;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.93px;
    line-height: 20px;
    margin-right: 20px;
}

.g-footer .youlian a p:hover {
    color: #DE3131;
}

.g-footer1 {
    width: 100%;
    background: #363231;
}

.g-footer1 .w1200 {
    height: 45px;
    line-height: 50px;
    font-size: 14px;
    color: #BFBFBF;
    letter-spacing: 0.47px;
    text-align: left;
}

.g-footer .didao {
    margin-bottom: 20px;
    width: 100%;
}

.g-footer .didao p {
    float: left;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.93px;
    line-height: 20px;
    margin-right: 40px;
}

.g-footer .qita {
    width: 100%;
    margin-bottom: 55px;
    height: 60px;
}

.g-footer .qita .dlogo {
    float: left;
    height: 95px;
    margin-top: 25px;
}

.g-footer .qita .dlogo img {
    height: 100%;
}

.g-footer .qita .dtel {
    height: 50px;
    float: left;
    margin-left: 160px;
    margin-top: 45px;
    background: url('../images/ditel.jpg')left top no-repeat;
    background-size: 50px 50px;
    padding-left: 60px;
    font-size: 14px;
    color: #8F8F8F;
    letter-spacing: 0.8px;
    line-height: 22px;
}

.g-footer .qita .dtel p {
    font-size: 16.8px;
    color: #FFFFFF;
    letter-spacing: 0.96px;
    margin-top: 4px;
    text-align: left;
}

.g-footer .qita .dtel .tel {
    line-height: 30px;
    font-family: cursive;
    font-weight: bold;
    font-size: 24px;
    color: #DE3131;
    letter-spacing: -0.06px;
    margin-top: 0px;
}

.g-footer .qita .ruzhu {
    margin-right: 160px;
    float: right;
    margin-top: 25px;
}

.u-ruzhu {
    width: 160px;
    height: 36px;
    margin-bottom: 18px;
}

.u-ruzhu p {
    background: #DE3131;
    border: 1px solid #DE3131;
    width: 160px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.47px;
    text-align: center;
}

.u-ruzhu p:hover {
    background: none;
    color: #DE3131;
}

.g-footer .qita .derweima {
    width: 140px;
    height: 140px;
    background: #fff;
    float: right;
}

.g-footer .qita .derweima img {
    width: 140px;
    height: 140px;
}




.g-form {
    width: 100%;
    position: relative;
    top: -2px;
}

.g-form .imgs {
    width: 100%;
    position: relative;
    z-index: 2;
}

.g-form .imgs img {
    width: 100%;
    vertical-align: top;
}

.g-form .imgs .ftit {
    font-size: 40px;
    color: #DE3131;
    letter-spacing: 1.33px;
    font-weight: bold;
    line-height: 60px;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -30px;
    z-index: 2;
}

.g-form .imgs .ftit1 {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -85px;
    z-index: 2;
}

.g-form .imgs .ftit1 .titl {
    font-size: 40px;
    color: #DE3131;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 1.33px;
}

.g-form .imgs .ftit1 p {
    font-size: 20px;
    color: #3E3A39;
    letter-spacing: 0.67px;
    line-height: 26px;
    margin: 10px 0px;
}

.g-form .biao {
    width: 500px;
    margin: 0px auto;
    padding: 30px 0px 35px;
}

.g-form .biao.biao1 {
    width: 550px;
}

.g-form .biao.biao2 {
    width: 685px;
}

.g-form .biao .btit {
    font-size: 20px;
    color: #3E3A39;
    letter-spacing: 0.8px;
    line-height: 26px;
    margin-bottom: 35px;
}

.g-form .biao .btit span {
    font-size: 20px;
    color: #DE3131;
    letter-spacing: 0.8px;
    line-height: 26px;
}

.u-input {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.u-input .itit {
    width: 100%;
    line-height: 20px;
    margin-bottom: 4px;
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.47px;
}

.u-input .itit span {
    color: #DE3131;
    margin: 0px 3px;
    position: relative;
    top: 4px;
    width: 8px;
    display: inline-block;
}

.u-input .itxt .txts {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 12px;
    color: #DE3131;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-align: right;
    margin: 0px;
    top: 0px;
    width: auto;
}

.u-input .itxt {
    width: 100%;
}

.u-input .itxt input {
    width: 93.7%;
    padding: 0px 3%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #BFBFBF;
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.47px;
    vertical-align: top;
    clear: none;
    float: none;
}

.u-input .itxt input.on {
    border: 1px solid #DE3131;
}

.u-input .itxt input.input1 {
    width: 280px;
    float: left;
}

.u-input .itxt textarea {
    width: 93.7%;
    padding: 10px 3%;
    height: 150px;
    line-height: 25px;
    border: 1px solid #BFBFBF;
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.47px;
    vertical-align: top;
    clear: initial;
}

.u-input .itxt textarea.on {
    border: 1px solid #DE3131;
}

.u-yanzheng {
    height: 32px;
    line-height: 32px;
    width: 170px;
    float: right;
    vertical-align: top;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.47px;
    text-align: center;
    background: #DE3131;
    cursor: pointer;
    color: #FFFFFF;
}

.u-yanzheng.f-disable {
    cursor: not-allowed;
}

.u-tijiao {
    width: 160px;
    height: 36px;
    margin: 35px auto 0px;
}

.u-tijiao input {
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #DE3131;
    font-size: 16px;
    cursor: pointer;
    color: #FFFFFF;
    letter-spacing: 0.53px;
    text-align: center;
}

.u-chenggong {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 15px;
}

.u-chenggong p {
    font-size: 30px;
    color: #3E3A39;
    letter-spacing: 1px;
}

.u-chenggong .cg {
    margin-bottom: 15px;
}

.u-chenggong img {
    width: 72px;
}

.u-txts {
    width: 100%;
    margin-bottom: 65px;
}

.u-txts p {
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.47px;
    text-align: justify;
    line-height: 35px;
}

.u-txts .ti {
    color: #DE3131;
}

.u-erweima {
    width: 100%;
    text-align: center;
}

.u-erweima img {
    width: 120px;
    border-radius: 5px;
    vertical-align: top;
    background: #d8d8d8;
    padding: 5px;
}

.u-erweima p {
    text-align: center;
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.47px;
    line-height: 50px;
}

.m-guanzhu {
    width: 100%;
    padding: 50px 0px;
}

.m-guanzhu .gtit {
    height: 24px;
    line-height: 24px;
    margin-bottom: 24px;
    width: 100%;
    font-family: MicrosoftYaHei;
    font-size: 18px;
    color: #3E3A39;
    letter-spacing: 0.72px;
}

.u-piao {
    width: 100%;
}

.u-piao .pt {
    line-height: 26px;
    font-size: 20px;
    color: #3E3A39;
    letter-spacing: 0.8px;
    margin-bottom: 20px;
    margin-left: 9px;
}

.u-piao .pt span {
    margin: 0px 10px;
    font-size: 22px;
}

.u-piao .piao {
    width: 100%;
}

.u-menpiao {
    margin-bottom: 30px;
    background: url('../images/p1.png')left top no-repeat;
    background-size: 100% 100%;
    padding: 55px 60px 57px 8px;
    position: relative;
}

.u-menpiao .mptit {
    height: 90px;
    background: url('../images/p2.png')left top no-repeat;
    background-size: auto 100%;
    overflow: hidden;
    padding-left: 40px;
    margin-bottom: 67px;
}

.u-menpiao .mptit p {
    font-size: 16px;
    color: #3E3A39;
    letter-spacing: 0.64px;
    line-height: 30px;
}

.u-menpiao .mptit p.tits {
    line-height: 36px;
    font-size: 20px;
    color: #DE3131;
    letter-spacing: 1.12px;
}

.u-menpiao .mpma {
    width: 116px;
    height: 116px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    right: 50px;
    top: 50%;
    margin-top: -58px;
    z-index: 99;
}

.u-menpiao .mpma img {
    width: 100%;
    height: 100%;
}

.u-menpiao .mpid {
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.56px;
    line-height: 24px;
    padding-left: 40px;
}

.u-menpiao .mpid span {
    font-size: 18px;
    color: #DE3131;
    letter-spacing: 0.56px;
    line-height: 19px;
}





.u-buzhou {
    width: 100%;
    margin-bottom: 40px;
    padding-top: 10px;
}

.u-buzhou .bu {
    float: left;
    text-align: center;
}

.u-buzhou .bu p {
    font-size: 14px;
    color: #8F8F8F;
    letter-spacing: 0.56px;
    text-align: center;
    line-height: 18px;
}

.u-buzhou .bu .shu {
    width: 20px;
    height: 20px;
    border: 1px solid #979797;
    border-radius: 50%;
    line-height: 18px;
    font-size: 12px;
    color: #8F8F8F;
    letter-spacing: 0.4px;
    margin: 0px auto 5px;
}

.u-buzhou .zhou {
    float: left;
    width: 156px;
    height: 1px;
    background: #979797;
    margin-top: 10px;
    margin-left: -5px;
    margin-right: -5px;
}

.u-buzhou .bu.ons p {
    color: #DE3131;
}

.u-buzhou .bu.ons .shu {
    border: 1px solid #DE3131;
    color: #DE3131;
}

.u-buzhou .zhou.ons {
    background: #DE3131;
}

.u-renshu {
    width: 100%;
    height: 31px;
    line-height: 31px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #3E3A39;
    letter-spacing: 0.53px;
    font-weight: bold;
}

.u-renshu span {
    display: inline-block;
    width: 31px;
    height: 29px;
    vertical-align: top;
    border: 1px solid #8F8F8F;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
}

.u-renshu span.rembtm {
    margin-left: 13px;
    font-size: 12px;
}

.u-renshu span.addbtm {
    margin-right: 13px;
    font-size: 20px;
}

.u-renshu input {
    width: 31px;
    height: 29px;
    background: #FFE0E0;
    border: 1px solid #DE3131;
    font-size: 20px;
    color: #DE3131;
    letter-spacing: 0.67px;
    text-align: center;
    padding: 0px;
    float: none;
    vertical-align: top;
    font-weight: bold;
    margin: 0px 5px;
}

.u-suopiao {
    width: 100%;
    margin-bottom: 35px;
}

.u-suopiao .sptit {
    background: #919191;
    width: 100%;
    height: 37px;
    line-height: 37px;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.53px;
    text-indent: 13px;
    margin-bottom: 20px;
}

.u-xiayibu {
    width: 160px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #DE3131;
    font-size: 16px;
    cursor: pointer;
    color: #FFFFFF;
    letter-spacing: 0.53px;
    text-align: center;
    margin: 35px auto 0px;
}

.u-tijiao.u-tijiao1 {
    width: 335px;
}

.u-tijiao.u-tijiao1 p {
    width: 158px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #DE3131;
    font-size: 16px;
    cursor: pointer;
    color: #DE3131;
    letter-spacing: 0.53px;
    text-align: center;
    float: left;
    margin-right: 15px;
}

.u-tijiao.u-tijiao1 p:hover {
    background: #DE3131;
    color: #fff;
}

.u-tijiao.u-tijiao1 input {
    border: 1px solid #DE3131;
    width: 158px;
    clear: initial;
}

.u-tijiao.u-tijiao1 input:hover {
    background: #fff;
    color: #de3131;
}

.m-suopiao .suo2 {
    display: none;
}

.m-suopiao .suo2 .u-input {
    margin-bottom: 30px;
}

.m-suopiao .suo2 .u-input .itit {
    font-size: 16px;
}

.u-input .itxt1 label {
    width: 100%;
    display: block;
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.4px;
    line-height: 30px;
}

.u-input .itxt1 input {
    height: 14px;
    background: #fff;
    border: 1px solid #dcdcdc;
    vertical-align: middle;
    margin-right: 7px;
    width: 14px;
    position: relative;
    top: -1px;
    padding: 0px;
    /*-webkit-appearance: checkbox;*/
}


.pages {
    float: left;
    margin-top: 20px;
    margin-left: 40%;
    text-align: center;

}

.pages a {
    display: inline-block;
    background: #fff url() 0 0 no-repeat;
    color: #888;
    padding: 10px;
    min-width: 15px;
    border: 1px solid #E2E2E2;

}

.pages span {
    display: inline-block;
    padding: 10px;
    min-width: 15px;
    border: 1px solid #E2E2E2;
    position: relative;
    top: -11px;
}

.pages span.current {
    display: inline-block;
    background: #DE3131 0 0 no-repeat;
    color: #fff;
    padding: 10px;
    min-width: 15px;
    border: 1px solid #DE3131;
}

.pages .pagination li {
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}

.pages .pagination .active a {

    background: #DE3131 0 0 no-repeat;
    color: #fff;
    border: 1px solid #DE3131;
    position: relative;
}

/*--------------侧栏--------------------*/
.custom ul li {
    width: 45px;
    height: 45px;
    line-height: 55px;
    text-align: center;
    color: #fff;
    background: #efeff1;
    margin-bottom: 4px;
    border-radius: 5px;
    margin-left: 2px;
    /*padding-left: 2px;*/

}

.zhiding {
    line-height: 40px !important;
}

.custom ul li:hover {
    background: #DE3131;
    transition: background 0.3s;
}

/*.custom ul li:hover .Online-custom a p{
            }*/
.Online-custom {
    float: left;
    width: 108px;
}

.Online-custom a p {
    height: 45px;
    line-height: 47px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    width: 100%;
    background: #DE3131;
    border-radius: 5px;


    display: none;
}

.Online-custom a {
    height: 45px;
    width: 100%;
    display: block;
    margin-bottom: 4px;
}

.custom-SideNav {
    float: left;
}

.custom {
    position: fixed;
    right: 0px;
    top: 320px;
    z-index: 99999;
}


.u-fenxiang {
    display: block;
    float: left;
    line-height: 46px;
    margin-top: 10px;
    height: 46px;
    font-size: 18px;
    color: #cbcbcb;
    margin-right: 50px;
    cursor: pointer;
}

.u-fenxiang img {
    height: 18px;
    vertical-align: middle;
    margin: 13px 8px 15px;
}

.share-dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 200px;
    margin: -100px 0 0 -250px;
    background: #fff;
    z-index: 999991;
}

.share-dialog .share-close {
    position: absolute;
    right: 7px;
    top: 10px;
    width: 26px;
    height: 26px;
    display: inline-block;
    cursor: pointer;
    background: url("../images/dialog-close.png") no-repeat;
}

.share-dialog .share-dialog-title {
    height: 45px;
    line-height: 45px;
    text-indent: 15px;
    font-size: 18px;
    background: #eee;
}

.share-dialog .share-dialog-cont {
    padding: 20px;
    font-size: 14px;
}

.share-dialog .share-copy-l {
    float: left;
    width: 77px;
    margin-top: 8px;
    font-size: 14px;
}

.share-dialog .share-copy-c {
    float: left;
    width: 307px;
}

.share-dialog .share-copy-c input {
    display: block;
    width: 100%;
    height: 36px;
    padding: 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 1.2;
    color: #555;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ccc;
}

.share-dialog .share-copy-c input:focus {
    border-color: #333;
    outline: 0;
}

.share-dialog .share-copy-r {
    float: left;
    width: 76px;
    height: 36px;
    text-align: right;
    color: #f37b1d;
    line-height: 36px;
    border: 0px;
    cursor: pointer;
}

.share-platform {
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

.share-platform .share-platform-l {
    float: left;
    width: 77px;
    line-height: 44px;
    font-size: 14px;
}

.share-platform .share-platform-r {
    float: left;
    width: 310px;
}

.share-platform .bds_weixin {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-image: url('https://www.zhandaren.com/home/images/css-bg.png');
    background-position: -13px -7px;
}

.share-platform .bds_tsina {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-image: url('https://www.zhandaren.com/home/images/css-bg.png');
    background-position: -57px -7px;
}

.share-platform .bds_sqq {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-image: url('https://www.zhandaren.com/home/images/css-bg.png');
    background-position: -101px -7px;
}

.share-platform .bds_qzone {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-image: url('https://www.zhandaren.com/home/images/css-bg.png');
    background-position: -146px -7px;
}

.bdsharebuttonbox {
    width: 310px;
    height: 44px;
}

.share-platform-text {
    color: #aaa;
    margin-top: 5px;
    font-size: 12px;
}

.share-copy .btn {
    float: right;
    width: 75px;
    height: 36px;
    line-height: 36px;
    color: #f37b1d;
    border: 0px;
    background: none;
}

.share-copy .btn:hover {
    background: #dcdcdc;
}

.g-fen {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: url('../images/h.png');
    z-index: 99999;
}

.bd_weixin_popup {
    z-index: 999999 !important;
    width: 260px !important;
    height: 330px !important;
}

.bd_weixin_popup .bd_weixin_popup_foot {
    padding-left: 15px;
}


.fenxiangweixin {
    position: fixed;
    top: 25%;
    left: 35%;
    width: 240px;
    height: 300px;
    background-color: #ffffff;
    z-index: 999992;
    display: none;
}

.fenxiangweixin span {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    line-height: 16px;
    height: 16px;
    position: relative;
    color: #000;
}

.fenxiangweixin .wxclose {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
    color: #999;
    text-decoration: none;
    font-size: 16px;
}

.fenxiangweixin .qrcode {
    direction: ltr;
    border: 0;
    width: 196px;
    border-collapse: collapse;
    background-color: #fff;
    margin: 0 auto;
    padding: 15px 10px;
    min-height: 150px;
}

.fenxiangweixin .qrcode canvas {
    direction: ltr;
    border: 0;
    width: 196px;
    border-collapse: collapse;
    background-color: #fff;
    margin: 0 auto;
}

.fenxiangweixin .wxtips {
    font-size: 12px;
    text-align: left;
    line-height: 22px;
    color: #666;
}

.payway {
    height: 240px;
    width: 100%;
    margin: 0 auto;
}

.payways {
    width: 100%;
    height: 100px;
}

.cbox {
    width: 150px;
    height: 48px;
    border: 1px solid #bbbbbb;
    float: left;
    margin-left: 20px;
}

.cbox input {
    width: 15px;
    height: 15px;
    margin-top: 17px;
    margin-left: 5px;
}

.cbox img {
    width: 80%;
    height: 80%;
    margin-top: 2%;
}

.payways input[type=text] {
    border: 0;
}

/*展会日历CSS开始*/
.g-calendar {
    width: 100%;
    padding-bottom: 40px;
}

.m-cazuo {
    width: 883px;
    float: left;
}

.u-tishi {
    display: inline-block;
}

.u-tishi p {
    float: left;
    margin-right: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #3E3A39;
    letter-spacing: 0.4px;
}

.u-tishi p span {
    width: 8px;
    height: 8px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 6px 5px 6px 0px;
}

.wx-mark-li p span {
    width: 5px;
    height: 5px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 6px 5px 6px 0px;
}

.u-ritxt .wx-mark-li p span {
    width: 6px;
    height: 6px;
    margin: 8px 8px 8px 0px;
}

.u-lv {
    background: #30BD76;
}

.u-huang {
    background: #F4B663;
}

.u-hong {
    background: #C60000;
}

.m-rilitan {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 99999;
    display: none;
}

.m-rilitan .tans {
    width: 450px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -225px;
    top: 50%;
    margin-top: -150px;
    background: #fff;
}

.m-rilitan .tans .tishi {
    padding: 0px 15px;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    color: #3E3A39;
    letter-spacing: 0.4px;
    border-top: 1px solid #E9E9E9;
}

.m-rilitan .tans .tishi .u-tishi {
    margin: 7px 0px;
    vertical-align: top;
}

.u-ritit {
    height: 42px;
    background: #EFEFEF;
    padding: 0px 2px 0px 15px;
}

.u-ritit .riqi {
    float: left;
}

.u-ritit .riqi span {
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.47px;
    line-height: 42px;
    margin-right: 10px;
}

.u-ritit .guan {
    float: right;
    padding: 13px;
    cursor: pointer;
}

.u-ritit .guan img {
    width: 16px;
    height: 16px;
    vertical-align: top;
}

.u-ritxt {
    padding: 15px;
}

.u-ritxt p {
    width: 100%;
    height: 22px;
    overflow: hidden;
    font-size: 12px;
    color: #3E3A39;
    letter-spacing: 0.4px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.m-cayou {
    width: 287px;
    float: right;
}

.u-times {
    padding: 25px;
    background: #F7F7F7;
    text-align: center;
    margin-bottom: 15px;
}

.u-times .tyear {
    width: 100%;
    margin-bottom: 13px;
}

.u-times .tyear span {
    margin: 0px 6px;
    font-size: 18px;
    color: #00001B;
    letter-spacing: 0.6px;
    line-height: 23px;
}

.u-times .tyear span.span1 {
    font-family: cursive;
    font-weight: bold;
}

.u-times .tday {
    width: 100%;
    width: 59px;
    height: 60px;
    background: url('../images/icon18.png') left top no-repeat;
    background-size: 59px 60px;
    margin: 0px auto;
    line-height: 60px;
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: -0.89px;
    font-family: cursive;
}

.u-times .tyin {
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
    color: #00001B;
    letter-spacing: 0.6px;
    line-height: 23px;
}

.m-zhanchang {
    width: 100%;
}

.m-zhanchang .chang {
    width: 100%;
    line-height: 30px;
    padding-bottom: 15px;
    font-size: 18px;
    color: #3E3A39;
    letter-spacing: 0.6px;
    text-align: center;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 15px;
}

.m-zhanchang .chang span {
    font-family: cursive;
    font-weight: bold;
    font-size: 28px;
    color: #DE3131;
    display: inline-block;
    margin: 0px 5px;
    vertical-align: top;
    letter-spacing: 0.8px;
    line-height: 30px;
}

.m-zhanchang .zhan {
    width: 100%;
    max-height: 636px;
    overflow: hidden;
}

.u-zhans {
    margin-bottom: 10px;
    border: 1px solid #E4E4E4;
    transition: all 0.5s ease 0s;
}

.u-zhans:hover {
    border: 1px solid #DE3131;
}

.u-zhans .zimg {
    width: 100px;
    height: 94px;
    float: left;
}

.u-zhans .zimg img {
    width: 100%;
    height: 100%;
}

.u-zhans .ztxt {
    width: 170px;
    padding: 10px 0px;
    float: right;
    margin-right: 8px;
}

.u-zhans .ztxt .titles {
    width: 100%;
    height: 40px;
    margin-bottom: 18px;
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #3E3A39;
    letter-spacing: 0;
    text-align: justify;
    transition: all 0.5s ease 0s;
}

.u-zhans:hover .ztxt .titles {
    color: #DE3131;
}

.u-zhans .ztxt .tim {
    width: 100%;
}

.u-zhans .ztxt .tim p {
    font-size: 12px;
    color: #9B9B9B;
    letter-spacing: 0.4px;
    text-align: justify;
    line-height: 16px;
}

.u-zhans .ztxt .tim p:nth-child(2) {
    margin-right: 5px;
}

.u-zhans .ztxt .tim p img {
    height: 10px;
    margin: 3px 5px 3px 0px;
    vertical-align: top;
}

.f-fl {
    float: left;
}

.f-fr {
    float: right;
}

.m-zhanchang .more {
    width: 100%;
    border: 1px solid #979797;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    display: none;
}

.m-zhanchang .more.on {
    display: block;
}

.m-zhanchang .more:hover {
    color: #fff;
    border: 1px solid #DE3131;
    background: #DE3131;

}

.sc-item a,
.layui-layer-content a {
    pointer-events: none;
}

/*展会日历CSS结束*/