.clear {
    clear: both;
}

.index_2200 {
    width: 100%;
    background: #F5F5F5;
    float: left;
    text-align: center;
    font-size: 12px;
    color: #3E3A39;
    letter-spacing: 0.8px;
}


.news-screen-top p,
.news-screen-top1 p {
    float: right;
}

.news-screen-top p a,
.news-screen-top1 p a {
    font-size: 14px;
    padding-top: 6px;
    padding-right: 10px;
    color: #DE3131;
    float: right;
}

.news-screen-top img,
.news-screen-top1 img {
    float: right;
    padding-top: 10px;


}

.news-screen-top {

    display: inline-block;
    width: 1160px;
    border-bottom: 1px solid #eeeeee;

}

.news-screen-top1 {

    display: inline-block;

    width: 1160px;


}

.news-screen-top span,
.news-screen-top1 span {
    float: left;
    padding-top: 25px;
    font-size: 16px;
    color: #333;
    font-weight: 580;
}

.news-screen-hover ul {

    float: left;
    margin-bottom: 20px;
}

.news-screen-hover-ul {
    margin-left: 3px;
    float: left;
}

.news-screen-hover-ul1 {
    margin-left: -15px;
    float: left;

}

.news-screen-hover-ul1 li img {
    float: right;
    margin-top: -6px;

}

.news-screen-hover-ul1 li {

    margin-right: 10px;
    margin-top: -3px;
    text-align: center;
    padding-left: 20px;
    height: 25px;
    padding-top: 7px;
    border: 1px solid #eeeeee;
}

.news-screen-hover-ul1 li a {
    color: #DE3131;
    font-size: 14px;


}

.news-screen-hover {
    margin-top: 20px;
    width: 1050px;
    margin-left: 30px;
    float: left;
}

.news-screen-hover-p {
    display: inline-block;
    float: left;
    margin-top: 5px;
    padding-left: 20px;

}

.news-screen-hover-p a {



    font-size: 14px;
    color: #DE3131;
}

.news-screen-top ul li {
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    color: #666;
}

.news-screen-top ul li a {
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    font-size: 14px;
    color: #666;
}

.news-screen-top ul li,
.news-screen-top1 ul li {
    float: left;
}

.news-screen-top ul li a:hover {
    color: #DE3131;
    transition: color .2s;
    background-color: #fbe5d3;
}

.news-screen {
    text-align: center;
    border: 1px solid #eeeeee;
}

.activity-ul li {
    float: left;

}

.activity-ul-li {
    margin-right: 16px;
}

.activity {
    margin-top: 465px;
}

.activity-bottom img {
    position: absolute;
    top: 5;
    z-index: -10;

}

.activity-bottom a {
    display: block;
    width: 100px;
    height: 32px;
    background: #e67f2b;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    margin-right: 10px;
    border: none;
    margin-top: 30px;
    float: left;
}

.activity-enter {
    float: right;
    margin-right: 20px;
}

.activity-bottom {
    /*position: relative;*/
    clear: both;
    padding-top: 30px;
}

.recommend {
    clear: both;
    padding-top: 25px;


}

.recommend-city {

    font-size: 16px;
    color: #333;
    color: #e67f2b;
    font-weight: 500;
    padding-bottom: 20px;
    display: inline-block;

}

.recommend-city1 {

    font-size: 16px;
    padding-left: 10px;
    color: #333;
    color: #e67f2b;
    font-weight: 500;
    padding-bottom: 20px;
    display: inline-block;

}

.recommend-top img,
.recommend-top p {
    float: left;
    margin-left: 15px;
}

.recommend-top-nav li,
.recommend-top-nav a span {
    float: left;
    margin-top: 5px;
    width: 52px;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    margin-right: 5px;
}

.recommend-top-nav-more {
    position: absolute;
    top: 13px;
    right: 12px;
}

.recommend-top-nav li:hover {
    transition: background 0.3s;
    background: #e67f2b;
    color: #fff;
}

.recommend-top p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 3px;
}

.recommend-top {
    height: 36px;
    border-bottom: #fd676b 1px solid;
    width: 100%;
}

.recommend-top-nav {
    float: right;
    width: 290px;
    position: relative;
}

.recommend-content {
    clear: both;
    z-index: 9999;
    width: 100%;
    float: left;
    margin-right: 7px;
}


.recommend-content-time {
    float: right;
    font-size: 13px;
    color: #666;
    margin-top: 5px;
}

.recommend-content-address {
    float: left;
    font-size: 13px;
    color: #666;
    margin-top: 5px;
}

.recommend-content-title {
    width: 250px;

    height: 50px;
    position: absolute;
    z-index: 0;
    /*border:1px #e5e5e5 solid;*/
    padding: 20px 17px 0px 17px;
}

/*---------------行业推荐阴影--------------*/
.recommend-content-details:hover {

    box-shadow: -1px 1px 10px -2px rgba(0, 0, 0, 0.1), 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
}

.recommend-content-details img:hover {
    transform: scale(1.2);

    /*------------------------------*/

}

.recommend-content-details {
    /*width: 468px;*/
    width: 287px;
    height: 370px;
    float: left;
    overflow: hidden;
    border: 1px #e5e5e5 solid;
    margin-bottom: 13px;
}

.recommend-content-details img {
    /*border:1px #e5e5e5 solid;*/
    /*	height: 175px;
	width: 227px;*/
}

.recommend-content-details-img {
    cursor: pointer;
    transition: all 0.6s;
    width: 470px !important;
}

.recommend-content-title-head {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    margin-top: -5px;
    height: 42px;
    margin-bottom: 8px;
    /**不换行**/
    color: #333;
}

.content-details-left {
    margin-right: 13px;

}

/*.content-details-left-2{
	margin-right:13px;	
}*/
.xwzx-style {
    height: 210px;
    text-align: center;
}

.recommend-content-title-width {
    width: 436px;
    height: 56px;
}

.recommend-content-title-width-2 {
    width: 250px;
    padding: 22px 17px 0px 17px;
}

.recommend-hot {
    float: left;
    width: 228px;
}

.recommend-hot-details ul li {
    font-size: 13px;
    float: left;
    margin-right: 22px;
    color: #666666;
    margin-top: 11px;
    text-align: center;
}

.recommend-hot-details ul li:hover {
    transition: color .3s;
    color: #DE3131
}

.recommend-hot-details ul {
    margin-top: 14px;
    width: 100%;
    padding: 0 2px;
}

.recommend-content-a {
    overflow: hidden;
    width: 470px;
    height: 175px;
}

/*---------------放大-----------------*/
.recommend-content-details img {
    cursor: pointer;

    width: 100%;
    transition: all 0.6s;
}

.recommend-content-details:hover img {
    transform: scale(1.2);
}

/*-----------------------------*/
.recommend-content-title a p:hover {
    transition: color .3s;
    color: #DE3131;
}

.recommend-content-details:hover .recommend-content-title-head {
    transition: color .3s;
    color: #DE3131;

}

.recommend-hot-details {
    height: 490px;
    border: 1px #e5e5e5 solid;
    margin-bottom: 13px;
}

.recommend-hot-title {

    height: 20px;
    margin-top: -15px;
    position: absolute;
    z-index: 0;
    /*border:1px #e5e5e5 solid;*/
    padding: 20px 17px 0px 18px;
    width: 192px;

}

.recommend-hot-title-more {
    position: absolute;
    top: 22px;
    right: 25px;
}

.recommend-hot-address,
.recommend-hot-time {
    margin-top: 0px;
}

.recommend-hot-time {
    font-size: 13px !important;
    margin-right: 20px;
}

/*城市推荐*/
.city {
    padding-top: 25px !important
}

.city-top {
    border-bottom: #DE3131 1px solid !important;
}

/*城市推荐*/

/*热门展馆*/
.pavilion {
    width: 227px;
    height: 210px;
    text-align: center;
}

.recommend-pavilion {
    width: 100%;
    margin-right: 0px !important;
}

.pavilion-content-title {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 1));
    height: 20px;
    margin-top: -15px;
    position: absolute;
    z-index: 0;
    /*border:1px #e5e5e5 solid;*/
    padding: 20px 17px 0px 17px;
}

.pavilion-content-title-head {
    font-size: 14px;
    color: #333;
}

.pavilion-content-title-width-2 {
    width: 193px;
    margin-top: -15px;
    padding: 22px 17px 0px 17px;
}

.pavilion-content-title a p:hover {
    transition: color .3s;
    color: #DE3131;
}

.pavilion-top-nav-li {
    float: right !important;
    width: 60px !important;
}

/*热门展馆*/

.Nav-imgNav-img {
    width: 950px;
    height: 403px;
    float: left;
}

.recommend-general {
    width: 382px;
    height: 370px;
    margin-right: 18px;
    display: inline-block;
    text-align: center;

    border: 1px #e5e5e5 solid;
}

.recommend-general1 {
    width: 382px;
    height: 370px;

    display: inline-block;
    text-align: center;

    border: 1px #e5e5e5 solid;
}

.recommend-general-top,
.recommend-general1-top {
    width: 345px;
    height: 30px;
    padding-top: 25px;
    display: inline-block;

}

.recommend-general-top span,
.recommend-general1-top span {
    float: left;
    /*font-weight: 600;*/
    font-size: 16px;
}

.recommend-general-top a span,
.recommend-general1-top a span {
    float: right;
    font-weight: 500;
    font-size: 14px;
    color: #666666;
}

.recommend-general-top a span img,
.recommend-general1-top a span img {
    padding-left: 5px;
}

.recommend-general .img,
.recommend-general1 .img {
    width: 345px;
    background: url(../images/01_79.jpg)no-repeat center left;
    display: inline-block;

    height: 145px;
}

.recommend-general .img span,
.recommend-general1 .img span {
    color: #ffffff;
    font-size: 15px;
    display: inline-block;
    letter-spacing: 0.5px;
    margin-top: 120px;
}

.recommend-general ul,
.recommend-general1 ul {
    display: inline-block;
    width: 345px;

}

.recommend-general ul li,
.recommend-general1 ul li {
    padding-top: 20px;
}

.recommend-general ul li a,
.recommend-general1 ul li a {
    font-size: 14px;
    width: 250px;
    padding-left: 2px;
    text-align: left;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /**不换行**/
    float: left;
}

.recommend-general ul li span,
.recommend-general1 ul li span {
    padding-left: 50px;
    font-size: 14px;
}

.recommend-general ul li a:hover,
.recommend-general1 ul li a:hover {
    color: #DE3131;
    transition: color .3s;
}

.index-bottom {
    width: 100%;
    margin-top: 25px;
    margin-left: 15px;

    display: inline-block;
    padding-bottom: 30px;
}

.index-bottom-block {
    width: 370px;


    text-align: center;
    margin-right: 16px;
    height: 120px;
    background-color: #f7f7f8;
    display: inline-block;

}

.index-bottom-block ul li {
    font-size: 14px;
    padding-bottom: 10px;
    color: #666666;
}

.index-bottom-block ul {
    width: 130px;
    margin-top: 35px;

    float: left;
}

.index-bottom-block img {
    float: left;
    padding-top: 35px;
    padding-right: 40px;
    padding-left: 70px;
}

.index-bottom-block .span {
    font-size: 16px;
    color: #666666;
    margin-top: 20px;
    padding-left: 20px;
    float: left;
}

.index-bottom-block .index-bottom-1 {
    font-weight: 600;
    color: #666666;
    font-size: 24px;
}

.index-footer {
    margin-top: 50px;
    height: 65px;
    background-color: #3c3c3c;
    border-bottom: 1px solid #565656;
    width: 100%;

    float: left;
    text-align: center;

}

.recommend-top h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 3px;
}

.recommend-top h1 {
    float: left;
    margin-left: 15px;
}

.index-footer-last-bottom {
    display: inline-block;
    width: 1200px;
    padding-top: 40px;


    color: #cccccc;
}

.index-footer-bottom {
    display: inline-block;
    width: 1200px;
    padding-top: 25px;
    color: #cccccc;

}

.list {
    width: 20px;
    height: 30px;
    text-align: right;
}

.index-footer-last-bottom ul {
    margin-bottom: 20px;
    height: 14px !important;
}

.index-footer-bottom ul,
.index-footer-last-bottom ul {
    float: left;
    display: inline-block;
}

.index-footer-bottom ul li,
.index-footer-last-bottom ul li {
    float: left;
    color: #cccccc;
    font-size: 14px;
    padding-right: 20px;
}

.index-footer-bottom ul li:hover {
    transition: color .3s;
    color: #fff;
}

.index-footer-last-bottom ul a li:hover {
    transition: color .3s;
    color: #fff;
}

.index-footer-last {
    margin-top: 40px;

    height: 180px;


    background-color: #3c3c3c;
    width: 100%;

    float: left;
    text-align: center;

}

.index-footer-last-img {
    float: right;
    margin-top: -75px;
}

.index-footer-last span {
    float: left;
    font-size: 13px;
    display: inline-block;

    color: #cccccc;
    padding-right: 30px;
    margin-top: 10px;


}

.index-footer-last-title-tel {
    width: 190px;
    height: 40px;
    margin-top: 35px;
}

.index-footer-last-title-tel img {
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -3px;
    float: left;
}

.index-footer-last-title-tel p {
    font-size: 24px;

    width: 230px;
    color: #cccccc;
    margin-top: 15px;
}

.index-footer-button {
    width: 95px;
    height: 35px;
    text-align: center;

    margin-bottom: 20px;

    border: 1px solid #DE3131;
}

.index-footer-button1 {
    width: 160px;
    margin-top: -75px;
    text-align: center;
    float: right;


}

.index-footer-button-span a {

    color: #DE3131;
    padding-top: 11px;
    display: inline-block;
    font-size: 13px;

}

/*----------------------二级菜单-------------------------*/
#menu {
    width: 1200px;

    height: 404px;
    position: absolute;
    top: 217px;
    z-index: -1;
    /*display: none; */
}

#menu li {
    color: #666;
}

.menu-nav {
    position: absolute;
    /*right: 3px;*/
    /*z-index: -99;*/
    width: 230px;
    height: 398px;
    float: left;
    padding-top: 5px;
    background: rgba(248, 247, 247, 0.95);
    display: none;
}

.menu-nav-ul {


    height: 40px;
    width: 230px;
}

.menu-nav-backgroundcolor {
    background: #f2dfd0;
}

.menu-nav-ul li {
    float: left;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 57px;
    text-align: center;
}

.menu-nav-ul li:hover {
    color: #DE3131 !important;
    transition: color 0.3s;
}

.menu-context-ul li {
    width: 87px;
    height: 33px;
    background: #f2dfd0;
    font-size: 14px;
    float: left;
    margin-right: 24px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 33px;
}

.menu-context-ul li:hover {
    background: #DE3131;
    color: #fff !important;
    transition: background 0.3s;
}

.menu-context {

    display: none;
    background: rgba(248, 247, 247, 0.95);
    float: left;
    padding: 30px 10px 30px 45px;
    height: 342px;
    width: 912px;
    position: absolute;
    right: 3px;
    z-index: -9999;
}

.menu-context-ul {
    width: 900px;
}

/*--------------------------------------------*/
.pavilion-img {
    width: 287px;
    height: 267px;
    overflow: hidden;
}

.bigimg {
    width: 470px !important;
}

/*--------分页----------*/
.pagination-footer {
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
}

.pagination-footer .active {
    border-left: 1px solid #ddd;
    display: inline-block;
    padding: 10px 14px;
}

.pagination-footer .active1 {

    display: inline-block;
    padding: 10px 14px;
}

.pagination-footer .second {
    border-left: 1px solid #ddd;
    margin-left: 10px;
    padding: 10px 14px;
    margin-right: 10px;
    display: inline-block;
}

.pagination-footer .first {
    border-left: 1px solid #ddd;
    margin-left: 10px;
    padding: 10px 14px;
    margin-right: 10px;
    display: inline-block;

}

.pagination-footer .last {
    margin-right: 10px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    display: inline-block;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    font-size: 14px;
    color: #888888;
    float: left;

    text-decoration: none;
    transition: background-color .3s;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/*ul.pagination li a {
    color: black;
    float: left;
    font-size: 14px;
    color: #888888;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}*/

.pagination .active {}

ul.pagination li a:hover {
    background-color: #DE3131;
    color: #ffffff;
}

.pagination_li_on {
    background-color: #DE3131;
    color: #ffffff !important;
}

.active {}

/*-------------新闻详情页----------*/
.news-details {
    width: 100%;
    margin-top: 40px;
    display: inline-block;
    border-left: 3px solid #DE3131;
    height: 40px;
}

.news-details-xiao {
    width: 1196px;
    height: 37px;
    display: inline-block;
    margin-left: 3px;
    background: url(../images/6666.png)no-repeat center left;

    border-bottom: 2px solid #DE3131;

}

.news-details-xiao ul {
    padding-top: 10px;
    padding-left: 15px;

}

.news-details-xiao ul li {
    float: left;
    padding-right: 80px;
    color: #666;
    font-size: 18px;
}

.news-details-xiao ul li a {
    color: #666;
    font-size: 18px;
}

.news-details-xiao .first-child {
    color: #fff;
}

.news-details-list {
    width: 100%;


    display: inline-block;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;

    float: left;

    border-right: 1px solid #e6e6e6;
}

.news-details-tu {
    height: 45px;
    width: 110px;
    margin-top: 45px;
    background: url(../images/huang1.png)no-repeat center left;
    margin-left: -7px;
}

.news-details-tu span {
    margin-top: 13px;
    font-size: 18px;
    display: inline-block;
    padding-left: 20px;
    color: #DE3131;
}

.ditie p {
    width: 98%;
    margin-left: 15px;
    font-size: 14px;
    margin-top: 15px;
    color: #666666;
    line-height: 25px;
}

.ditie .p2 {
    width: 98%;
    margin-left: 15px;
    margin-top: 10px;

    font-size: 14px;
    margin-bottom: 25px;
    color: #666666;
    line-height: 25px;

}

.ditie h2 {
    padding-left: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #666666;

}

.news-details-list p {
    width: 98%;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 14px;
    color: #666666;
    line-height: 35px;
}

.news-details-list .p1 {
    width: 98%;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 14px;
    color: #666666;
    line-height: 35px;
}

.news-details-list h1 {
    padding-left: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #666666;
    margin-top: 30px;


}

.news-details-tu-ul {
    display: inline-block;
    margin-top: 20px;
    padding-left: 15px;
}

.news-details-tu-ul li {
    float: left;
    height: 200px;
    width: 280px;
    padding-right: 15px;
}

.news-details-tu-ul li img {
    width: 100%;
}

.ditie {
    width: 500px;
    float: right;
    padding-left: 63px;
}

.news-details-shop {
    width: 100%;
    display: inline-block;

    padding-top: 30px;
    padding-bottom: 30px;


    text-align: center;

}

.news-screen-city-more {
    width: 950px;
    margin-top: -10px;
    line-height: 25px;
    display: none;
}

.news-screen-city-more li {
    line-height: 35px;

}

.news-screen-top-js {
    color: #DE3131 !important;
    transition: color .2s;
    background-color: #fbe5d3;
}

.news-screen-top-js-son {
    color: #DE3131 !important;
    transition: color .2s;
    background-color: #fbe5d3;
}

.news-details-shop ul {
    display: inline-block;


}

#js-news-screen-hover-ul1 {
    height: 35px;
}

.news-details-shop ul li {
    margin-right: 20px;
    padding: 15px 30px 15px 30px;
    border: 1px solid #DE3131;
    color: #DE3131;
    font-size: 14px;
    float: left;
}

.news-details-shop ul a li:hover {
    background-color: #DE3131;
    color: #ffffff;
    transition: background 0.3s;


}

.news-details-xiao ul li a:hover {
    color: #DE3131;
    transition: background 0.3s;

}

#js-2017,
#js-2018,
#js-gongye,
#js-dianzi,
#js-jiancai2,
#js-jiancai,
#js-2019 {
    display: none;
}

.index-footer-last-height {
    margin-bottom: 106px;
}

.box-nav_on {
    background-color: #DE3131 !important;
    color: #fff !important;
}

#zhanguan {
    display: none;
}

#js-city {
    width: 950px;
    height: 30px;
    overflow: hidden;
}

#js-city li {
    height: 30px;
}























.g-form {
    width: 100%;
    position: relative;
    top: -2px;
}

.g-form .imgs {
    width: 100%;
    position: relative;
    z-index: 2;
}

.g-form .imgs img {
    width: 100%;
    vertical-align: top;
}

.g-form .imgs .ftit {
    font-size: 40px;
    color: #DE3131;
    letter-spacing: 1.33px;
    font-weight: bold;
    line-height: 60px;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -30px;
    z-index: 2;
}

.g-form .imgs .ftit1 {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -85px;
    z-index: 2;
}

.g-form .imgs .ftit1 .titl {
    font-size: 40px;
    color: #DE3131;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 1.33px;
}

.g-form .imgs .ftit1 p {
    font-size: 20px;
    color: #3E3A39;
    letter-spacing: 0.67px;
    line-height: 26px;
    margin: 10px 0px;
}

.g-form .biao {
    width: 500px;
    margin: 0px auto;
    padding: 30px 0px 35px;
}

.g-form .biao.biao1 {
    width: 550px;
}

.g-form .biao.biao2 {
    width: 685px;
}

.g-form .biao .btit {
    font-size: 20px;
    color: #3E3A39;
    letter-spacing: 0.8px;
    line-height: 26px;
    margin-bottom: 35px;
}

.g-form .biao .btit span {
    font-size: 20px;
    color: #DE3131;
    letter-spacing: 0.8px;
    line-height: 26px;
}

.u-input {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.u-input .itit {
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin-bottom: 4px;
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.47px;
}

.u-input .itit span {
    color: #DE3131;
    margin: 0px 3px;
    position: relative;
    top: 4px;
    width: 8px;
    display: inline-block;
}

.u-input .itxt .txts {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 12px;
    color: #DE3131;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-align: right;
    margin: 0px;
    top: 0px;
    width: auto;
}

.u-input .itxt {
    width: 100%;
}

.u-input .itxt input {
    width: 93.7%;
    padding: 0px 3%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #BFBFBF;
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.47px;
    vertical-align: top;
    clear: initial;
    float: initial;
}

.u-input .itxt input.on {
    border: 1px solid #DE3131;
}

.u-input .itxt input.input1 {
    width: 280px;
    float: left;
}

.u-input .itxt textarea {
    width: 93.7%;
    padding: 10px 3%;
    height: 150px;
    line-height: 25px;
    border: 1px solid #BFBFBF;
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.47px;
    vertical-align: top;
    clear: initial;
}

.u-input .itxt textarea.on {
    border: 1px solid #DE3131;
}

.u-yanzheng {
    height: 32px;
    line-height: 32px;
    width: 170px;
    float: right;
    vertical-align: top;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.47px;
    text-align: center;
    background: #DE3131;
    cursor: pointer;
    color: #FFFFFF;
}

.u-yanzheng.f-disable {
    cursor: not-allowed;
}

.u-tijiao {
    width: 160px;
    height: 36px;
    margin: 35px auto 0px;
}

.u-tijiao input {
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #DE3131;
    font-size: 16px;
    cursor: pointer;
    color: #FFFFFF;
    letter-spacing: 0.53px;
    text-align: center;
}

.u-chenggong {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 15px;
}

.u-chenggong p {
    font-size: 30px;
    color: #3E3A39;
    letter-spacing: 1px;
}

.u-chenggong .cg {
    margin-bottom: 15px;
}

.u-chenggong img {
    width: 72px;
}

.u-txts {
    width: 100%;
    margin-bottom: 65px;
}

.u-txts p {
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.47px;
    text-align: justify;
    line-height: 35px;
}

.u-txts .ti {
    color: #DE3131;
}

.u-erweima {
    width: 100%;
    text-align: center;
}

.u-erweima img {
    width: 120px;
    border-radius: 5px;
    vertical-align: top;
    background: #d8d8d8;
    padding: 5px;
}

.u-erweima p {
    text-align: center;
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.47px;
    line-height: 50px;
}

.m-guanzhu {
    width: 100%;
    padding: 50px 0px;
}

.m-guanzhu .gtit {
    height: 24px;
    line-height: 24px;
    margin-bottom: 24px;
    width: 100%;
    font-family: MicrosoftYaHei;
    font-size: 18px;
    color: #3E3A39;
    letter-spacing: 0.72px;
}

.u-piao {
    width: 100%;
}

.u-piao .pt {
    line-height: 26px;
    font-size: 20px;
    color: #3E3A39;
    letter-spacing: 0.8px;
    margin-bottom: 20px;
    margin-left: 9px;
}

.u-piao .pt span {
    margin: 0px 10px;
    font-size: 22px;
}

.u-piao .piao {
    width: 100%;
}

.u-menpiao {
    margin-bottom: 30px;
    background: url(../images/p1.png)left top no-repeat;
    background-size: 100% 100%;
    padding: 55px 60px 57px 8px;
    position: relative;
}

.u-menpiao .mptit {
    height: 90px;
    background: url(../images/p2.png)left top no-repeat;
    background-size: auto 100%;
    overflow: hidden;
    padding-left: 40px;
    margin-bottom: 67px;
}

.u-menpiao .mptit p {
    font-size: 16px;
    color: #3E3A39;
    letter-spacing: 0.64px;
    line-height: 30px;
}

.u-menpiao .mptit p.tits {
    line-height: 36px;
    font-size: 28px;
    color: #DE3131;
    letter-spacing: 1.12px;
}

.u-menpiao .mpma {
    width: 116px;
    height: 116px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    right: 50px;
    top: 50%;
    margin-top: -58px;
    z-index: 99;
}

.u-menpiao .mpma img {
    width: 100%;
    height: 100%;
}

.u-menpiao .mpid {
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.56px;
    line-height: 24px;
    padding-left: 40px;
}

.u-menpiao .mpid span {
    font-size: 18px;
    color: #DE3131;
    letter-spacing: 0.56px;
    line-height: 19px;
}





.u-buzhou {
    width: 100%;
    margin-bottom: 40px;
    padding-top: 10px;
}

.u-buzhou .bu {
    float: left;
    text-align: center;
}

.u-buzhou .bu p {
    font-size: 14px;
    color: #8F8F8F;
    letter-spacing: 0.56px;
    text-align: center;
    line-height: 18px;
}

.u-buzhou .bu .shu {
    width: 20px;
    height: 20px;
    border: 1px solid #979797;
    border-radius: 50%;
    line-height: 18px;
    font-size: 12px;
    color: #8F8F8F;
    letter-spacing: 0.4px;
    margin: 0px auto 5px;
}

.u-buzhou .zhou {
    float: left;
    width: 156px;
    height: 1px;
    background: #979797;
    margin-top: 10px;
    margin-left: -5px;
    margin-right: -5px;
}

.u-buzhou .bu.ons p {
    color: #DE3131;
}

.u-buzhou .bu.ons .shu {
    border: 1px solid #DE3131;
    color: #DE3131;
}

.u-buzhou .zhou.ons {
    background: #DE3131;
}

.u-renshu {
    width: 100%;
    height: 31px;
    line-height: 31px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #3E3A39;
    letter-spacing: 0.53px;
    font-weight: bold;
}

.u-renshu span {
    display: inline-block;
    width: 31px;
    height: 29px;
    vertical-align: top;
    border: 1px solid #8F8F8F;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
}

.u-renshu span.rembtm {
    margin-left: 13px;
    font-size: 12px;
}

.u-renshu span.addbtm {
    margin-right: 13px;
    font-size: 20px;
}

.u-renshu input {
    width: 31px;
    height: 29px;
    background: #FFE0E0;
    border: 1px solid #DE3131;
    font-size: 20px;
    color: #DE3131;
    letter-spacing: 0.67px;
    text-align: center;
    padding: 0px;
    float: none;
    vertical-align: top;
    font-weight: bold;
    margin: 0px 5px;
}

.u-suopiao {
    width: 100%;
    margin-bottom: 35px;
}

.u-suopiao .sptit {
    background: #919191;
    width: 100%;
    height: 37px;
    line-height: 37px;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.53px;
    text-indent: 13px;
    margin-bottom: 20px;
}

.u-xiayibu {
    width: 160px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #DE3131;
    font-size: 16px;
    cursor: pointer;
    color: #FFFFFF;
    letter-spacing: 0.53px;
    text-align: center;
    margin: 35px auto 0px;
}

.u-tijiao.u-tijiao1 {
    width: 335px;
}

.u-tijiao.u-tijiao1 p {
    width: 158px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #DE3131;
    font-size: 16px;
    cursor: pointer;
    color: #DE3131;
    letter-spacing: 0.53px;
    text-align: center;
    float: left;
    margin-right: 15px;
}

.u-tijiao.u-tijiao1 p:hover {
    background: #DE3131;
    color: #fff;
}

.u-tijiao.u-tijiao1 input {
    border: 1px solid #DE3131;
    width: 158px;
    clear: initial;
}

.u-tijiao.u-tijiao1 input:hover {
    background: #fff;
    color: #de3131;
}

.m-suopiao .suo2 {
    display: none;
}

.m-suopiao .suo2 .u-input {
    margin-bottom: 30px;
}

.m-suopiao .suo2 .u-input .itit {
    font-size: 16px;
}

.u-input .itxt1 label {
    width: 100%;
    display: block;
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.4px;
    line-height: 30px;
}

.u-input .itxt1 input {
    height: 14px;
    background: #fff;
    border: 1px solid #dcdcdc;
    vertical-align: middle;
    margin-right: 7px;
    width: 14px;
    position: relative;
    top: -1px;
    padding: 0px;
    -webkit-appearance: checkbox;
}


.g-about {
    width: 100%;
}

.u-banner {
    width: 100%;
    position: relative;
}

.u-banner img {
    width: 100%;
    vertical-align: top;
}

.u-banner .w1200 {
    position: absolute;
    height: 100%;
    left: 50%;
    margin-left: -600px;
    top: 0px;
    z-index: 99;
}

.u-banner .txts {
    position: absolute;
    height: 38px;
    line-height: 38px;
    left: 290px;
    top: 50%;
    margin-top: -26px;
    z-index: 99;
    border-left: 5px solid #DE3131;
}

.u-banner .txts span {
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: 1.33px;
    font-weight: bold;
    margin-left: 15px;
    position: relative;
    top: -3px;
}

.g-center {
    width: 100%;
    padding: 25px 0px;
}

.m-czuo {
    width: 230px;
    float: left;
    border-top: 1px solid #CCCCCC;
}

.u-czuo {
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

.u-czuo .xian {
    width: 100%;
    height: 40px;
}

.u-czuo .xian span {
    float: right;
    margin: 12px 3px 0px;
    transition: all 0.5s ease 0s;
}

.u-czuo.ons .xian.xian1 span {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.u-czuo .xian p {
    margin-left: 3px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.47px;
    cursor: pointer;
}

.u-czuo.ons .xian p {
    color: #DE3131;
}

.u-czuo:hover .xian p {
    color: #DE3131;
}

.u-czuo .yin {
    height: 0px;
    overflow: hidden;
    width: 100%;
    transition: all 0.5s ease 0s;
}

.u-czuo.ons .yin {
    height: 140px;
}

.u-czuo .yin p a {
    font-size: 14px;
    margin-left: 3px;
    color: #3E3A39;
    line-height: 35px;
    letter-spacing: 0.47px;
}

.m-cyou {
    width: 910px;
    float: right;
}

.m-cyou .tit {
    font-size: 24px;
    font-weight: bold;
    color: #3E3A39;
    letter-spacing: 0.8px;
    margin-bottom: 15px;
    line-height: 35px;
}

.m-cyou .txt p {
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.47px;
    text-align: justify;
    line-height: 35px;
    margin-bottom: 35px;
}

.m-cyou .txt1 {
    margin-bottom: 40px;
}

.m-cyou .txt1 p {
    margin-bottom: 0px;
}


/*------------------百度地图样式--------------------------*/
.u-ditu1 {
    width: 100%;
    height: 480px;
    margin-bottom: 40px;
}

.u-ditu1 img {
    max-width: inherit;
}

.u-ditu1 #map {
    width: 100%;
    height: 100%;
}

.BMapLabel {
    left: 15px !important;
    top: -15px !important;
    padding: 5px !important;
    font-size: 16px !important;
    font-family: 'HelBdCn' !important;
}

.center {
    width: 252px !important;
}

.bottom {
    height: 25px !important;
}

.BMap_bubble_title {
    font-size: 16px !important;
    margin-bottom: 10px !important;
}

.BMap_bubble_content {
    font-size: 13px !important;
    line-height: 22px !important;
}

/*--------------------------------------------*/











.m-zxzuo {
    width: 880px;
    float: left;
}

.u-zztit a {
    height: 52px;
    line-height: 52px;
    margin-right: 80px;
    float: left;
    font-size: 18px;
    color: #3E3A39;
    letter-spacing: 0.6px;
}

.u-zztit a.ons {
    color: #DE3131;
    border-bottom: 3px solid #DE3131;
}

.u-zztit a:hover {
    color: #DE3131;
    border-bottom: 3px solid #DE3131;
}

.m-zxzuotxt {
    width: 100%;
    margin-bottom: 30px;
}

.u-zixun {
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid #E2E2E2;
}

.u-zixun .zimg {
    float: left;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.u-zixun .zimg img {
    width: 100%;
    height: 100%;
}

.u-zixun .ztxt {
    float: right;
    width: 650px;
    height: 200px;
    overflow: hidden;
}

.u-zixun .ztxt .zztit {
    width: 100%;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
    margin-bottom: 8px;
}

.u-zixun .ztxt .zztit a {
    font-size: 24px;
    color: #3E3A39;
    letter-spacing: 0.8px;
}

.u-zixun .ztxt .zztit a:hover {
    color: #DE3131;
}

.u-zixun .ztxt .zztxt {
    width: 100%;
    font-size: 14px;
    color: #8F8F8F;
    letter-spacing: 0.47px;
    text-align: justify;
    line-height: 24px;
    height: 91px;
    overflow: hidden;
}

.u-zixun .ztxt .time {
    width: 100%;
}

.u-zixun .ztxt .time span {
    font-size: 14px;
    color: #9B9B9B;
    letter-spacing: 0.47px;
    margin-right: 35px;
    line-height: 20px;
}

.u-more {
    width: 120px;
    margin-bottom: 20px;
    border: 1px solid #E2E2E2;
    text-align: center;
    transition: all 0.5s ease 0s;
}

.u-more p {
    font-size: 14px;
    color: #9B9B9B;
    letter-spacing: 0.53px;
    text-align: center;
    line-height: 28px;
}

.u-more:hover {
    border: 1px solid #DE3131;
    background: #DE3131;
}

.u-more:hover p {
    color: #fff;
}

.m-zxyou {
    width: 287px;
    float: right;
}

.u-zztit {
    width: 100%;
    border-bottom: 1px solid #E2E2E2;
}

.m-zxyou .zytit {
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid #E2E2E2;
    font-size: 18px;
    color: #3E3A39;
    letter-spacing: 0.6px;
    height: 55px;
    line-height: 55px;
}

.m-zxyou .zytit span {
    float: right;
    height: 55px;
    line-height: 55px;
}

.m-zxyou .zytit span a {
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.47px;
}

.m-zxyou .zytit span a:hover {
    color: #DE3131;
}

.recommend-content-details .recommend-content-address img {
    width: 10px;
    margin-right: 4px;
}

.recommend-content-details .recommend-content-time img {
    width: 10px;
    margin-right: 4px;
}

.m-zxyou .recommend-content-details {
    margin-bottom: 20px;
    height: auto;
}

.m-zxyou .recommend-content-details .pavilion-img {
    height: 210px;
}

.m-zxyou .recommend-content-details .pavilion-img img {
    width: 100%;
    height: 100%;
}

.m-zxyou .recommend-content-details .recommend-content-title {
    position: relative;
    padding: 20px 0px;
    margin: 0px auto;
    height: auto;
}

.m-zxyou .recommend-content-details .recommend-content-title-head {
    margin-bottom: 20px;
}

.u-pages {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.u-pages a {
    display: inline-block;
    border: 1px solid #E2E2E2;
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.5px;
    text-align: center;
    width: 40px;
    padding: 12px 0px;
    margin-left: -1px;
}

.u-pages a.on {
    color: #BFBFBF;
}

.u-pages a.a1 {
    width: 60px;
}

.u-pages a.a2 {
    padding: 9px 0px;
    font-size: 20px;
    top: 2px;
    position: relative;
    font-weight: bold;
    font-family: "\5b8b\4f53", "\u534e\u6587\u7ec6\u9ed1";
}

.u-pages a:hover {
    border: 1px solid #DE3131;
    background: #DE3131;
    color: #fff;
}

.u-pages a.ons {
    border: 1px solid #DE3131;
    background: #DE3131;
    color: #fff;
}

.u-zxtitle {
    width: 100%;
    margin-bottom: 25px;
}

.u-zxtitle .titl1 {
    width: 100%;
    border-bottom: 1px solid #E2E2E2;
    padding: 10px 0px;
    line-height: 35px;
    font-size: 24px;
    color: #3E3A39;
    letter-spacing: 0.8px;
    margin-bottom: 9px;
}

.u-zxtitle .time2 {
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    color: #8F8F8F;
    letter-spacing: 0.47px;
}

.u-zxtxts {
    width: 100%;
}

.u-zxtxts p {
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.47px;
    text-align: justify;
    line-height: 35px;
    margin-bottom: 35px;
}

.u-zxtxts img {
    max-width: 100%;
}

.u-huanye {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.u-huanye span {
    color: #DE3131;
    margin-right: 11px;
    line-height: 60px;
    font-size: 14px;
    color: #DE3131;
    letter-spacing: 0.47px;
}

.u-huanye .shang {
    border-bottom: 1px solid #E2E2E2;
}

.u-huanye a {
    font-size: 14px;
    color: #3E3A39;
    line-height: 60px;
    letter-spacing: 0.47px;
}

.u-huanye a:hover {
    color: #DE3131;
}

.u-fenxiang {
    width: 100%;
    margin-bottom: 50px;
}

.u-fenxiang .fxtit {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #E2E2E2;
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.47px;
    margin-bottom: 20px;
}

.u-fenxiang .fxtxt {
    width: 100%;
    height: 57px;
}

.u-fenxiang .fxtxt a {
    width: 57px;
    height: 57px;
    overflow: hidden;
    border-radius: 50%;
    background: #8F8F8F;
    margin: 0px 20px 0px 0px;
    line-height: 57px;
    text-align: center;
    float: left;
    padding-left: 0px;
    font-size: 0px;
}

.u-fenxiang .fxtxt a.bds_weixin {
    background: #8F8F8F url(../images/wx.png) left top no-repeat;
    background-size: 100%;
}

.u-fenxiang .fxtxt a.bds_weixin:hover {
    background: #8F8F8F url(../images/wx.png) left bottom no-repeat;
    background-size: 100%;
}

.u-fenxiang .fxtxt a.bds_qzone {
    background: #8F8F8F url(../images/qq.png) left top no-repeat;
    background-size: 100%;
}

.u-fenxiang .fxtxt a.bds_qzone:hover {
    background: #8F8F8F url(../images/qq.png) left bottom no-repeat;
    background-size: 100%;
}

.u-fenxiang .fxtxt a.bds_tsina {
    background: #8F8F8F url(../images/wb.png) left top no-repeat;
    background-size: 100%;
}

.u-fenxiang .fxtxt a.bds_tsina:hover {
    background: #8F8F8F url(../images/wb.png) left bottom no-repeat;
    background-size: 100%;
}

.u-fenxiang .fxtxt a.bds_douban {
    background: #8F8F8F url(../images/db.png) left top no-repeat;
    background-size: 100%;
}

.u-fenxiang .fxtxt a.bds_douban:hover {
    background: #8F8F8F url(../images/db.png) left bottom no-repeat;
    background-size: 100%;
}





.u-zgtit {
    width: 100%;
    border-bottom: 1px solid #E2E2E2;
    padding: 10px 0px;
}

.u-zgtit a {
    height: 29px;
    line-height: 29px;
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.47px;
    padding: 0px 8px;
    margin: 3px 10px 3px 0px;
    float: left;
}

.u-zgtit a.ons {
    background: #DE3131;
    color: #fff;
}

.u-zgtit a:hover {
    background: #DE3131;
    color: #fff;
}



.m-dizhi {
    width: 100%;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 10px;
    height: 70px;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}

.m-dizhi.ons {
    height: auto;
}

.m-dizhi .di1 {
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.47px;
    width: 30px;
    margin-right: 30px;
    float: left;
    vertical-align: top;
    padding: 13px 0px;
    cursor: pointer;
}

.m-dizhi .di1:hover {
    color: #DE3131;
}

.m-dizhi .di2 {
    width: 900px;
    float: left;
}

.m-dizhi .di2 span {
    height: 29px;
    line-height: 29px;
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.47px;
    padding: 0px 8px;
    margin: 3px 10px 3px 0px;
    float: left;
    cursor: pointer;
}

.m-dizhi .di2 span font {
    margin-left: 5px;
    font-size: 14px;
    color: #DE3131;
    letter-spacing: 0.47px;
    line-height: 19px;
}

.m-dizhi .di2 span.ons {
    background: #DE3131;
    color: #fff;
}

.m-dizhi .di2 span.ons font {
    color: #fff;
}

.m-dizhi .di2 span:hover {
    background: #DE3131;
    color: #fff;
}

.m-dizhi .di2 span:hover font {
    color: #fff;
}

.m-dizhi .di3 {
    font-size: 14px;
    padding: 13px 0px;
    color: #3E3A39;
    letter-spacing: 0.47px;
    width: 30px;
    float: right;
    vertical-align: top;
    cursor: pointer;
}

.m-dizhi .di3:hover {
    color: #DE3131;
}

.m-zgimg {
    width: 100%;
    background: #F3F3F3;
    padding: 31px 0px;
}

.m-zgimg .slideBox {
    width: 520px;
    height: 360px;
    position: relative;
    overflow: hidden;
    float: left;
}

.m-zgimg .slideBox .bd {
    position: relative;
    height: 100%;
    z-index: 0;
}

.m-zgimg .slideBox .bd li {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.m-zgimg .slideBox .bd img {
    width: 100%;
    height: 100%;
    display: block;
}

.m-zgimg .slideBox .hd {
    height: 15px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 15px;
    z-index: 1;
}

.m-zgimg .slideBox .hd ul {
    overflow: hidden;
    zoom: 1;
    float: left;
}

.m-zgimg .slideBox .hd ul li {
    float: left;
    margin: 0px 5px;
    width: 15px;
    height: 15px;
    background: url(../images/icon-6.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.m-zgimg .slideBox .hd ul li.on {
    background: url(../images/icon-7.png);
}

.m-zgimg .slideBox .prev,
.m-zgimg .slideBox .next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    display: block;
    width: 30px;
    z-index: 999;
    height: 30px;
}

.m-zgimg .slideBox .prev {
    left: 10px;
    background: url(../images/icon14.png);
    background-size: 30px 30px;
}

.m-zgimg .slideBox .next {
    right: 10px;
    background: url(../images/icon13.png);
    background-size: 30px 30px;
}

.m-zgimg .zgtit {
    width: 580px;
    height: 360px;
    float: right;
    display: table;
    line-height: 360px;
}

.m-zgimg .zgtit .zgtit1 {
    vertical-align: middle;
    display: table-cell;
    line-height: 30px;
}

.m-zgimg .zgtit .zgtit1 p {
    font-size: 18px;
    color: #3E3A39;
    letter-spacing: 0.6px;
    line-height: 24px;
    margin-bottom: 9px;
}

.m-zgimg .zgtit .zgtit1 .tis {
    font-size: 36px;
    color: #3E3A39;
    letter-spacing: 1.2px;
    line-height: 50px;
    margin-bottom: 40px;
    font-weight: bold;
}

.m-zgtit {
    width: 100%;
}

.m-productdetails {
    width: 100%;
}

.m-productdetails .titles {
    border-bottom: 1px solid #E2E2E2;
    position: relative;
    margin-bottom: 30px;
    margin-top: 10px;
}

.m-productdetails .titles .onetitle {
    height: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 18px;
    color: #3E3A39;
    letter-spacing: 0.6px;
    float: left;
    cursor: pointer;
    margin-right: 75px;
    border-bottom: 3px solid #fff;
}

.m-productdetails .titles .onetitle:hover {
    color: #DE3131;
    border-bottom: 3px solid #DE3131;
}

.m-productdetails .titles .targeted {
    color: #DE3131;
    border-bottom: 3px solid #DE3131;
}

.m-productdetails .contents {
    width: 100%;
    padding-bottom: 30px;
}

.m-productdetails .contents .onecontent {
    display: none;
    background-color: #fff;
}

.m-productdetails .contents .targeted {
    display: block;
}

.m-productdetails .contents p {
    font-size: 14px;
    color: #3E3A39;
    letter-spacing: 0.47px;
    text-align: justify;
    line-height: 35px;
    margin-bottom: 35px;
}

.m-productdetails .contents p.tite {
    font-size: 30px;
    color: #3E3A39;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.m-productdetails .contents p.imgs {
    max-width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.m-productdetails .contents img {
    max-width: 100%;
}

.m-productdetails .contents p.imgtit {
    font-size: 18px;
    color: #3E3A39;
    letter-spacing: 0.6px;
    text-align: center;
    margin-bottom: 15px;
    line-height: 24px;
}

.m-productdetails .contents p.imgtit img {
    vertical-align: top;
    height: 14px;
    margin: 5px;
}

.u-jiaotong {
    width: 100%;
    margin-bottom: 25px;
}

.u-jiaotong .zuo {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 25px;
    margin-top: 7px;
}

.u-jiaotong .zuo img {
    width: 100%;
}

.u-jiaotong .you {
    width: 1100px;
    float: left;
}

.u-jiaotong .you p {
    font-size: 14px;
    color: #00001B;
    letter-spacing: 0.28px;
    line-height: 26px;
    margin-bottom: 0px;
}

.u-jiaotong .you p.yp1 {
    font-weight: bold;
}

/*------------------百度地图样式--------------------------*/
.m-productdetails .contents .u-ditu {
    width: 100%;
    height: 500px;
    margin-top: 45px;
}

.m-productdetails .contents .u-ditu img {
    max-width: inherit;
}

.m-productdetails .contents .u-ditu #map {
    width: 100%;
    height: 100%;
}

.m-productdetails .contents .zhanhui {
    margin-top: 25px;
}

.m-productdetails .recommend-content-details {
    margin-bottom: 20px;
    height: auto;
}

.m-productdetails .recommend-content-details .pavilion-img {
    height: 210px;
}

.m-productdetails .recommend-content-details .pavilion-img img {
    width: 100%;
    height: 100%;
}

.m-productdetails .recommend-content-details .recommend-content-title {
    position: relative;
    padding: 20px 0px;
    margin: 0px auto;
    height: auto;
}

.m-productdetails .recommend-content-details .recommend-content-title p {
    margin-bottom: 0px;
    line-height: 20px;
}

.m-productdetails .recommend-content-details p.recommend-content-title-head {
    margin-bottom: 20px;
    line-height: 20px;
}