* {
    margin: 0;
    padding: 0
}

.index {
    /*position: relative;*/
}

.news-details-content {
    float: left;
    padding-left: 40px;
    position: relative;
    width: 642px;
}

.news-details-content-title {
    color: #333333;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
}

.news-details-content-time,
.news-details-content-address {
    color: #666;
    font-size: 18px;
}

.news-details-content-time span,
.news-details-content-address span {
    color: #666;
    font-size: 14px;
}

.news-details-content-address {
    margin-top: 17px;
    margin-bottom: 58px;
}

.news-details-content-day {
    color: #666;
    float: 14px;
    margin-bottom: 60px;
}

.news-details-content-day span {
    color: #333;
    font-size: 24px;
    margin-left: 30px;
    margin-right: 30px;

}

.news-details-content a {
    width: 116px;
    height: 41px;
    border: #DE3131 solid 1px;
    font-size: 14px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: center;
    line-height: 41px;

    display: block;
    float: left;
}

.news-details-content-first {
    background: #DE3131;
    color: #fff;

}

.news-details-content-second {
    background: #fff;
    color: #DE3131;

}

.news-details-content-tips {
    color: #999999;
    font-size: 13px;
    clear: both;
    cursor: pointer;
    width: 145px;
}

.news-details-content a:hover {
    background: #DE3131;
    color: #fff;
    transition: all 0.3s;
}

.news-details-content-tips span {
    display: block;
    color: #DE3131;
    font-size: 13px;
    border: 1px #999 solid;
    border-radius: 8px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    float: left;
    margin-right: 6px;
    clear: both;
}

.news-details-Advertisement {
    clear: both;
    width: 100%;

    display: none;
    background: rgba(0, 0, 0, 0.7);
    /*广告背景透明度*/
    position: fixed;
    bottom: 0px;
    z-index: 99999;
}

.news-details-Advertisement-content {
    float: left;
}

.news-details-Advertisement-content-title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 24px;
    /*font-weight: bold;*/
}

.news-details-Advertisement-content-time {
    font-size: 14px;
    color: #DE3131;
}

.news-details-Advertisement-content-time span {
    display: block;
    float: right;
    margin-left: 100px;
    font-size: 14px;
    color: #DE3131
}

.news-details-Advertisement-1200 {
    width: 1200px;
    margin: 0 auto;
    padding: 25px 0px 35px 0px;
}

.news-details-Advertisement-sumbit {
    float: right;
}

.news-details-Advertisement-sumbit a {
    width: 116px;
    height: 41px;
    border: none;
    font-size: 14px;
    margin-bottom: 30px;
    margin-left: 20px;
    text-align: center;
    line-height: 41px;
    color: #DE3131;
    background: #6b6b6b;
    margin-top: 10px;
    display: block;
    float: left;
}

.news-details-Advertisement-first {}

.news-details-Advertisement-sumbit a:hover {
    background: #DE3131;
    color: #fff;
    transition: all 0.3s;
}

.news-details-Advertisement-sumbit_on {
    background: #DE3131 !important;
    color: #fff !important;
    transition: all 0.3s;
}

.news-details-content-tipsdetails {
    width: 500px;
    height: 140px;
    background-image: url('../images/tips.png');
    background-repeat: no-repeat;
    position: absolute;
    /*background-color: #000;*/
    right: 0px;
    top: 300px;
    font-size: 14px;
    color: #666;
    padding: 25px 0;
    z-index: 99;
    line-height: 30px;

    display: none;

}

.news-details-content-tipsdetails p {
    font-size: 14px;
    color: #666;
    line-height: 30px;
    padding-left: 35px;
    padding-right: 30px;
}

.shouzhi {
    vertical-align: middle;
    margin-left: 3px;
}

/*-----------------------------轮播--------------------------------*/
.next_btn {
    position: absolute;
    width: 30px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    opacity: 1;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.5);
    right: 10px;
    top: 43%;
    color: #fff;
    font-family: arial;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
    font-family: 宋体;
    font-weight: bold;
}

.prev_btn {
    position: absolute;
    width: 30px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    opacity: 1;
    vertical-align: middle;
    background: rgba(0, 0, 0, .5);
    left: 10px;
    top: 43%;
    color: #fff;
    font-family: 宋体;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
}

.news-details-lunbo {
    width: 518px;
    height: 365px;
    clear: both;
    float: left;
}

.slide {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 9;
    overflow: hidden;

}

.slide ul {
    width: 10000%;
    list-style-type: none
}

.slide ul:after {
    content: '';
    clear: both;
    display: block
}

.slide ul li {
    float: left;
    text-align: center;
}

.slide ul li img {
    vertical-align: middle;
    max-width: 100%;
    width: 100%;
}

.slide .circle_btn {
    position: absolute;
    bottom: 15px;
    text-align: center;
    left: 0;
    display: table;
    margin: 0 auto;
    width: 100%
}

.slide ul li img {
    vertical-align: middle;
    max-width: 100%
}

.slide .circle_btn {
    position: absolute;
    bottom: 15px;
    text-align: center;
    left: 0;
    display: table;
    margin: 0 auto;
    width: 100%
}

.slide .circle_btn button {
    box-sizing: content-box;
    opacity: .8;
    outline: 0;
    border: 0;
    padding: 3px 18px;
    background: rgba(153, 153, 153, .5);
    margin: 2px 5px;
    overflow: hidden;
    transition: all .6s;
    cursor: pointer
}

.slide .circle_btn button.active {
    background: rgba(237, 124, 33, 1)
}