@CHARSET "UTF-8";

.sc-calendar {
    min-width: 500px;
    min-height: 500px;
    text-align: center;
    font-family: "Microsoft Yahei";
    color: #4A4A4A;
    border: 1px solid #e6e4e0;
    border-left: 0px;
    border-bottom: 0px;
    float: left;
    margin-right: 20px;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    user-select: none;
    -webkit-text-size-adjust: none;
    font-size: 16px;
}

.sc-header {
    height: 40px;
    line-height: 40px;
    border-bottom: 0;
    border-left: 1px solid #e6e4e0;
}

.sc-body {
    /*height: 93%;*/
    clear: both;
}

.sc-week {
    height: 40px;
    line-height: 40px;
    font-weight: 400;
    font-size: 16px;
    color: #4A4A4A;
    background: #EFEFEF;
    ;
}

.sc-days {
    /*height: 88%;*/
}

.sc-header .wx-sp-a {
    margin: 0px 8px;
    cursor: pointer;
    font-size: 14px;
}

.sc-header .wx-sp-a .layui-badge-dot {
    margin-right: 4px;
    border-radius: 0px;
    width: 10px;
    height: 10px;
}

.sc-item {
    /*height: 20%;*/
    float: left;
    font-weight: 600;
    color: #565555;
    width: 14.285%;
    padding-top: 0px;
    background-color: #ffffff;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 1px solid #F1EBE4;
    border-left: 1px solid #F1EBE4;
    padding: 0px 0px 1px 1px;
    border-style: solid;
    box-sizing: border-box;
}

.sc-item .wx-day {}

/*//@-节气或阴历*/
.sc-item .wx-day .lunar-day {
    float: right;
}

.sc-mark .wx-mark {

    height: 68px;
    overflow: hidden;
}

.sc-item .wx-mark,
.layui-layer-tips .wx-mark {
    font-size: 12px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.sc-item .wx-mark .wx-mark-li,
.layui-layer-tips .wx-mark .wx-mark-li {
    list-style-type: none;
    text-align: left;
    padding: 0px 4px;
    font-size: 12px;
    font-weight: normal;
    line-height: 17px;
    height: 17px;
}

.sc-item .wx-mark .wx-mark-li p,
.layui-layer-tips .wx-mark .wx-mark-li p {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: normal;
    /*//@-强制不划行，且多余显示省略号。*/
    white-space: nowrap;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.layui-layer-tips .wx-mark-li p {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: normal;
    /*//@-强制不划行，且多余显示省略号。*/
    white-space: nowrap;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sc-item .wx-quan,
.layui-layer-tips .wx-quan {
    font-size: 12px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.sc-item .wx-quan .wx-mark-li,
.layui-layer-tips .wx-quan .wx-mark-li {
    list-style-type: none;
    text-align: left;
    padding: 0px 4px;
    font-size: 12px;
    font-weight: normal;
    line-height: 17px;
    height: 17px;
}

.sc-item .wx-quan .wx-mark-li p,
.layui-layer-tips .wx-quan .wx-mark-li p {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: normal;
    /*//@-强制不划行，且多余显示省略号。*/
    white-space: nowrap;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wx-mark-cr .wx-quan {
    display: none;
}

body .layui-layer-tips {
    width: auto !important;
    background: url(../images/icon16.png) left 10px no-repeat;
    background-size: 12px 20px;
    padding-left: 12px;
    margin-left: -20px;
    margin-top: -25px;

    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 350px;
}

body .layui-layer-tips .layui-layer-content {
    margin: 0px;
    border-radius: 5px;
    background: #EFEFEF;
    box-shadow: 0px 0px 6px 2px #c1bdbd;

}

body .layui-layer-tips .layui-layer-content>i {
    z-index: -1;
    /*border-bottom-color: white;*/
    display: none;
}

body .layui-layer-tips .wx-mark {
    padding: 7px 10px;
}

body .layui-layer-tips .wx-mark .wx-mark-li {
    margin: 4px 0px;
    /*background: white;*/
    color: black;
}

.none {
    display: none !important
}

body .wx-sp-a.wx-un-clicked,
.wx-un-clicked {
    color: #e8e8e8;
}

body .wx-sp-a.wx-un-clicked .layui-badge-dot {
    background: #e8e8e8 !important;
    background-color: #e8e8e8 !important;
}

.wx-body {
    width: auto;
    margin: 10px;
}

#calendar {
    width: auto;
    margin: 0px auto 25px;
}

/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/


/*
.sc-item:nth-child(7n) .wx-day, .sc-item:nth-child(7n+6) .wx-day {
    color: rgba(224, 8, 8, 0.74);
}*/

.sc-vocation {
    background-color: #FFEBEC;
}

/*//@-有备注的时候的样式*/
.sc-mark {
    /*background-color: #E5FBFA;*/
    overflow: hidden;
}

.sc-vocation:before {
    content: '休';
    display: block;
    position: absolute;
    font-size: 0.7em;
    width: 1.2em;
    font-weight: 100;
    color: white;
    background-color: #E00808;
    margin-top: -10px;
}

.sc-othermenth {
    color: #C1C0C0 !important;
}

.sc-othermenth .wx-day,
.sc-othermenth .lunar-day {
    color: #C7C7C7 !important;
    font-weight: normal;
}

/*//@-鼠标移入的样式哦*/
.sc-active-day,
.sc-selected {
    /*background-color: orange;*/
    /*color: white;*/
    /*border: 1px solid orange;*/
    border: 2px solid #DE3131;
    padding: 0px;
}

/*//@-今天的样式*/
.sc-today {
    /*background-color: orange;*/
    /*color: white !important;*/
    /*border: 1px solid orange;*/
    background: #DE3131;
    border: 1px solid #DE3131;
    color: white !important;
    padding: 0px;
}

.sc-today .wx-day .day {
    color: #fff;
}

.sc-today .wx-day .lunar-day {
    color: #fff;
}

.sc-item .wx-day {
    font-size: 14px;
    text-align: center;
    margin: 8px;
}

.sc-today .wx-mark .wx-mark-li p {
    color: #fff;
}

.sc-item .lunar-day {
    font-size: 12px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 14px;
}

.sc-festival .lunar-day {
    color: #E00808;
}

/*.sc-item:last-child, .sc-item:nth-child(7n) {
  border-width: 0 1px 1px 1px;
}*/

.sc-week-item {
    height: 100%;
    line-height: 40px;
    padding: 0px;
    float: left;
    width: 14.285%;
    font-size: 14px;
    border-width: 1px 0 1px 0px;
    border-color: #e9e9e9;
    border-style: solid;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sc-item-small {
    font-size: 10px !important;
}

.sc-week-item:last-child {
    border-width: 1px 1px 1px 1px;
}

/*
.sc-week-item:nth-child(7n), .sc-week-item:nth-child(7n+6) {
    color: rgba(224, 8, 8, 0.74) !important;
}*/

.sc-actions {
    float: left;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
}

.sc-actions:last-child {
    float: right;
}

.sc-actions-big {
    width: 24%;
}

body .sc-actions-big.sc-mark-sp {
    width: 48%;
    text-align: right;
    display: none;
}

@media screen and (max-width: 500px) {
    .sc-actions {
        width: 50%;
    }
}

.sc-header select {
    border-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Microsoft Yahei";
    color: #606060;
    font-size: 14px;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align-last: center;
    text-align: center;
    padding: 0px 32px;
}

.sc-header select option {

    text-align-last: center;
    padding-left: 20px;

}

.sc-header input {
    border-color: rgba(0, 0, 0, 0);
    padding: 0.2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Microsoft Yahei";
    color: #606060;
}

.sc-actions div {
    float: left;
    /*border: 1px solid #ccc;*/
    vertical-align: bottom;
    width: 20px;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
    vertical-align: top;
    position: relative;
}

.sc-actions div.u-nian {
    float: left;
    width: auto;
    padding: 0px;
    height: 40px;
    border-right: 1px solid #e6e4e0;
}

.sc-actions div.u-yue {
    float: left;
    width: auto;
    padding: 0px;
    height: 40px;
    border-right: 1px solid #e6e4e0;
}

.sc-actions div.sc-yleft,
.sc-actions div.sc-yright,
.sc-actions div.sc-mleft,
.sc-actions div.sc-mright {
    font-size: 1.5rem;
    position: absolute;
}

.sc-actions div.sc-yleft,
.sc-actions div.sc-mleft {
    left: 5px;
}

.sc-actions div.sc-yright,
.sc-actions div.sc-mright {
    right: 5px;
}

.sc-return-today {
    border: 2px solid #DE3131;
    /* border: 1px solid #ccc; */
    color: #DE3131;
    margin: 7px;
    width: 74px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    /*margin: auto;*/
    float: left;
    text-align: center;
    cursor: pointer;
}

.sc-return-today:hover {
    background: #DE3131;
    color: #fff;
}

.sc-time {
    margin-top: 3px;
    font-size: 0.8em;
    float: right;
}

.u-xingye {
    width: 100px;
    float: right;
    line-height: 40px;
}

.u-xingye .xing,
.u-quanbu .quanbu {
    background: url(../images/icon15.png) 80px center no-repeat;
    background-size: 10px 6px;
    padding: 0px 20px;
}

.u-quanbu {
    width: 100px;
    float: right;
    line-height: 40px;
    border-right: 1px solid #e6e4e0;
    border-left: 1px solid #e6e4e0;
    box-sizing: inherit;
}

.sc-mark .wx-mark-cr {
    height: 90px;
    cursor: pointer;
}

.sc-othermenth .wx-mark-cr {
    height: 0px;
}

.sc-othermenth .wx-mark {
    height: 0px;
}

.sc-othermenth .wx-day .day {
    color: #999;
}

.wx-day .day {
    font-size: 14px;
}

.sc-mark .wx-mark-cr.beijing {
    background: url(../images/icon15.png) center 75px no-repeat;
    background-size: 10px 6px;
}

.sc-today .wx-mark-cr.beijing {
    background: url(../images/icon17.png) center 75px no-repeat;
    background-size: 10px 6px;
}