.activity-ul li {
    float: left;

}

.activity-ul-li {
    margin-right: 16px;
}

.activity {
    margin-top: 30px;
}

.activity-bottom img {
    position: absolute;
    top: 5;
    z-index: -10;
}

.activity-bottom a {
    display: block;
    width: 100px;
    height: 32px;
    background: #e67f2b;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    margin-right: 10px;
    border: none;
    margin-top: 30px;
    float: left;
}

.activity-enter {
    float: right;
    margin-right: 20px;
}

.activity-bottom {
    clear: both;
    padding-top: 30px;
}

.recommend {
    clear: both;
    padding-top: 55px;
}

.recommend-top img,
.recommend-top h1 {
    float: left;
    margin-left: 15px;
}

.recommend-top-nav li,
.recommend-top-nav a span {
    float: left;
    margin-top: 5px;
    width: 52px;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    margin-right: 5px;
}

.recommend-top-nav a span,
.city-top-nav a span {
    color: #666;
}

.recommend-top-nav-more {
    position: absolute;
    top: 13px;
    right: 12px;
}

.recommend-top-nav-hover li:hover {
    transition: background 0.3s;
    background: #e67f2b;
    color: #fff;
}

.recommend-top h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 3px;
}

.recommend-top {
    height: 36px;
    border-bottom: #fd676b 1px solid;
    width: 100%;
}

.recommend-top-nav {
    float: right;
    width: 290px;
    position: relative;
}

.recommend-content {
    clear: both;
    width: 965px;
    float: left;
    margin-right: 4px;
}

.recommend-content-details {
    /*width: 468px;*/
    width: 226px;
    height: 238px;
    float: left;

}

.recommend-content-time {
    float: right;
    font-size: 13px;
    color: #666;
    margin-top: 10px;
}

.recommend-content-address {
    float: left;
    font-size: 13px;
    color: #666;
    margin-top: 10px;
}

.recommend-content-title {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    height: 50px;
    margin-top: -15px;
    position: absolute;
    z-index: 0;
    /*border:1px #e5e5e5 solid;*/
    padding: 20px 17px 0px 17px;
}

/*---------------行业推荐阴影--------------*/
.recommend-content-details:hover {
    box-shadow: -1px 1px 10px -2px rgba(0, 0, 0, 0.1), 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
}

.recommend-content-details img:hover {
    transform: scale(1.2);
}

.recommend-content-details {
    overflow: hidden;
    border: 1px #e5e5e5 solid;
    margin-bottom: 13px;
}

.recommend-content-details-img {
    cursor: pointer;
    transition: all 0.6s;
    width: 470px !important;
}

.recommend-content-title-head {
    font-size: 14px;
    color: #333;
}

.recommend-content-details:hover .recommend-content-title-head {
    transition: color .3s;
    color: #DE3131;

}

.content-details-left:hover .recommend-content-title a p {
    transition: color .3s;
    color: #DE3131;
}

.content-details-left {
    margin-right: 13px;

}

.xwzx-style {
    height: 210px;
    text-align: center;
}

.recommend-content-title-width {
    width: 436px;
    margin-top: -10px;
}

.recommend-content-title-width-2 {
    width: 192px;
    margin-top: -10px;
}


.recommend-hot {
    float: left;
    width: 229px;
}

.recommend-hot-details ul li {
    font-size: 13px;
    float: left;
    margin-right: 22px;
    color: #666666;
    margin-top: 11px;
    text-align: center;
}

.recommend-hot-details ul li:hover {
    transition: color .3s;
    color: #DE3131
}

.recommend-hot-details ul {
    margin-top: 14px;
    width: 100%;
    padding: 0 2px;
}

.recommend-content-a {
    overflow: hidden;
    width: 470px;
    height: 175px;
}

/*---------------放大-----------------*/
.recommend-content-details img {
    cursor: pointer;
    transition: all 0.6s;
}

.recommend-content-details:hover img {
    transform: scale(1.2);
}

.recommend-content-title a p:hover {
    transition: color .3s;
    color: #DE3131;
}

.recommend-hot-details {
    height: 490px;
    border: 1px #e5e5e5 solid;
    margin-bottom: 13px;
}

.recommend-hot-title {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    height: 20px;
    margin-top: -15px;
    position: absolute;
    z-index: 0;
    padding: 20px 17px 0px 18px;
    width: 192px;

}

.recommend-hot-title-more {
    position: absolute;
    top: 22px;
    right: 25px;
}

.recommend-hot-address,
.recommend-hot-time {
    color: #333;
    font-size: 14px;
    margin-top: 0px;
}

.recommend-hot-time {
    font-size: 13px !important;
    margin-right: 20px;
}

/*城市推荐*/
.city {
    padding-top: 25px !important
}

.city-top {
    border-bottom: #DE3131 1px solid !important;
}

/*热门展馆*/
.pavilion {
    width: 227px;
    height: 210px;
    text-align: center;
}

.recommend-pavilion {
    width: 100%;
    margin-right: 0px !important;
}

.pavilion-content-title {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    height: 20px;
    margin-top: -15px;
    position: absolute;
    z-index: 0;
    padding: 20px 17px 0px 17px;
}

.pavilion-content-title-head {
    font-size: 14px;
    margin-top: -3px;
    color: #333;
}

.pavilion-content-title-width-2 {
    width: 193px;
    margin-top: -15px;
    padding: 22px 17px 0px 17px;
}

.pavilion-content-title a p:hover {
    transition: color .3s;
    color: #DE3131;
}

.pavilion-top-nav-li {
    float: right !important;
    width: 60px !important;
    color: #666666;
}

/*热门展馆*/

.Nav-imgNav-img {
    width: 950px;
    height: 400px;
    margin-top: -1px;
    float: left;
}


.recommend-general {
    width: 382px;
    height: 370px;
    margin-right: 18px;
    display: inline-block;
    text-align: center;

    border: 1px #e5e5e5 solid;
}

.recommend-general1 {
    width: 382px;
    height: 370px;

    display: inline-block;
    text-align: center;

    border: 1px #e5e5e5 solid;
}

.recommend-general-top,
.recommend-general1-top {
    width: 345px;
    height: 30px;
    padding-top: 25px;
    display: inline-block;

}

.recommend-general-top span,
.recommend-general1-top span {
    float: left;
    font-weight: 600;
    /*font-weight: 600;*/
    font-size: 16px;
}

.recommend-general-top a span,
.recommend-general1-top a span {
    float: right;
    font-weight: 500;
    font-size: 14px;
    color: #666666;
}

.recommend-general-top a span img,
.recommend-general1-top a span img {
    padding-left: 5px;
}

.recommend-general .img,
.recommend-general1 .img {
    width: 345px;
    background: url(../images/01_79.jpg)no-repeat center left;
    display: inline-block;

    height: 145px;
}

.recommend-general .img span,
.recommend-general1 .img span {
    color: #ffffff;
    font-size: 15px;
    display: inline-block;
    letter-spacing: 0.5px;
    margin-top: 120px;
}

.recommend-general ul,
.recommend-general1 ul {
    display: inline-block;
    width: 345px;

}

.recommend-general ul li,
.recommend-general1 ul li {
    padding-top: 20px;
}

.recommend-general ul li a,
.recommend-general1 ul li a {
    font-size: 14px;
    width: 250px;
    padding-left: 2px;
    text-align: left;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

.recommend-general ul li span,
.recommend-general1 ul li span {
    padding-left: 50px;
    font-size: 14px;
}

.recommend-general ul li a:hover,
.recommend-general1 ul li a:hover {
    color: #DE3131;
    transition: color .3s;
}

.index-bottom {
    width: 100%;
    margin-top: 30px;
    display: inline-block;
    padding-bottom: 30px;
}

.index-bottom-block {
    width: 280px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    margin-right: 20px;
    background-color: #f7f7f8;
    display: inline-block;

}

.index-bottom-block1 {
    width: 280px;

    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;

    background-color: #f7f7f8;
    display: inline-block;

}

.index-bottom-block img,
.index-bottom-block1 img {
    float: left;
    padding-left: 60px;
}

.index-bottom-block .span,
.index-bottom-block1 .span {
    font-size: 16px;
    color: #666666;
    margin-top: 16px;
    padding-left: 20px;
    float: left;
}

.index-footer {
    margin-top: 30px;
    height: 65px;
    background-color: #3c3c3c;
    border-bottom: 1px solid #565656;
    width: 100%;

    float: left;
    text-align: center;

}

.index-footer-last-bottom {
    display: inline-block;
    width: 1200px;
    padding-top: 35px;

    height: 130px;
    color: #cccccc;
}

.index-footer-bottom {
    display: inline-block;
    width: 1200px;
    padding-top: 25px;
    color: #cccccc;

}

.index-footer-last-bottom ul {
    margin-bottom: 20px;
    height: 14px !important;
}

.index-footer-bottom ul,
.index-footer-last-bottom ul {
    float: left;
    display: inline-block;
}

.index-footer-bottom ul li,
.index-footer-last-bottom ul li {
    float: left;
    color: #cccccc;
    font-size: 14px;
    padding-right: 20px;
}

.index-footer-bottom ul li:hover {
    transition: color .3s;
    color: #fff;
}

.index-footer-last-bottom ul a li:hover {
    transition: color .3s;
    color: #fff;
}

.index-footer-last {


    background-color: #3c3c3c;
    width: 100%;

    float: left;
    text-align: center;

}

.index-footer-last-img {
    float: right;
    margin-top: -60px;
}

.index-footer-last span {
    float: left;
    font-size: 13px;
    display: inline-block;
    color: #cccccc;
    padding-right: 30px;
    margin-top: 23px;


}

.index-footer-last-banquan {
    margin-left: -40px;
}

.index-footer-last-title-tel {
    width: 190px;
    height: 40px;

}

.index-footer-last-title-tel img {
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -3px;
    float: left;
}

.index-footer-last-title-tel p {
    font-size: 24px;

    width: 230px;
    color: #cccccc;
    margin-top: 15px;
}

.index-footer-button {
    width: 95px;
    height: 35px;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #DE3131;

}

.index-footer-button:first-child {
    margin-top: -10px;
}

.index-footer-button1 {
    width: 160px;
    margin-top: -50px;
    text-align: center;
    float: right;

}

.index-footer-button-span a {

    color: #DE3131;
    padding-top: 11px;
    display: inline-block;
    font-size: 13px;

}

#menu {
    width: 1200px;
    height: 404px;
    position: absolute;
    top: 219px;
    z-index: -1;
    /*display: none; */
}

#menu li {
    color: #666;
}

.menu-nav {
    position: absolute;
    /*right: 3px;*/
    /*z-index: -99;*/
    width: 230px;
    height: 398px;
    float: left;
    padding-top: 5px;
    background: rgba(248, 247, 247, 0.95);
    display: none;
}

.menu-nav-ul {
    height: 40px;
    width: 230px;
}

.menu-nav-backgroundcolor {
    background: #f2dfd0;
}

.menu-nav-ul li {
    float: left;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 57px;
    text-align: center;
}

.menu-nav-ul li:hover {
    color: #DE3131 !important;
    transition: color 0.3s;
}

.menu-context-ul li {
    width: 87px;
    height: 33px;
    background: #f2dfd0;
    font-size: 14px;
    float: left;
    margin-right: 24px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 33px;
    color: #666;
}

.menu-context-ul li:hover {
    background: #DE3131;
    color: #fff !important;
    transition: background 0.3s;
}

.menu-context {

    display: none;
    background: rgba(248, 247, 247, 0.95);
    float: left;
    padding: 30px 10px 30px 45px;
    height: 342px;
    width: 912px;
    position: absolute;
    right: 3px;
    z-index: -9999;
}

.menu-context-ul {
    width: 900px;
}

.pavilion-img {
    width: 226px;
    height: 175px;
    overflow: hidden;
}

.bigimg {
    width: 470px !important;
}

#js-twiceTime {
    display: none;
}

.js-recommend-nav_on {
    background: #e67f2b;
    color: #fff;
}

.city-top-nav li,
.city-top-nav a span {
    float: left;
    margin-top: 5px;
    width: 52px;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    margin-right: 5px;
}

.city-top-nav-more {
    position: absolute;
    top: 13px;
    right: 12px;
}

.city-top-nav li:hover {
    transition: background 0.3s;
    background: #e67f2b;
    color: #fff;
}

.city-top-nav {
    float: right;
    width: 290px;
    position: relative;
}

#shanghai,
#shenzhen,
#guangdong,
#ganxi,
#qiche,
#motuo {
    display: none;
}

/*菜单宽高*/
.list {
    width: 20px;
    height: 30px;
    text-align: right;
}

/*--------------侧栏--------------------*/
.custom ul li {
    width: 45px;
    height: 45px;
    line-height: 55px;
    text-align: center;
    color: #fff;
    background: #efeff1;
    margin-bottom: 4px;
    border-radius: 5px;
    margin-left: 2px;
    /*padding-left: 2px;*/

}

.zhiding {
    line-height: 40px !important;
}

.custom ul li:hover {
    background: #DE3131;
    transition: background 0.3s;
}

.Online-custom {
    float: left;
    width: 108px;
}

.Online-custom a p {
    height: 45px;
    line-height: 47px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    width: 100%;
    background: #DE3131;
    border-radius: 5px;


    display: none;
}

.Online-custom a {
    height: 45px;
    width: 100%;
    display: block;
    margin-bottom: 4px;
}

.custom-SideNav {
    float: left;
}

.custom {
    position: fixed;
    right: 0px;
    top: 320px;
    z-index: 99999;
}

.box-nav_on {
    background-color: #DE3131 !important;
    color: #fff !important;
}

#zhanguan {
    display: none;
}